In [ ]:
%pip install snowflake-connector-python

In [ ]:
import os
# Leer variables de entorno
SNOWFLAKE_ACCOUNT = os.getenv('SNOWFLAKE_ACCOUNT')
SNOWFLAKE_USER = os.getenv('SNOWFLAKE_USER')
SNOWFLAKE_PASSWORD = os.getenv('SNOWFLAKE_PASSWORD')
SNOWFLAKE_DATABASE = os.getenv('SNOWFLAKE_DATABASE')
SNOWFLAKE_SCHEMA_ANALYTICS = os.getenv('SNOWFLAKE_SCHEMA_ANALYTICS', 'ANALYTICS')
SNOWFLAKE_WAREHOUSE = os.getenv('SNOWFLAKE_WAREHOUSE', 'COMPUTE_WH')

In [ ]:
# CONFIGURACIÓN INICIAL PARA VALIDACIONES
print("=== VALIDACIONES Y EXPLORACIÓN - OBT NYC TAXI ===")

# Conexión a Snowflake (reutilizar configuración del notebook anterior)
try:
    import snowflake.connector
    import time
    from datetime import datetime

    print("snowflake-connector-python disponible")

    # Configuración de conexión
    conn_config = {
        'user': SNOWFLAKE_USER,
        'password': SNOWFLAKE_PASSWORD,
        'account': SNOWFLAKE_ACCOUNT,
        'warehouse': SNOWFLAKE_WAREHOUSE,
        'database': SNOWFLAKE_DATABASE,
        'schema': SNOWFLAKE_SCHEMA_ANALYTICS
    }

    def execute_snowflake_sql(sql_query, fetch_results=True):
        """
        Ejecuta SQL directamente en Snowflake con resultados
        """
        try:
            conn = snowflake.connector.connect(**conn_config)
            cursor = conn.cursor()

            cursor.execute(sql_query)

            if fetch_results:
                results = cursor.fetchall()
                columns = [desc[0] for desc in cursor.description]
                return results, columns
            else:
                rows_affected = cursor.rowcount
                print(f" SQL ejecutado. Filas afectadas: {rows_affected:,}")
                return rows_affected, []

        except Exception as e:
            print(f"Error ejecutando SQL: {e}")
            return None, []
        finally:
            try:
                cursor.close()
                conn.close()
            except:
                pass

    def print_validation_results(title, results, columns):
        """Helper para mostrar resultados de validación"""
        print(f"\n{title}")
        print("=" * len(title))

        if not results:
            print("No se obtuvieron resultados")
            return

        # Imprimir resultados
        for row in results:
            if len(columns) == 2:  # Formato métrica: valor
                metric, value = row
                if isinstance(value, (int, float)):
                    if value == 0:
                        print(f"{metric}: {value:,}")
                    else:
                        print(f" {metric}: {value:,}")
                else:
                    print(f"{metric}: {value}")
            else:
                # Múltiples columnas
                print("   " + " | ".join([f"{col}: {val}" for col, val in zip(columns, row)]))

    print("Funciones de conexión y validación configuradas")

except ImportError:
    print("snowflake-connector-python no instalado")
    print("Instalar con: pip install snowflake-connector-python")

    def execute_snowflake_sql(sql_query, fetch_results=True):
        print("Connector no disponible. SQL para ejecutar manualmente:")
        print("-" * 60)
        print(sql_query)
        print("-" * 60)
        return None, []

    def print_validation_results(title, results, columns):
        print(f"{title}: Función no disponible sin connector")

print(" Configuración lista para validaciones en analytics.obt_trips")

=== VALIDACIONES Y EXPLORACIÓN - OBT NYC TAXI ===
snowflake-connector-python disponible
Funciones de conexión y validación configuradas
 Configuración lista para validaciones en analytics.obt_trips

## Validacion de nulos

In [5]:
# VALIDACIÓN 1: ANÁLISIS DE VALORES NULOS
print(" VALIDACIÓN 1: Análisis de Valores Nulos")
print("=" * 50)

# SQL para contar nulos en campos críticos
null_validation_sql = """
SELECT
    'trip_id' as campo,
    COUNT(*) - COUNT(trip_id) as nulos,
    ROUND((COUNT(*) - COUNT(trip_id)) * 100.0 / COUNT(*), 2) as pct_nulos
FROM analytics.obt_trips

UNION ALL

SELECT
    'pickup_datetime',
    COUNT(*) - COUNT(pickup_datetime),
    ROUND((COUNT(*) - COUNT(pickup_datetime)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

UNION ALL

SELECT
    'dropoff_datetime',
    COUNT(*) - COUNT(dropoff_datetime),
    ROUND((COUNT(*) - COUNT(dropoff_datetime)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

UNION ALL

SELECT
    'pu_zone',
    COUNT(*) - COUNT(pu_zone),
    ROUND((COUNT(*) - COUNT(pu_zone)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

UNION ALL

SELECT
    'do_zone',
    COUNT(*) - COUNT(do_zone),
    ROUND((COUNT(*) - COUNT(do_zone)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

UNION ALL

SELECT
    'service_type',
    COUNT(*) - COUNT(service_type),
    ROUND((COUNT(*) - COUNT(service_type)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

UNION ALL

SELECT
    'total_amount',
    COUNT(*) - COUNT(total_amount),
    ROUND((COUNT(*) - COUNT(total_amount)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

UNION ALL

SELECT
    'trip_distance',
    COUNT(*) - COUNT(trip_distance),
    ROUND((COUNT(*) - COUNT(trip_distance)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

UNION ALL

SELECT
    'avg_speed_mph',
    COUNT(*) - COUNT(avg_speed_mph),
    ROUND((COUNT(*) - COUNT(avg_speed_mph)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

UNION ALL

SELECT
    'tip_pct',
    COUNT(*) - COUNT(tip_pct),
    ROUND((COUNT(*) - COUNT(tip_pct)) * 100.0 / COUNT(*), 2)
FROM analytics.obt_trips

ORDER BY nulos DESC;
"""

try:
    results, columns = execute_snowflake_sql(null_validation_sql)

    print("ANÁLISIS DE NULOS POR CAMPO:")
    print("-" * 40)

    if results:
        for row in results:
            campo, nulos, pct_nulos = row
            if nulos == 0:
                print(f"{campo}: {nulos:,} nulos ({pct_nulos}%)")
            elif pct_nulos < 5:
                print(f"{campo}: {nulos:,} nulos ({pct_nulos}%) - Aceptable")
            else:
                print(f"{campo}: {nulos:,} nulos ({pct_nulos}%) - Crítico")

    print("\nINTERPRETACIÓN:")
    print("• 0% nulos: Campo completo")
    print("• <5% nulos: Aceptable para campos opcionales")
    print("• >5% nulos: Requiere investigación")

except Exception as e:
    print(f"Error en validación de nulos: {e}")

print("\n" + "="*50)

 VALIDACIÓN 1: Análisis de Valores Nulos
==================================================
ANÁLISIS DE NULOS POR CAMPO:
----------------------------------------
pu_zone: 9,080,986 nulos (1.08%) - Aceptable
do_zone: 7,908,067 nulos (0.94%) - Aceptable
avg_speed_mph: 4,466,224 nulos (0.53%) - Aceptable
trip_id: 0 nulos (0.00%)
pickup_datetime: 0 nulos (0.00%)
dropoff_datetime: 0 nulos (0.00%)
service_type: 0 nulos (0.00%)
total_amount: 0 nulos (0.00%)
trip_distance: 0 nulos (0.00%)
tip_pct: 0 nulos (0.00%)

INTERPRETACIÓN:
• 0% nulos: Campo completo
• <5% nulos: Aceptable para campos opcionales
• >5% nulos: Requiere investigación

==================================================

## Validacion de rangos y valores extremos

In [6]:
# VALIDACIÓN 2: ANÁLISIS DE RANGOS Y VALORES EXTREMOS
print("VALIDACIÓN 2: Análisis de Rangos y Valores Extremos")
print("=" * 60)

# SQL para validar rangos en campos numéricos
range_validation_sql = """
SELECT
    'trip_distance negativa' as validacion,
    COUNT(*) as registros_problematicos,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2) as porcentaje
FROM analytics.obt_trips
WHERE trip_distance < 0

UNION ALL

SELECT
    'trip_distance excesiva (>200 mi)',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE trip_distance > 200

UNION ALL

SELECT
    'total_amount negativo',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE total_amount < 0

UNION ALL

SELECT
    'total_amount excesivo (>$1000)',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE total_amount > 1000

UNION ALL

SELECT
    'passenger_count = 0',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE passenger_count = 0

UNION ALL

SELECT
    'passenger_count > 6',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE passenger_count > 6

UNION ALL

SELECT
    'velocidad > 150 mph',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE avg_speed_mph > 150

UNION ALL

SELECT
    'duración > 24 horas',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE trip_duration_min > 1440

UNION ALL

SELECT
    'duración < 1 minuto',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE trip_duration_min < 1

ORDER BY registros_problematicos DESC;
"""

try:
    results, columns = execute_snowflake_sql(range_validation_sql)

    print("VALIDACIONES DE RANGOS:")
    print("-" * 40)

    if results:
        total_problems = 0
        for row in results:
            validacion, problemas, porcentaje = row
            if problemas == 0:
                print(f"{validacion}: {problemas:,} casos ({porcentaje}%)")
            elif porcentaje < 1:
                print(f"{validacion}: {problemas:,} casos ({porcentaje}%) - Revisar")
            else:
                print(f"{validacion}: {problemas:,} casos ({porcentaje}%) - Crítico")
            total_problems += problemas

        print(f"\nRESUMEN: {total_problems:,} registros con problemas de rango")

except Exception as e:
    print(f"Error en validación de rangos: {e}")

print("\n" + "="*60)

VALIDACIÓN 2: Análisis de Rangos y Valores Extremos
============================================================
VALIDACIONES DE RANGOS:
----------------------------------------
passenger_count = 0: 5,733,919 casos (0.68%) - Revisar
velocidad > 150 mph: 145,158 casos (0.02%) - Revisar
trip_distance excesiva (>200 mi): 12,527 casos (0.00%) - Revisar
passenger_count > 6: 5,342 casos (0.00%) - Revisar
total_amount excesivo (>$1000): 724 casos (0.00%) - Revisar
trip_distance negativa: 0 casos (0.00%)
duración > 24 horas: 0 casos (0.00%)
duración < 1 minuto: 0 casos (0.00%)
total_amount negativo: 0 casos (0.00%)

RESUMEN: 5,897,670 registros con problemas de rango

============================================================

## Coherencia de fechas

In [7]:
# VALIDACIÓN 3: COHERENCIA TEMPORAL Y DE FECHAS
print(" VALIDACIÓN 3: Coherencia Temporal y de Fechas")
print("=" * 55)

# SQL para validar coherencia temporal
date_coherence_sql = """
SELECT
    'dropoff antes que pickup' as validacion,
    COUNT(*) as registros_problematicos,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2) as porcentaje
FROM analytics.obt_trips
WHERE dropoff_datetime <= pickup_datetime

UNION ALL

SELECT
    'pickup_date diferente a DATE(pickup_datetime)',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE pickup_date != DATE(pickup_datetime)

UNION ALL

SELECT
    'pickup_hour diferente a HOUR(pickup_datetime)',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE pickup_hour != HOUR(pickup_datetime)

UNION ALL

SELECT
    'day_of_week incoherente',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE day_of_week != DAYOFWEEK(pickup_datetime)

UNION ALL

SELECT
    'month incoherente',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE month != MONTH(pickup_datetime)

UNION ALL

SELECT
    'year incoherente',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE year != YEAR(pickup_datetime)

UNION ALL

SELECT
    'is_weekend incoherente',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE is_weekend != (DAYOFWEEK(pickup_datetime) IN (1, 7))

UNION ALL

SELECT
    'fechas futuras (>hoy)',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE pickup_date > CURRENT_DATE()

UNION ALL

SELECT
    'fechas muy antiguas (<2015)',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE pickup_date < '2015-01-01'

UNION ALL

SELECT
    'fechas muy futuras (>2025)',
    COUNT(*),
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM analytics.obt_trips), 2)
FROM analytics.obt_trips
WHERE pickup_date > '2025-12-31'

ORDER BY registros_problematicos DESC;
"""

try:
    results, columns = execute_snowflake_sql(date_coherence_sql)

    print(" VALIDACIONES DE COHERENCIA TEMPORAL:")
    print("-" * 45)

    if results:
        total_temporal_issues = 0
        for row in results:
            validacion, problemas, porcentaje = row
            if problemas == 0:
                print(f" {validacion}: {problemas:,} casos ({porcentaje}%)")
            elif porcentaje < 0.1:
                print(f"  {validacion}: {problemas:,} casos ({porcentaje}%) - Mínimo")
            else:
                print(f" {validacion}: {problemas:,} casos ({porcentaje}%) - Crítico")
            total_temporal_issues += problemas

        print(f"\n RESUMEN: {total_temporal_issues:,} problemas de coherencia temporal")

except Exception as e:
    print(f" Error en validación de coherencia: {e}")

# Análisis de rango temporal general
print("\n ANÁLISIS DE RANGO TEMPORAL:")
print("-" * 35)

temporal_range_sql = """
SELECT
    MIN(pickup_date) as fecha_minima,
    MAX(pickup_date) as fecha_maxima,
    DATEDIFF('day', MIN(pickup_date), MAX(pickup_date)) as dias_total,
    COUNT(DISTINCT pickup_date) as dias_con_datos,
    COUNT(DISTINCT CONCAT(year, '-', LPAD(month, 2, '0'))) as meses_con_datos
FROM analytics.obt_trips;
"""

try:
    results, columns = execute_snowflake_sql(temporal_range_sql)

    if results:
        row = results[0]
        fecha_min, fecha_max, dias_total, dias_con_datos, meses_con_datos = row

        print(f" Período detectado: {fecha_min} a {fecha_max}")
        print(f" Rango válido esperado: 2015-2025")
        print(f" Días totales: {dias_total:,}")
        print(f" Días con datos: {dias_con_datos:,}")
        print(f" Meses con datos: {meses_con_datos:,}")

        # Advertencia si hay fechas fuera de rango
        from datetime import date
        if fecha_min and (fecha_min < date(2015, 1, 1) or fecha_max > date(2025, 12, 31)):
            print(f" ¡ADVERTENCIA! Fechas fuera del rango válido 2015-2025")

        cobertura = (dias_con_datos / dias_total) * 100 if dias_total > 0 else 0
        print(f" Cobertura temporal: {cobertura:.1f}%")

except Exception as e:
    print(f" Error en análisis temporal: {e}")

print("\n" + "="*55)

 VALIDACIÓN 3: Coherencia Temporal y de Fechas
=======================================================
 VALIDACIONES DE COHERENCIA TEMPORAL:
---------------------------------------------
  fechas muy antiguas (<2015): 3,004 casos (0.00%) - Mínimo
  fechas muy futuras (>2025): 47 casos (0.00%) - Mínimo
  fechas futuras (>hoy): 47 casos (0.00%) - Mínimo
 pickup_hour diferente a HOUR(pickup_datetime): 0 casos (0.00%)
 dropoff antes que pickup: 0 casos (0.00%)
 month incoherente: 0 casos (0.00%)
 year incoherente: 0 casos (0.00%)
 is_weekend incoherente: 0 casos (0.00%)
 day_of_week incoherente: 0 casos (0.00%)
 pickup_date diferente a DATE(pickup_datetime): 0 casos (0.00%)

 RESUMEN: 3,098 problemas de coherencia temporal

 ANÁLISIS DE RANGO TEMPORAL:
-----------------------------------
 Período detectado: 2001-01-01 a 2098-09-11
 Rango válido esperado: 2015-2025
 Días totales: 35,682
 Días con datos: 3,955
 Meses con datos: 174
 ¡ADVERTENCIA! Fechas fuera del rango válido 2015-2025
 Cobertura temporal: 11.1%

=======================================================

## Conteos por mes y servicio

In [8]:
# VALIDACIÓN 4: DISTRIBUCIÓN POR MES Y SERVICIO
print("VALIDACIÓN 4: Distribución por Mes y Servicio")
print("=" * 55)

# Análisis por tipo de servicio
print(" DISTRIBUCIÓN POR TIPO DE SERVICIO:")
print("-" * 40)

service_distribution_sql = """
SELECT
    service_type,
    COUNT(*) as total_viajes,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) as porcentaje,
    ROUND(AVG(total_amount), 2) as tarifa_promedio,
    ROUND(AVG(trip_distance), 2) as distancia_promedio,
    ROUND(AVG(tip_pct), 1) as propina_promedio_pct
FROM analytics.obt_trips
GROUP BY service_type
ORDER BY total_viajes DESC;
"""

try:
    results, columns = execute_snowflake_sql(service_distribution_sql)

    if results:
        for row in results:
            service, viajes, pct, tarifa, distancia, propina = row
            print(f"{service.upper()}:")
            print(f"   Viajes: {viajes:,} ({pct}%)")
            print(f"   Tarifa promedio: ${tarifa}")
            print(f"   Distancia promedio: {distancia} mi")
            print(f"   Propina promedio: {propina}%")
            print()

except Exception as e:
    print(f"Error en distribución por servicio: {e}")

# Análisis por mes
print("DISTRIBUCIÓN POR MES:")
print("-" * 30)

monthly_distribution_sql = """
SELECT
    year,
    month,
    month_name,
    COUNT(*) as total_viajes,
    COUNT(CASE WHEN service_type = 'yellow' THEN 1 END) as yellow_trips,
    COUNT(CASE WHEN service_type = 'green' THEN 1 END) as green_trips,
    ROUND(AVG(total_amount), 2) as tarifa_promedio,
    ROUND(SUM(total_amount), 2) as revenue_total
FROM analytics.obt_trips
GROUP BY year, month, month_name
ORDER BY year, month;
"""

try:
    results, columns = execute_snowflake_sql(monthly_distribution_sql)

    if results:
        total_revenue = 0
        print("Año | Mes | Viajes Total | Yellow | Green | Tarifa Prom | Revenue")
        print("-" * 70)

        years_with_errors = []
        for row in results:
            year, month, month_name, total, yellow, green, tarifa, revenue = row
            total_revenue += revenue or 0

            # Detectar años fuera del rango válido
            if year < 2015 or year > 2025:
                years_with_errors.append(year)
                print(f"{year} | {month:2d} | {total:,} | {yellow:,} | {green:,} | ${tarifa} | ${revenue:,.0f} ← AÑO ERRÓNEO!")
            else:
                print(f"{year} | {month:2d} | {total:,} | {yellow:,} | {green:,} | ${tarifa} | ${revenue:,.0f}")

        print("-" * 70)
        print(f" REVENUE TOTAL: ${total_revenue:,.2f}")

        # Mostrar resumen de años erróneos
        if years_with_errors:
            unique_error_years = sorted(set(years_with_errors))
            print(f" AÑOS ERRÓNEOS DETECTADOS: {unique_error_years}")
            print(f" Total registros con años inválidos: {len(years_with_errors):,}")
            print(" Estos datos requieren limpieza - están fuera del rango 2015-2025")
        else:
            print(" Todos los años están en el rango válido 2015-2025")

except Exception as e:
    print(f" Error en distribución mensual: {e}")

# Análisis de consistencia temporal
print("\n CONSISTENCIA DE CONTEOS:")
print("-" * 35)

consistency_sql = """
SELECT
    'Total general' as metrica,
    COUNT(*) as valor
FROM analytics.obt_trips

UNION ALL

SELECT
    'Con trip_id único',
    COUNT(DISTINCT trip_id)
FROM analytics.obt_trips

UNION ALL

SELECT
    'Con natural_key',
    COUNT(DISTINCT natural_key)
FROM analytics.obt_trips

UNION ALL

SELECT
    'Yellow taxi',
    COUNT(*)
FROM analytics.obt_trips
WHERE service_type = 'yellow'

UNION ALL

SELECT
    'Green taxi',
    COUNT(*)
FROM analytics.obt_trips
WHERE service_type = 'green';
"""

try:
    results, columns = execute_snowflake_sql(consistency_sql)

    if results:
        for row in results:
            metrica, valor = row
            print(f" {metrica}: {valor:,}")

except Exception as e:
    print(f" Error en análisis de consistencia: {e}")

print("\n" + "="*55)

VALIDACIÓN 4: Distribución por Mes y Servicio
=======================================================
 DISTRIBUCIÓN POR TIPO DE SERVICIO:
----------------------------------------
YELLOW:
   Viajes: 776,718,444 (92.18%)
   Tarifa promedio: $18.73
   Distancia promedio: 5.66 mi
   Propina promedio: 17.2%

GREEN:
   Viajes: 65,924,389 (7.82%)
   Tarifa promedio: $15.79
   Distancia promedio: 7.14 mi
   Propina promedio: 9.8%

DISTRIBUCIÓN POR MES:
------------------------------
Año | Mes | Viajes Total | Yellow | Green | Tarifa Prom | Revenue
----------------------------------------------------------------------
2001 |  1 | 23 | 23 | 0 | $25.93 | $596 ← AÑO ERRÓNEO!
2001 |  2 | 1 | 1 | 0 | $3.8 | $4 ← AÑO ERRÓNEO!
2001 |  8 | 1 | 1 | 0 | $24.55 | $25 ← AÑO ERRÓNEO!
2002 |  2 | 11 | 11 | 0 | $17.9 | $197 ← AÑO ERRÓNEO!
2002 | 10 | 234 | 234 | 0 | $22.58 | $5,283 ← AÑO ERRÓNEO!
2002 | 12 | 43 | 43 | 0 | $31.06 | $1,336 ← AÑO ERRÓNEO!
2003 |  1 | 35 | 35 | 0 | $35.42 | $1,240 ← AÑO ERRÓNEO!
2003 |  3 | 1 | 1 | 0 | $3.31 | $3 ← AÑO ERRÓNEO!
2003 | 12 | 1 | 1 | 0 | $7.3 | $7 ← AÑO ERRÓNEO!
2004 |  4 | 1 | 1 | 0 | $12.3 | $12 ← AÑO ERRÓNEO!
2007 | 12 | 1 | 1 | 0 | $22.75 | $23 ← AÑO ERRÓNEO!
2008 |  8 | 2 | 2 | 0 | $10.13 | $20 ← AÑO ERRÓNEO!
2008 | 12 | 816 | 727 | 89 | $23.61 | $19,266 ← AÑO ERRÓNEO!
2009 |  1 | 1,499 | 1,226 | 273 | $19.98 | $29,951 ← AÑO ERRÓNEO!
2010 |  8 | 1 | 1 | 0 | $18.36 | $18 ← AÑO ERRÓNEO!
2010 |  9 | 326 | 0 | 326 | $18.36 | $5,984 ← AÑO ERRÓNEO!
2011 |  1 | 2 | 2 | 0 | $12.8 | $26 ← AÑO ERRÓNEO!
2011 |  2 | 2 | 2 | 0 | $14.98 | $30 ← AÑO ERRÓNEO!
2012 |  9 | 3 | 0 | 3 | $9.79 | $29 ← AÑO ERRÓNEO!
2014 | 11 | 1 | 1 | 0 | $52.38 | $52 ← AÑO ERRÓNEO!
2015 |  1 | 14,156,724 | 12,672,751 | 1,483,973 | $15.05 | $213,114,965
2015 |  2 | 13,924,851 | 12,374,782 | 1,550,069 | $15.28 | $212,739,880
2015 |  3 | 14,964,055 | 13,268,782 | 1,695,273 | $15.68 | $234,629,530
2015 |  4 | 14,631,778 | 12,993,009 | 1,638,769 | $15.88 | $232,352,284
2015 |  5 | 14,842,528 | 13,081,900 | 1,760,628 | $16.27 | $241,414,054
2015 |  6 | 13,867,058 | 12,253,536 | 1,613,522 | $16.19 | $224,520,494
2015 |  7 | 13,011,356 | 11,493,245 | 1,518,111 | $15.97 | $207,850,568
2015 |  8 | 12,568,280 | 11,059,911 | 1,508,369 | $15.99 | $200,907,394
2015 |  9 | 12,624,770 | 11,152,947 | 1,471,823 | $16.27 | $205,368,488
2015 | 10 | 13,843,068 | 12,236,936 | 1,606,132 | $16.31 | $225,836,671
2015 | 11 | 12,745,205 | 11,238,739 | 1,506,466 | $16.14 | $205,756,857
2015 | 12 | 12,972,074 | 11,388,947 | 1,583,127 | $16.13 | $209,274,743
2016 |  1 | 12,266,348 | 10,844,981 | 1,421,367 | $15.47 | $189,817,913
2016 |  2 | 12,802,636 | 11,315,129 | 1,487,507 | $15.42 | $197,441,993
2016 |  3 | 13,690,332 | 12,138,897 | 1,551,435 | $15.85 | $217,022,457
2016 |  4 | 13,376,708 | 11,856,853 | 1,519,855 | $16.01 | $214,191,248
2016 |  5 | 13,280,504 | 11,766,838 | 1,513,666 | $16.45 | $218,402,433
2016 |  6 | 12,451,908 | 11,068,673 | 1,383,235 | $16.51 | $205,629,879
2016 |  7 | 11,545,258 | 10,234,061 | 1,311,197 | $16.37 | $189,037,107
2016 |  8 | 11,112,887 | 9,885,071 | 1,227,816 | $16.2 | $179,989,126
2016 |  9 | 11,201,872 | 10,057,622 | 1,144,250 | $16.87 | $189,015,242
2016 | 10 | 12,026,457 | 10,792,102 | 1,234,355 | $16.39 | $197,054,958
2016 | 11 | 11,172,691 | 10,042,200 | 1,130,491 | $16.34 | $182,547,698
2016 | 12 | 11,590,958 | 10,385,514 | 1,205,444 | $15.96 | $184,951,159
2017 |  1 | 10,708,512 | 9,654,990 | 1,053,522 | $15.25 | $163,351,561
2017 |  2 | 10,123,013 | 9,116,183 | 1,006,830 | $15.43 | $156,188,331
2017 |  3 | 11,374,267 | 10,233,291 | 1,140,976 | $15.96 | $181,523,373
2017 |  4 | 11,051,066 | 9,985,310 | 1,065,756 | $16.06 | $177,495,372
2017 |  5 | 11,085,866 | 10,041,247 | 1,044,619 | $16.51 | $183,066,286
2017 |  6 | 10,560,185 | 9,597,442 | 962,743 | $16.42 | $173,373,294
2017 |  7 | 9,434,881 | 8,533,586 | 901,295 | $16.16 | $152,456,945
2017 |  8 | 9,223,933 | 8,368,923 | 855,010 | $16.25 | $149,934,041
2017 |  9 | 9,760,355 | 8,889,680 | 870,675 | $16.46 | $160,654,688
2017 | 10 | 10,622,044 | 9,708,407 | 913,637 | $16.52 | $175,514,434
2017 | 11 | 10,090,405 | 9,227,596 | 862,809 | $16.27 | $164,194,060
2017 | 12 | 10,346,120 | 9,452,166 | 893,954 | $15.98 | $165,315,713
2018 |  1 | 9,490,582 | 8,708,877 | 781,705 | $15.33 | $145,461,494
2018 |  2 | 9,203,729 | 8,444,278 | 759,451 | $15.33 | $141,122,486
2018 |  3 | 10,197,797 | 9,372,656 | 825,141 | $15.84 | $161,581,637
2018 |  4 | 10,039,827 | 9,250,699 | 789,128 | $16.2 | $162,677,486
2018 |  5 | 9,954,167 | 9,168,138 | 786,029 | $16.69 | $166,178,648
2018 |  6 | 9,386,062 | 8,657,285 | 728,777 | $16.59 | $155,726,183
2018 |  7 | 8,473,153 | 7,797,696 | 675,457 | $16.5 | $139,838,972
2018 |  8 | 8,468,209 | 7,801,559 | 666,650 | $16.59 | $140,482,423
2018 |  9 | 8,666,882 | 7,993,712 | 673,170 | $16.85 | $146,016,665
2018 | 10 | 9,491,947 | 8,769,587 | 722,360 | $16.97 | $161,112,939
2018 | 11 | 8,763,099 | 8,098,570 | 664,529 | $16.84 | $147,585,570
2018 | 12 | 8,844,833 | 8,135,846 | 708,987 | $16.61 | $146,871,757
2019 |  1 | 8,300,279 | 7,640,215 | 660,064 | $15.87 | $131,698,397
2019 |  2 | 7,600,465 | 6,995,969 | 604,496 | $18.7 | $142,106,832
2019 |  3 | 8,440,035 | 7,808,151 | 631,884 | $19.24 | $162,361,528
2019 |  4 | 7,978,468 | 7,420,311 | 558,157 | $19.32 | $154,167,677
2019 |  5 | 7,536,007 | 7,535,985 | 22 | $19.63 | $147,917,070
2019 |  6 | 6,907,396 | 6,907,378 | 18 | $19.8 | $136,797,992
2019 |  7 | 6,712,735 | 6,250,150 | 462,585 | $19.42 | $130,390,275
2019 |  8 | 6,453,171 | 6,011,856 | 441,315 | $19.55 | $126,139,702
2019 |  9 | 6,944,963 | 6,504,089 | 440,874 | $19.81 | $137,605,522
2019 | 10 | 7,614,364 | 7,146,206 | 468,158 | $19.69 | $149,941,283
2019 | 11 | 7,230,930 | 6,805,155 | 425,775 | $19.31 | $139,659,136
2019 | 12 | 7,268,524 | 6,823,651 | 444,873 | $19.56 | $142,145,190
2020 |  1 | 6,778,105 | 6,338,053 | 440,052 | $18.65 | $126,393,158
2020 |  2 | 6,629,280 | 6,236,877 | 392,403 | $18.58 | $123,151,280
2020 |  3 | 3,195,157 | 2,975,553 | 219,604 | $18.72 | $59,821,950
2020 |  4 | 269,082 | 234,258 | 34,824 | $17.02 | $4,578,899
2020 |  5 | 399,403 | 343,224 | 56,179 | $20.09 | $8,023,748
2020 |  6 | 604,390 | 542,428 | 61,962 | $19.36 | $11,702,822
2020 |  7 | 861,065 | 790,137 | 70,928 | $19.24 | $16,569,801
2020 |  8 | 1,074,126 | 994,463 | 79,663 | $19.17 | $20,595,736
2020 |  9 | 1,407,265 | 1,320,700 | 86,565 | $18.08 | $25,449,195
2020 | 10 | 1,750,245 | 1,656,970 | 93,275 | $18.43 | $32,264,542
2020 | 11 | 1,574,134 | 1,487,218 | 86,916 | $17.89 | $28,161,332
2020 | 12 | 1,520,967 | 1,439,438 | 81,529 | $18.03 | $27,417,051
2021 |  1 | 1,423,619 | 1,348,327 | 75,292 | $17.89 | $25,473,117
2021 |  2 | 1,412,461 | 1,348,837 | 63,624 | $17.93 | $25,324,835
2021 |  3 | 1,979,878 | 1,897,316 | 82,562 | $18.24 | $36,103,228
2021 |  4 | 2,228,959 | 2,143,493 | 85,466 | $18.85 | $42,021,198
2021 |  5 | 2,562,374 | 2,475,609 | 86,765 | $19.13 | $49,005,851
2021 |  6 | 2,885,128 | 2,799,719 | 85,409 | $19.62 | $56,596,355
2021 |  7 | 2,867,110 | 2,784,936 | 82,174 | $20.08 | $57,569,559
2021 |  8 | 2,832,505 | 2,750,609 | 81,896 | $20.39 | $57,743,986
2021 |  9 | 3,019,628 | 2,925,928 | 93,700 | $21.07 | $63,618,281
2021 | 10 | 3,532,440 | 3,423,596 | 108,844 | $20.46 | $72,263,130
2021 | 11 | 3,538,141 | 3,431,846 | 106,295 | $20.83 | $73,711,675
2021 | 12 | 3,269,970 | 3,172,092 | 97,878 | $21.02 | $68,725,990
2022 |  1 | 2,491,965 | 2,431,170 | 60,795 | $19.21 | $47,875,666
2022 |  2 | 3,009,157 | 2,941,624 | 67,533 | $19.55 | $58,813,979
2022 |  3 | 3,654,727 | 3,578,381 | 76,346 | $20.62 | $75,351,747
2022 |  4 | 3,624,069 | 3,549,875 | 74,194 | $21.2 | $76,816,502
2022 |  5 | 3,609,927 | 3,535,134 | 74,793 | $22.09 | $79,736,326
2022 |  6 | 3,569,220 | 3,497,770 | 71,450 | $22.14 | $79,033,018
2022 |  7 | 3,184,477 | 3,122,325 | 62,152 | $21.49 | $68,424,902
2022 |  8 | 3,164,259 | 3,100,406 | 63,853 | $21.61 | $68,394,107
2022 |  9 | 3,199,649 | 3,132,784 | 66,865 | $22.7 | $72,645,539
2022 | 10 | 3,679,255 | 3,612,039 | 67,216 | $22.27 | $81,932,135
2022 | 11 | 3,256,214 | 3,195,827 | 60,387 | $22.1 | $71,955,945
2022 | 12 | 3,412,282 | 3,341,943 | 70,339 | $24.68 | $84,217,439
2023 |  1 | 3,087,805 | 3,020,954 | 66,851 | $27.24 | $84,096,423
2023 |  2 | 2,933,258 | 2,869,832 | 63,426 | $27.15 | $79,646,068
2023 |  3 | 3,421,240 | 3,350,706 | 70,534 | $28.07 | $96,046,056
2023 |  4 | 3,300,580 | 3,236,588 | 63,992 | $28.57 | $94,291,624
2023 |  5 | 3,525,718 | 3,458,106 | 67,612 | $29.28 | $103,218,836
2023 |  6 | 3,317,656 | 3,253,581 | 64,075 | $29.4 | $97,550,197
2023 |  7 | 2,915,002 | 2,855,174 | 59,828 | $28.97 | $84,447,509
2023 |  8 | 2,831,931 | 2,772,904 | 59,027 | $29.07 | $82,314,959
2023 |  9 | 2,860,909 | 2,797,323 | 63,586 | $30.18 | $86,339,977
2023 | 10 | 3,525,165 | 3,460,524 | 64,641 | $29.56 | $104,212,786
2023 | 11 | 3,341,623 | 3,279,040 | 62,583 | $29.1 | $97,225,641
2023 | 12 | 3,374,507 | 3,311,780 | 62,727 | $28.96 | $97,728,011
2024 |  1 | 2,962,850 | 2,907,647 | 55,203 | $27.2 | $80,589,056
2024 |  2 | 3,003,486 | 2,951,171 | 52,315 | $27.06 | $81,269,189
2024 |  3 | 3,569,880 | 3,513,813 | 56,067 | $27.61 | $98,556,613
2024 |  4 | 3,501,230 | 3,446,223 | 55,007 | $27.99 | $98,013,969
2024 |  5 | 3,707,963 | 3,648,540 | 59,423 | $28.92 | $107,217,502
2024 |  6 | 3,518,171 | 3,464,898 | 53,273 | $28.52 | $100,321,736
2024 |  7 | 3,051,835 | 3,001,503 | 50,332 | $28.82 | $87,958,549
2024 |  8 | 2,951,063 | 2,900,788 | 50,275 | $29.1 | $85,875,115
2024 |  9 | 3,602,388 | 3,549,487 | 52,901 | $29.25 | $105,382,882
2024 | 10 | 3,799,396 | 3,744,681 | 54,715 | $29.15 | $110,761,440
2024 | 11 | 3,610,016 | 3,559,091 | 50,925 | $28.4 | $102,525,144
2024 | 12 | 3,621,783 | 3,569,303 | 52,480 | $29.21 | $105,778,853
2025 |  1 | 3,435,036 | 3,388,020 | 47,016 | $26.41 | $90,736,429
2025 |  2 | 3,541,908 | 3,496,874 | 45,034 | $25.73 | $91,116,755
2025 |  3 | 4,078,387 | 4,028,914 | 49,473 | $27.05 | $110,300,100
2025 |  4 | 3,886,632 | 3,836,420 | 50,212 | $27.47 | $106,780,339
2025 |  5 | 4,437,941 | 4,384,583 | 53,358 | $27.97 | $124,111,434
2025 |  6 | 4,197,446 | 4,150,123 | 47,323 | $28.26 | $118,612,143
2025 |  7 | 3,784,513 | 3,737,815 | 46,698 | $27.83 | $105,331,899
2025 |  8 | 3,453,236 | 3,408,509 | 44,727 | $27.58 | $95,250,713
2025 |  9 | 18 | 1 | 17 | $26.02 | $468
2026 |  2 | 2 | 2 | 0 | $14.3 | $29 ← AÑO ERRÓNEO!
2026 |  6 | 2 | 2 | 0 | $43.29 | $87 ← AÑO ERRÓNEO!
2026 | 12 | 1 | 1 | 0 | $55.3 | $55 ← AÑO ERRÓNEO!
2028 | 12 | 1 | 1 | 0 | $63.1 | $63 ← AÑO ERRÓNEO!
2029 |  5 | 3 | 3 | 0 | $26.08 | $78 ← AÑO ERRÓNEO!
2029 | 11 | 3 | 3 | 0 | $16.63 | $50 ← AÑO ERRÓNEO!
2030 | 11 | 1 | 0 | 1 | $7.3 | $7 ← AÑO ERRÓNEO!
2031 |  2 | 2 | 2 | 0 | $9.8 | $20 ← AÑO ERRÓNEO!
2032 |  2 | 1 | 1 | 0 | $63.3 | $63 ← AÑO ERRÓNEO!
2033 |  4 | 3 | 3 | 0 | $8.8 | $26 ← AÑO ERRÓNEO!
2037 | 11 | 1 | 1 | 0 | $18.0 | $18 ← AÑO ERRÓNEO!
2038 |  2 | 4 | 4 | 0 | $12.07 | $48 ← AÑO ERRÓNEO!
2041 |  3 | 1 | 1 | 0 | $15.8 | $16 ← AÑO ERRÓNEO!
2041 |  6 | 1 | 1 | 0 | $8.3 | $8 ← AÑO ERRÓNEO!
2041 | 11 | 1 | 1 | 0 | $31.56 | $32 ← AÑO ERRÓNEO!
2042 | 12 | 1 | 1 | 0 | $4.8 | $5 ← AÑO ERRÓNEO!
2053 |  3 | 1 | 1 | 0 | $5.8 | $6 ← AÑO ERRÓNEO!
2058 | 12 | 3 | 3 | 0 | $11.39 | $34 ← AÑO ERRÓNEO!
2062 |  8 | 1 | 0 | 1 | $3.6 | $4 ← AÑO ERRÓNEO!
2066 | 12 | 1 | 1 | 0 | $61.42 | $61 ← AÑO ERRÓNEO!
2081 |  6 | 1 | 0 | 1 | $55.96 | $56 ← AÑO ERRÓNEO!
2084 | 11 | 8 | 8 | 0 | $9.24 | $74 ← AÑO ERRÓNEO!
2088 |  1 | 2 | 2 | 0 | $10.3 | $21 ← AÑO ERRÓNEO!
2090 | 12 | 1 | 1 | 0 | $61.42 | $61 ← AÑO ERRÓNEO!
2098 |  9 | 1 | 1 | 0 | $25.8 | $26 ← AÑO ERRÓNEO!
----------------------------------------------------------------------
 REVENUE TOTAL: $15,588,679,589.02
 AÑOS ERRÓNEOS DETECTADOS: [2001, 2002, 2003, 2004, 2007, 2008, 2009, 2010, 2011, 2012, 2014, 2026, 2028, 2029, 2030, 2031, 2032, 2033, 2037, 2038, 2041, 2042, 2053, 2058, 2062, 2066, 2081, 2084, 2088, 2090, 2098]
 Total registros con años inválidos: 45
 Estos datos requieren limpieza - están fuera del rango 2015-2025

 CONSISTENCIA DE CONTEOS:
-----------------------------------
 Total general: 842,642,833
 Con trip_id único: 421,737,335
 Con natural_key: 374,780,064
 Yellow taxi: 776,718,444
 Green taxi: 65,924,389

=======================================================