In [ ]:
%pip install snowflake-connector-python

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql import types as T
from datetime import datetime
import os

# Leer variables de entorno
SNOWFLAKE_ACCOUNT = os.getenv('SNOWFLAKE_ACCOUNT')
SNOWFLAKE_USER = os.getenv('SNOWFLAKE_USER')
SNOWFLAKE_PASSWORD = os.getenv('SNOWFLAKE_PASSWORD')
SNOWFLAKE_DATABASE = os.getenv('SNOWFLAKE_DATABASE')
SNOWFLAKE_SCHEMA_ANALYTICS = os.getenv('SNOWFLAKE_SCHEMA_ANALYTICS', 'ANALYTICS')
SNOWFLAKE_WAREHOUSE = os.getenv('SNOWFLAKE_WAREHOUSE', 'COMPUTE_WH')

In [ ]:
# Instalación de dependencias y descarga de JARs para Spark-Snowflake
!pip install snowflake-snowpark-python snowflake-connector-python

# Crear directorio para JARs si no existe
import os
jars_dir = '/content/jars'
os.makedirs(jars_dir, exist_ok=True)

# Descargar JARs necesarios para Spark 3.x con Scala 2.12
# Snowflake Spark Connector compatible con Spark 3.x y Scala 2.12
snowflake_jar_url = "https://repo1.maven.org/maven2/net/snowflake/spark-snowflake_2.12/2.12.0-spark_3.4/spark-snowflake_2.12-2.12.0-spark_3.4.jar"
snowflake_jdbc_url = "https://repo1.maven.org/maven2/net/snowflake/snowflake-jdbc/3.14.4/snowflake-jdbc-3.14.4.jar"

# Descargar JARs
!wget -O {jars_dir}/spark-snowflake_2.12-2.12.0-spark_3.4.jar {snowflake_jar_url}
!wget -O {jars_dir}/snowflake-jdbc-3.14.4.jar {snowflake_jdbc_url}

print("JARs descargados exitosamente")

In [3]:
!mkdir -p /content/jars
!wget -q -O /content/jars/snowflake-jdbc-3.14.4.jar https://repo1.maven.org/maven2/net/snowflake/snowflake-jdbc/3.14.4/snowflake-jdbc-3.14.4.jar
!wget -q -O /content/jars/spark-snowflake_2.12-2.12.0-spark_3.4.jar https://repo1.maven.org/maven2/net/snowflake/spark-snowflake_2.12/2.12.0-spark_3.4/spark-snowflake_2.12-2.12.0-spark_3.4.jar
!ls -lh /content/jars

total 69M
-rw-r--r-- 1 root root  68M Dec  7  2023 snowflake-jdbc-3.14.4.jar
-rw-r--r-- 1 root root 755K May 23  2023 spark-snowflake_2.12-2.12.0-spark_3.4.jar

In [6]:
# Importar PySpark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *
import random
from pyspark.sql import types as T

from datetime import datetime, timedelta


# Configuración de JARs para Snowflake
jars_dir = '/content/jars'
spark_jars = f"{jars_dir}/spark-snowflake_2.12-2.12.0-spark_3.4.jar,{jars_dir}/snowflake-jdbc-3.14.4.jar"

# Crear sesión Spark simple
print("Creando sesión Spark...")

spark = SparkSession.builder \
    .appName("NYC_Taxi_OBT_Analysis") \
    .config("spark.jars", "/content/jars/snowflake-jdbc-3.14.4.jar,/content/jars/spark-snowflake_2.12-2.12.0-spark_3.4.jar") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.memory", "4g") \
    .getOrCreate()

print(f" Spark iniciado correctamente. Versión: {spark.version}")


test_count = spark.range(5).count()
print(f"Spark funcionando correctamente - Test: {test_count} registros")
print(f"Versión Spark: {spark.version}")

# Mostrar configuración activa
print(f"JARs configurados: {len(spark_jars.split(','))} archivos")

Creando sesión Spark...
 Spark iniciado correctamente. Versión: 3.5.1
Spark funcionando correctamente - Test: 5 registros
Versión Spark: 3.5.1
JARs configurados: 2 archivos

In [ ]:
sfOptions = {
    "sfURL": SNOWFLAKE_ACCOUNT,
    "sfUser": SNOWFLAKE_USER,
    "sfPassword": SNOWFLAKE_PASSWORD,
    "sfDatabase": SNOWFLAKE_DATABASE,
    "sfSchema": SNOWFLAKE_SCHEMA_ANALYTICS,
    "sfWarehouse": SNOWFLAKE_WAREHOUSE,
}

df = (
    spark.read
        .format("net.snowflake.spark.snowflake")
        .options(**sfOptions)
        .option("dbtable", "OBT_TRIPS")
        .load()
)

df.show(5, truncate=False)

+---------------------------------------+---------------------+-------------------+-------------------+-----------+-----------+------------+------------+-----------+----------------+-----+----------+----+-------+----------+--------------+-------------------+----------+---------------+--------------+-----------------------------+----------+---------------+------------+---------+---------------------------------+------------+--------------+------------+-----------------+---------+--------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+--------------------+-----------+------------------+------------+-----------------+-------------+-------+----------------+---------------+---------------+------------+-------------+---------------+-------------+------------------------------------+--------------------------+--------------+-----------+------------+-----------------------------------------------------------+-----------------------+-----------+
|TRIP_ID                                |NATURAL_KEY          |PICKUP_DATETIME    |DROPOFF_DATETIME   |PICKUP_DATE|PICKUP_HOUR|DROPOFF_DATE|DROPOFF_HOUR|DAY_OF_WEEK|DAY_OF_WEEK_NAME|MONTH|MONTH_NAME|YEAR|QUARTER|IS_WEEKEND|PU_LOCATION_ID|PU_ZONE            |PU_BOROUGH|PU_SERVICE_ZONE|DO_LOCATION_ID|DO_ZONE                      |DO_BOROUGH|DO_SERVICE_ZONE|SERVICE_TYPE|VENDOR_ID|VENDOR_NAME                      |RATE_CODE_ID|RATE_CODE_DESC|PAYMENT_TYPE|PAYMENT_TYPE_DESC|TRIP_TYPE|TRIP_TYPE_DESC|STORE_AND_FWD_FLAG|PASSENGER_COUNT|TRIP_DISTANCE|FARE_AMOUNT|EXTRA|MTA_TAX|TIP_AMOUNT|TOLLS_AMOUNT|IMPROVEMENT_SURCHARGE|CONGESTION_SURCHARGE|AIRPORT_FEE|CBD_CONGESTION_FEE|TOTAL_AMOUNT|TRIP_DURATION_MIN|AVG_SPEED_MPH|TIP_PCT|REVENUE_PER_MILE|COST_PER_MINUTE|IS_AIRPORT_TRIP|IS_LONG_TRIP|IS_SHORT_TRIP|IS_PREMIUM_FARE|TRIP_CATEGORY|RUN_ID                              |INGESTED_AT_UTC           |SOURCE_SERVICE|SOURCE_YEAR|SOURCE_MONTH|SOURCE_PATH                                                |OBT_CREATED_AT         |OBT_VERSION|
+---------------------------------------+---------------------+-------------------+-------------------+-----------+-----------+------------+------------+-----------+----------------+-----+----------+----+-------+----------+--------------+-------------------+----------+---------------+--------------+-----------------------------+----------+---------------+------------+---------+---------------------------------+------------+--------------+------------+-----------------+---------+--------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+--------------------+-----------+------------------+------------+-----------------+-------------+-------+----------------+---------------+---------------+------------+-------------+---------------+-------------+------------------------------------+--------------------------+--------------+-----------+------------+-----------------------------------------------------------+-----------------------+-----------+
|yellow_2016-04-17 10:01:04|1_1460887264|2016-04-17 10:01:04|1|2016-04-17 10:01:04|2016-04-17 10:09:42|2016-04-17 |10         |2016-04-17  |10          |0          |Sun             |4    |Apr       |2016|2      |false     |142           |Lincoln Square East|Manhattan |Yellow Zone    |50            |Clinton West                 |Manhattan |Yellow Zone    |yellow      |1        |Creative Mobile Technologies, LLC|1           |Standard rate |2           |Cash             |NULL     |NULL          |N                 |1              |1.2          |7.5        |0.0  |0.5    |0.0       |0.0         |0.3                  |NULL                |NULL       |NULL              |8.3         |8.0              |9.0          |0.0    |6.92            |1.038          |false          |false       |false        |false          |Intra-Borough|raw_yellow_optimized_20251019_181841|2025-10-19 18:18:41.269938|yellow        |2016       |4           |/content/drive/MyDrive/data/yellow_tripdata_2016-04.parquet|2025-10-19 17:39:06.502|1.0        |
|yellow_2016-04-17 10:01:04|1_1460887264|2016-04-17 10:01:04|1|2016-04-17 10:01:04|2016-04-17 10:15:25|2016-04-17 |10         |2016-04-17  |10          |0          |Sun             |4    |Apr       |2016|2      |false     |142           |Lincoln Square East|Manhattan |Yellow Zone    |158           |Meatpacking/West Village West|Manhattan |Yellow Zone    |yellow      |1        |Creative Mobile Technologies, LLC|1           |Standard rate |1           |Credit card      |NULL     |NULL          |N                 |1              |3.4          |13.5       |0.0  |0.5    |2.0       |0.0         |0.3                  |NULL                |NULL       |NULL              |16.3        |14.0             |14.57        |14.81  |4.79            |1.164          |false          |false       |false        |false          |Intra-Borough|raw_yellow_optimized_20251019_181841|2025-10-19 18:18:41.269938|yellow        |2016       |4           |/content/drive/MyDrive/data/yellow_tripdata_2016-04.parquet|2025-10-19 17:39:06.502|1.0        |
|yellow_2016-04-17 10:01:04|1_1460887264|2016-04-17 10:01:04|1|2016-04-17 10:01:04|2016-04-17 10:06:12|2016-04-17 |10         |2016-04-17  |10          |0          |Sun             |4    |Apr       |2016|2      |false     |43            |Central Park       |Manhattan |Yellow Zone    |237           |Upper East Side South        |Manhattan |Yellow Zone    |yellow      |1        |Creative Mobile Technologies, LLC|1           |Standard rate |2           |Cash             |NULL     |NULL          |N                 |1              |0.9          |5.5        |0.0  |0.5    |0.0       |0.0         |0.3                  |NULL                |NULL       |NULL              |6.3         |5.0              |10.8         |0.0    |7.0             |1.26           |false          |false       |false        |false          |Intra-Borough|raw_yellow_optimized_20251019_181841|2025-10-19 18:18:41.269938|yellow        |2016       |4           |/content/drive/MyDrive/data/yellow_tripdata_2016-04.parquet|2025-10-19 17:39:06.502|1.0        |
|yellow_2016-04-17 10:01:04|1_1460887264|2016-04-17 10:01:04|1|2016-04-17 10:01:04|2016-04-17 10:06:29|2016-04-17 |10         |2016-04-17  |10          |0          |Sun             |4    |Apr       |2016|2      |false     |170           |Murray Hill        |Manhattan |Yellow Zone    |237           |Upper East Side South        |Manhattan |Yellow Zone    |yellow      |1        |Creative Mobile Technologies, LLC|1           |Standard rate |1           |Credit card      |NULL     |NULL          |N                 |1              |1.9          |7.5        |0.0  |0.5    |1.65      |0.0         |0.3                  |NULL                |NULL       |NULL              |9.95        |5.0              |22.8         |22.0   |5.24            |1.99           |false          |false       |false        |false          |Intra-Borough|raw_yellow_optimized_20251019_181841|2025-10-19 18:18:41.269938|yellow        |2016       |4           |/content/drive/MyDrive/data/yellow_tripdata_2016-04.parquet|2025-10-19 17:39:06.502|1.0        |
|yellow_2016-04-17 10:01:04|2_1460887264|2016-04-17 10:01:04|2|2016-04-17 10:01:04|2016-04-17 10:12:57|2016-04-17 |10         |2016-04-17  |10          |0          |Sun             |4    |Apr       |2016|2      |false     |163           |Midtown North      |Manhattan |Yellow Zone    |75            |East Harlem South            |Manhattan |Boro Zone      |yellow      |2        |Curb Mobility, LLC               |1           |Standard rate |1           |Credit card      |NULL     |NULL          |N                 |2              |2.43         |11.0       |0.0  |0.5    |1.0       |0.0         |0.3                  |NULL                |NULL       |NULL              |12.8        |11.0             |13.25        |9.09   |5.27            |1.164          |false          |false       |false        |false          |Intra-Borough|raw_yellow_optimized_20251019_181841|2025-10-19 18:18:41.269938|yellow        |2016       |4           |/content/drive/MyDrive/data/yellow_tripdata_2016-04.parquet|2025-10-19 17:39:06.502|1.0        |
+---------------------------------------+---------------------+-------------------+-------------------+-----------+-----------+------------+------------+-----------+----------------+-----+----------+----+-------+----------+--------------+-------------------+----------+---------------+--------------+-----------------------------+----------+---------------+------------+---------+---------------------------------+------------+--------------+------------+-----------------+---------+--------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+--------------------+-----------+------------------+------------+-----------------+-------------+-------+----------------+---------------+---------------+------------+-------------+---------------+-------------+------------------------------------+--------------------------+--------------+-----------+------------+-----------------------------------------------------------+-----------------------+-----------+
only showing top 5 rows

In [ ]:
# CONFIGURACIÓN INICIAL PARA VALIDACIONES
print("=== VALIDACIONES Y EXPLORACIÓN - OBT NYC TAXI ===")

# Conexión a Snowflake (reutilizar configuración del notebook anterior)
try:
    import snowflake.connector
    import time
    from datetime import datetime

    print("snowflake-connector-python disponible")

    # Configuración de conexión

    conn_config = {
        'user': SNOWFLAKE_USER,
        'password': SNOWFLAKE_PASSWORD,
        'account': SNOWFLAKE_ACCOUNT,
        'warehouse': SNOWFLAKE_WAREHOUSE,
        'database': SNOWFLAKE_DATABASE,
        'schema': SNOWFLAKE_SCHEMA_ANALYTICS
    }
    
    def execute_snowflake_sql(sql_query, fetch_results=True):
        """
        Ejecuta SQL directamente en Snowflake con resultados
        """
        try:
            conn = snowflake.connector.connect(**conn_config)
            cursor = conn.cursor()

            cursor.execute(sql_query)

            if fetch_results:
                results = cursor.fetchall()
                columns = [desc[0] for desc in cursor.description]
                return results, columns
            else:
                rows_affected = cursor.rowcount
                print(f" SQL ejecutado. Filas afectadas: {rows_affected:,}")
                return rows_affected, []

        except Exception as e:
            print(f"Error ejecutando SQL: {e}")
            return None, []
        finally:
            try:
                cursor.close()
                conn.close()
            except:
                pass

except ImportError:
    print("snowflake-connector-python no instalado")
    print("Instalar con: pip install snowflake-connector-python")

    def execute_snowflake_sql(sql_query, fetch_results=True):
        print("Connector no disponible. SQL para ejecutar manualmente:")
        print("-" * 60)
        print(sql_query)
        print("-" * 60)
        return None, []

print(" Configuración lista para preguntas de negocio en analytics.obt_trips")

=== VALIDACIONES Y EXPLORACIÓN - OBT NYC TAXI ===
snowflake-connector-python disponible
 Configuración lista para preguntas de negocio en analytics.obt_trips

## Debido al tiempo que tomaban en ejecutarse no se pudo ejecutar todo con spark, sin embargo se añadieron las consultas utilizando el conector de snowflake con python.

In [8]:
# A. TOP 10 ZONAS PICKUP POR VOLUMEN MENSUAL
print("ANÁLISIS A: Top 10 Zonas Pickup por Volumen Mensual")

# Top 10 zonas de pickup por volumen mensual
top_pickup_monthly = (
    df.groupBy("month", "pu_zone", "pu_borough")
    .agg(F.count("*").alias("num_trips"))
    .orderBy("month", F.col("num_trips").desc())
)

print("TOP 10 ZONAS PICKUP POR VOLUMEN MENSUAL:")
top_pickup_monthly.show(10)

ANÁLISIS A: Top 10 Zonas Pickup por Volumen Mensual
TOP 10 ZONAS PICKUP POR VOLUMEN MENSUAL:
+-----+--------------------+----------+---------+
|month|             pu_zone|pu_borough|num_trips|
+-----+--------------------+----------+---------+
|    1|Upper East Side S...| Manhattan|  2881290|
|    1|Upper East Side N...| Manhattan|  2765705|
|    1|      Midtown Center| Manhattan|  2715256|
|    1|        Midtown East| Manhattan|  2358939|
|    1|Times Sq/Theatre ...| Manhattan|  2334095|
|    1|Penn Station/Madi...| Manhattan|  2315438|
|    1|            Union Sq| Manhattan|  2172796|
|    1|         Murray Hill| Manhattan|  2150167|
|    1|        Clinton East| Manhattan|  2083432|
|    1| Lincoln Square East| Manhattan|  2061627|
+-----+--------------------+----------+---------+
only showing top 10 rows

In [15]:
# A. TOP 10 ZONAS PICKUP POR VOLUMEN MENSUAL - VERSIÓN SNOWFLAKE CONNECTOR
print("ANÁLISIS A: Top 10 Zonas Pickup por Volumen Mensual")

# Consulta SQL directa usando conector de Snowflake
sql_pickup_zones = """
SELECT
    month,
    pu_zone,
    pu_borough,
    COUNT(*) as num_trips
FROM analytics.obt_trips
WHERE pu_zone IS NOT NULL
GROUP BY month, pu_zone, pu_borough
ORDER BY month, COUNT(*) DESC
LIMIT 10
"""
execute_snowflake_sql(sql_pickup_zones)

ANÁLISIS A: Top 10 Zonas Pickup por Volumen Mensual

([(1, 'Upper East Side South', 'Manhattan', 2881290),
  (1, 'Upper East Side North', 'Manhattan', 2765705),
  (1, 'Midtown Center', 'Manhattan', 2715256),
  (1, 'Midtown East', 'Manhattan', 2358939),
  (1, 'Times Sq/Theatre District', 'Manhattan', 2334095),
  (1, 'Penn Station/Madison Sq West', 'Manhattan', 2315438),
  (1, 'Union Sq', 'Manhattan', 2172796),
  (1, 'Murray Hill', 'Manhattan', 2150167),
  (1, 'Clinton East', 'Manhattan', 2083432),
  (1, 'Lincoln Square East', 'Manhattan', 2061627)],
 ['MONTH', 'PU_ZONE', 'PU_BOROUGH', 'NUM_TRIPS'])

In [ ]:
# B. TOP 10 ZONAS DROPOFF POR VOLUMEN MENSUAL
print("ANÁLISIS B: Top 10 Zonas Dropoff por Volumen Mensual")

# Top 10 zonas de dropoff por volumen mensual
top_dropoff_monthly = (
    df.groupBy("month", "do_zone", "do_borough")
    .agg(F.count("*").alias("num_trips"))
    .orderBy("month", F.col("num_trips").desc())
)

print("TOP 10 ZONAS DROPOFF POR VOLUMEN MENSUAL:")
top_dropoff_monthly.show(10)

In [16]:
# B. TOP 10 ZONAS DROPOFF POR VOLUMEN MENSUAL
print("ANÁLISIS B: Top 10 Zonas Dropoff por Volumen Mensual")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    month,
    do_zone,
    do_borough,
    COUNT(*) as num_trips
FROM analytics.obt_trips
WHERE do_zone IS NOT NULL
GROUP BY month, do_zone, do_borough
ORDER BY month ASC, COUNT(*) DESC
limit 10
"""
execute_snowflake_sql(query)

ANÁLISIS B: Top 10 Zonas Dropoff por Volumen Mensual

([(1, 'Upper East Side North', 'Manhattan', 2914017),
  (1, 'Upper East Side South', 'Manhattan', 2582757),
  (1, 'Midtown Center', 'Manhattan', 2575709),
  (1, 'Murray Hill', 'Manhattan', 2175364),
  (1, 'Times Sq/Theatre District', 'Manhattan', 2071310),
  (1, 'Midtown East', 'Manhattan', 2050840),
  (1, 'Lincoln Square East', 'Manhattan', 1891516),
  (1, 'Union Sq', 'Manhattan', 1888098),
  (1, 'Clinton East', 'Manhattan', 1862376),
  (1, 'Upper West Side South', 'Manhattan', 1826451)],
 ['MONTH', 'DO_ZONE', 'DO_BOROUGH', 'NUM_TRIPS'])

In [ ]:
# C. EVOLUCIÓN MENSUAL DE TOTAL_AMOUNT Y TIP_PCT POR BOROUGH
print("ANÁLISIS C: Evolución Mensual de Total_Amount y Tip_Pct por Borough")

# Evolución mensual de total_amount y tip_pct por borough
evolution_monthly = (
    df.groupBy("year", "month", "pu_borough")
    .agg(F.round(F.avg("total_amount"), 2).alias("avg_total_amount"),
         F.round(F.avg("tip_pct"), 2).alias("avg_tip_pct"))
    .orderBy("year", "month", "pu_borough")
)

print("EVOLUCIÓN MENSUAL DE TOTAL_AMOUNT Y TIP_PCT POR BOROUGH:")
evolution_monthly.show(10)

In [17]:
# C. EVOLUCIÓN MENSUAL DE TOTAL_AMOUNT Y TIP_PCT POR BOROUGH
print("ANÁLISIS C: Evolución Mensual de Total_Amount y Tip_Pct por Borough")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    year,
    month,
    pu_borough,
    ROUND(AVG(total_amount), 2) AS avg_total_amount,
    ROUND(AVG(tip_pct), 2) AS avg_tip_pct
FROM analytics.obt_trips
WHERE pu_borough IS NOT NULL
GROUP BY year, month, pu_borough
ORDER BY year, month, pu_borough;
"""
execute_snowflake_sql(query)

ANÁLISIS C: Evolución Mensual de Total_Amount y Tip_Pct por Borough

([(2001, 1, 'Brooklyn', 8.8, 0.0),
  (2001, 1, 'Manhattan', 19.88, 2.08),
  (2001, 1, 'Queens', 49.9, 4.7),
  (2001, 2, 'Queens', 3.8, 0.0),
  (2001, 8, 'Queens', 24.55, 0.0),
  (2002, 2, 'Manhattan', 17.9, 0.0),
  (2002, 10, 'Brooklyn', 28.59, 0.0),
  (2002, 10, 'Manhattan', 18.33, 8.62),
  (2002, 10, 'Queens', 51.39, 8.69),
  (2002, 10, 'Unknown', 21.15, 3.37),
  (2002, 12, 'Brooklyn', 31.3, 0.0),
  (2002, 12, 'Manhattan', 19.39, 3.59),
  (2002, 12, 'Queens', 48.09, 10.58),
  (2002, 12, 'Unknown', 6.03, 11.46),
  (2003, 1, 'Manhattan', 28.6, 4.39),
  (2003, 1, 'Queens', 45.11, 5.4),
  (2003, 1, 'Unknown', 3.3, 0.0),
  (2003, 3, 'Queens', 3.31, 0.4),
  (2003, 12, 'Manhattan', 7.3, 0.0),
  (2004, 4, 'Manhattan', 12.3, 21.43),
  (2007, 12, 'Manhattan', 22.75, 0.0),
  (2008, 8, 'Manhattan', 10.13, 15.43),
  (2008, 12, 'Bronx', 22.3, 0.0),
  (2008, 12, 'Brooklyn', 19.23, 3.94),
  (2008, 12, 'Manhattan', 17.47, 8.13),
  (2008, 12, 'Queens', 45.87, 9.19),
  (2008, 12, 'Unknown', 12.92, 5.13),
  (2009, 1, 'Bronx', 23.26, 0.0),
  (2009, 1, 'Brooklyn', 18.97, 4.84),
  (2009, 1, 'Manhattan', 15.51, 6.49),
  (2009, 1, 'Queens', 35.88, 5.28),
  (2009, 1, 'Unknown', 12.84, 5.26),
  (2010, 8, 'Manhattan', 18.36, 26.61),
  (2010, 9, 'Bronx', 22.39, 9.35),
  (2010, 9, 'Brooklyn', 27.53, 7.67),
  (2010, 9, 'Manhattan', 16.66, 6.94),
  (2010, 9, 'Queens', 15.26, 6.09),
  (2011, 1, 'Manhattan', 12.8, 0.0),
  (2011, 2, 'Manhattan', 14.98, 13.88),
  (2012, 9, 'Manhattan', 9.79, 14.91),
  (2014, 11, 'Manhattan', 52.38, 26.37),
  (2015, 1, 'Bronx', 13.1, 3.92),
  (2015, 1, 'Brooklyn', 15.69, 13.14),
  (2015, 1, 'EWR', 77.86, 33.59),
  (2015, 1, 'Manhattan', 13.75, 14.67),
  (2015, 1, 'Queens', 29.62, 12.96),
  (2015, 1, 'Staten Island', 34.43, 9.45),
  (2015, 1, 'Unknown', 14.81, 15.52),
  (2015, 2, 'Bronx', 13.2, 2.9),
  (2015, 2, 'Brooklyn', 16.19, 13.02),
  (2015, 2, 'EWR', 82.56, 36.81),
  (2015, 2, 'Manhattan', 14.0, 14.21),
  (2015, 2, 'Queens', 29.26, 12.33),
  (2015, 2, 'Staten Island', 30.31, 78.12),
  (2015, 2, 'Unknown', 15.26, 17.59),
  (2015, 3, 'Bronx', 13.31, 3.0),
  (2015, 3, 'Brooklyn', 16.34, 13.63),
  (2015, 3, 'EWR', 89.23, 37.34),
  (2015, 3, 'Manhattan', 14.22, 13.74),
  (2015, 3, 'Queens', 30.77, 13.38),
  (2015, 3, 'Staten Island', 27.49, 408.79),
  (2015, 3, 'Unknown', 15.59, 14.27),
  (2015, 4, 'Bronx', 13.84, 3.62),
  (2015, 4, 'Brooklyn', 16.61, 13.99),
  (2015, 4, 'EWR', 79.71, 145.98),
  (2015, 4, 'Manhattan', 14.41, 13.76),
  (2015, 4, 'Queens', 31.16, 11.1),
  (2015, 4, 'Staten Island', 29.1, 18.6),
  (2015, 4, 'Unknown', 15.7, 13.88),
  (2015, 5, 'Bronx', 14.06, 4.37),
  (2015, 5, 'Brooklyn', 17.05, 13.76),
  (2015, 5, 'EWR', 84.32, 1508.33),
  (2015, 5, 'Manhattan', 14.66, 13.68),
  (2015, 5, 'Queens', 31.61, 11.92),
  (2015, 5, 'Staten Island', 24.65, 21.93),
  (2015, 5, 'Unknown', 16.21, 15.37),
  (2015, 6, 'Bronx', 14.16, 4.36),
  (2015, 6, 'Brooklyn', 16.72, 13.72),
  (2015, 6, 'EWR', 85.94, 119.48),
  (2015, 6, 'Manhattan', 14.56, 14.0),
  (2015, 6, 'Queens', 31.85, 11.98),
  (2015, 6, 'Staten Island', 29.05, 29.78),
  (2015, 6, 'Unknown', 16.08, 17.24),
  (2015, 7, 'Bronx', 14.38, 8.66),
  (2015, 7, 'Brooklyn', 16.67, 12.99),
  (2015, 7, 'EWR', 81.09, 63.2),
  (2015, 7, 'Manhattan', 14.34, 13.67),
  (2015, 7, 'Queens', 31.38, 13.21),
  (2015, 7, 'Staten Island', 31.11, 25.48),
  (2015, 7, 'Unknown', 15.94, 19.23),
  (2015, 8, 'Bronx', 14.7, 6.85),
  (2015, 8, 'Brooklyn', 16.46, 12.59),
  (2015, 8, 'EWR', 85.64, 4487.48),
  (2015, 8, 'Manhattan', 14.24, 13.51),
  (2015, 8, 'Queens', 31.77, 15.46),
  (2015, 8, 'Staten Island', 35.1, 15.27),
  (2015, 8, 'Unknown', 16.0, 15.56),
  (2015, 9, 'Bronx', 14.58, 4.79),
  (2015, 9, 'Brooklyn', 16.54, 12.87),
  (2015, 9, 'EWR', 83.04, 49.38),
  (2015, 9, 'Manhattan', 14.53, 13.76),
  (2015, 9, 'Queens', 32.67, 11.83),
  (2015, 9, 'Staten Island', 38.67, 46.16),
  (2015, 9, 'Unknown', 16.31, 14.58),
  (2015, 10, 'Bronx', 14.49, 5.15),
  (2015, 10, 'Brooklyn', 16.43, 14.22),
  (2015, 10, 'EWR', 85.1, 2155.33),
  (2015, 10, 'Manhattan', 14.64, 14.01),
  (2015, 10, 'Queens', 32.85, 11.47),
  (2015, 10, 'Staten Island', 31.43, 20.26),
  (2015, 10, 'Unknown', 16.48, 16.62),
  (2015, 11, 'Bronx', 14.15, 4.55),
  (2015, 11, 'Brooklyn', 16.34, 13.92),
  (2015, 11, 'EWR', 85.33, 109.34),
  (2015, 11, 'Manhattan', 14.49, 14.06),
  (2015, 11, 'Queens', 32.23, 14.47),
  (2015, 11, 'Staten Island', 42.46, 17.56),
  (2015, 11, 'Unknown', 16.17, 14.2),
  (2015, 12, 'Bronx', 14.4, 9.4),
  (2015, 12, 'Brooklyn', 17.31, 15.74),
  (2015, 12, 'EWR', 82.48, 1730.06),
  (2015, 12, 'Manhattan', 14.52, 14.2),
  (2015, 12, 'Queens', 31.11, 12.58),
  (2015, 12, 'Staten Island', 51.04, 26.83),
  (2015, 12, 'Unknown', 16.14, 18.35),
  (2016, 1, 'Bronx', 14.29, 4.94),
  (2016, 1, 'Brooklyn', 15.89, 15.11),
  (2016, 1, 'EWR', 88.46, 131.21),
  (2016, 1, 'Manhattan', 13.83, 14.87),
  (2016, 1, 'Queens', 31.63, 14.13),
  (2016, 1, 'Staten Island', 35.9, 45.9),
  (2016, 1, 'Unknown', 15.65, 16.34),
  (2016, 2, 'Bronx', 13.95, 4.18),
  (2016, 2, 'Brooklyn', 15.77, 14.67),
  (2016, 2, 'EWR', 86.77, 5775.51),
  (2016, 2, 'Manhattan', 13.95, 14.82),
  (2016, 2, 'Queens', 31.14, 12.35),
  (2016, 2, 'Staten Island', 25.37, 17.56),
  (2016, 2, 'Unknown', 15.53, 23.09),
  (2016, 3, 'Bronx', 13.94, 4.66),
  (2016, 3, 'Brooklyn', 16.13, 14.58),
  (2016, 3, 'EWR', 83.74, 1942.04),
  (2016, 3, 'Manhattan', 14.28, 14.77),
  (2016, 3, 'Queens', 32.09, 20.24),
  (2016, 3, 'Staten Island', 25.93, 25.4),
  (2016, 3, 'Unknown', 15.96, 21.83),
  (2016, 4, 'Bronx', 14.6, 10.17),
  (2016, 4, 'Brooklyn', 16.37, 15.43),
  (2016, 4, 'EWR', 86.33, 45.41),
  (2016, 4, 'Manhattan', 14.46, 14.86),
  (2016, 4, 'Queens', 31.88, 19.78),
  (2016, 4, 'Staten Island', 25.32, 19.24),
  (2016, 4, 'Unknown', 16.13, 19.56),
  (2016, 5, 'Bronx', 14.89, 4.82),
  (2016, 5, 'Brooklyn', 16.71, 15.43),
  (2016, 5, 'EWR', 84.45, 78.49),
  (2016, 5, 'Manhattan', 14.74, 14.35),
  (2016, 5, 'Queens', 32.97, 15.68),
  (2016, 5, 'Staten Island', 26.43, 15.99),
  (2016, 5, 'Unknown', 16.71, 16.09),
  (2016, 6, 'Bronx', 15.21, 10.11),
  (2016, 6, 'Brooklyn', 16.7, 19.09),
  (2016, 6, 'EWR', 84.81, 853.73),
  (2016, 6, 'Manhattan', 14.79, 15.45),
  (2016, 6, 'Queens', 33.24, 18.07),
  (2016, 6, 'Staten Island', 33.1, 15.78),
  (2016, 6, 'Unknown', 16.62, 21.49),
  (2016, 7, 'Bronx', 15.48, 5.07),
  (2016, 7, 'Brooklyn', 16.56, 14.53),
  (2016, 7, 'EWR', 88.51, 41.7),
  (2016, 7, 'Manhattan', 14.61, 14.47),
  (2016, 7, 'Queens', 32.55, 14.86),
  (2016, 7, 'Staten Island', 33.98, 14.55),
  (2016, 7, 'Unknown', 16.23, 14.11),
  (2016, 8, 'Bronx', 15.57, 4.86),
  (2016, 8, 'Brooklyn', 16.48, 16.05),
  (2016, 8, 'EWR', 83.59, 626.87),
  (2016, 8, 'Manhattan', 14.38, 14.49),
  (2016, 8, 'Queens', 33.19, 13.23),
  (2016, 8, 'Staten Island', 24.64, 12.33),
  (2016, 8, 'Unknown', 17.47, 14.13),
  (2016, 9, 'Bronx', 15.59, 4.78),
  (2016, 9, 'Brooklyn', 16.61, 12.69),
  (2016, 9, 'EWR', 87.44, 378.11),
  (2016, 9, 'Manhattan', 15.05, 14.01),
  (2016, 9, 'Queens', 34.55, 14.56),
  (2016, 9, 'Staten Island', 24.13, 19.91),
  (2016, 9, 'Unknown', 22.02, 15.58),
  (2016, 10, 'Bronx', 15.28, 4.66),
  (2016, 10, 'Brooklyn', 16.35, 13.3),
  (2016, 10, 'EWR', 86.72, 36.74),
  (2016, 10, 'Manhattan', 14.71, 14.74),
  (2016, 10, 'Queens', 33.55, 17.42),
  (2016, 10, 'Staten Island', 31.79, 30.14),
  (2016, 10, 'Unknown', 16.46, 15.2),
  (2016, 11, 'Bronx', 15.01, 4.67),
  (2016, 11, 'Brooklyn', 15.99, 13.29),
  (2016, 11, 'EWR', 89.56, 2376.85),
  (2016, 11, 'Manhattan', 14.7, 14.3),
  (2016, 11, 'Queens', 33.73, 15.48),
  (2016, 11, 'Staten Island', 27.17, 21.02),
  (2016, 11, 'Unknown', 16.43, 15.49),
  (2016, 12, 'Bronx', 14.62, 4.45),
  (2016, 12, 'Brooklyn', 15.66, 13.19),
  (2016, 12, 'EWR', 87.5, 4916.68),
  (2016, 12, 'Manhattan', 14.52, 14.77),
  (2016, 12, 'Queens', 31.61, 14.31),
  (2016, 12, 'Staten Island', 29.84, 19.52),
  (2016, 12, 'Unknown', 16.36, 22.3),
  (2017, 1, 'Bronx', 14.26, 4.65),
  (2017, 1, 'Brooklyn', 15.23, 16.78),
  (2017, 1, 'EWR', 84.49, 39.33),
  (2017, 1, 'Manhattan', 13.65, 15.14),
  (2017, 1, 'Queens', 32.78, 15.01),
  (2017, 1, 'Staten Island', 26.93, 13.44),
  (2017, 1, 'Unknown', 15.32, 14.87),
  (2017, 2, 'Bronx', 14.4, 4.68),
  (2017, 2, 'Brooklyn', 15.47, 13.12),
  (2017, 2, 'EWR', 86.44, 52.68),
  (2017, 2, 'Manhattan', 13.98, 15.25),
  (2017, 2, 'Queens', 31.93, 13.29),
  (2017, 2, 'Staten Island', 47.55, 15.68),
  (2017, 2, 'Unknown', 15.43, 19.72),
  (2017, 3, 'Bronx', 14.65, 4.77),
  (2017, 3, 'Brooklyn', 15.43, 13.52),
  (2017, 3, 'EWR', 82.81, 3063.15),
  (2017, 3, 'Manhattan', 14.33, 15.41),
  (2017, 3, 'Queens', 33.18, 13.95),
  (2017, 3, 'Staten Island', 29.81, 49.18),
  (2017, 3, 'Unknown', 16.13, 18.9),
  (2017, 4, 'Bronx', 15.17, 17.21),
  (2017, 4, 'Brooklyn', 15.68, 13.0),
  (2017, 4, 'EWR', 87.68, 2945.46),
  (2017, 4, 'Manhattan', 14.31, 14.85),
  (2017, 4, 'Queens', 34.23, 13.61),
  (2017, 4, 'Staten Island', 26.64, 10.89),
  (2017, 4, 'Unknown', 16.14, 24.36),
  (2017, 5, 'Bronx', 15.5, 44.68),
  (2017, 5, 'Brooklyn', 16.13, 15.2),
  (2017, 5, 'EWR', 85.53, 65.22),
  (2017, 5, 'Manhattan', 14.65, 15.32),
  (2017, 5, 'Queens', 35.03, 14.39),
  (2017, 5, 'Staten Island', 34.57, 101.77),
  (2017, 5, 'Unknown', 16.58, 16.42),
  (2017, 6, 'Bronx', 15.93, 21.42),
  (2017, 6, 'Brooklyn', 16.22, 14.11),
  (2017, 6, 'EWR', 88.9, 54.21),
  (2017, 6, 'Manhattan', 14.59, 15.05),
  (2017, 6, 'Queens', 34.94, 12.4),
  (2017, 6, 'Staten Island', 34.83, 15.62),
  (2017, 6, 'Unknown', 16.55, 14.92),
  (2017, 7, 'Bronx', 16.63, 6.55),
  (2017, 7, 'Brooklyn', 16.05, 12.62),
  (2017, 7, 'EWR', 79.88, 4865.03),
  (2017, 7, 'Manhattan', 14.25, 14.54),
  (2017, 7, 'Queens', 34.29, 14.89),
  (2017, 7, 'Staten Island', 31.28, 6.45),
  (2017, 7, 'Unknown', 16.43, 14.64),
  (2017, 8, 'Bronx', 16.83, 18.4),
  (2017, 8, 'Brooklyn', 16.1, 12.48),
  (2017, 8, 'EWR', 87.35, 17.59),
  (2017, 8, 'Manhattan', 14.21, 14.68),
  (2017, 8, 'Queens', 35.21, 12.1),
  (2017, 8, 'Staten Island', 34.57, 6.19),
  (2017, 8, 'Unknown', 18.33, 14.65),
  (2017, 9, 'Bronx', 16.93, 22.56),
  (2017, 9, 'Brooklyn', 16.43, 12.18),
  (2017, 9, 'EWR', 87.09, 3863.61),
  (2017, 9, 'Manhattan', 14.51, 14.86),
  (2017, 9, 'Queens', 35.65, 11.82),
  (2017, 9, 'Staten Island', 39.47, 25.7),
  (2017, 9, 'Unknown', 16.88, 14.9),
  (2017, 10, 'Bronx', 16.98, 4.56),
  (2017, 10, 'Brooklyn', 16.38, 12.23),
  (2017, 10, 'EWR', 85.14, 52.02),
  (2017, 10, 'Manhattan', 14.63, 15.04),
  (2017, 10, 'Queens', 36.12, 14.81),
  (2017, 10, 'Staten Island', 45.23, 32.23),
  (2017, 10, 'Unknown', 16.4, 14.96),
  (2017, 11, 'Bronx', 15.95, 3.71),
  (2017, 11, 'Brooklyn', 16.1, 13.17),
  (2017, 11, 'EWR', 91.51, 271.36),
  (2017, 11, 'Manhattan', 14.45, 14.73),
  (2017, 11, 'Queens', 35.47, 14.46),
  (2017, 11, 'Staten Island', 30.81, 8.25),
  (2017, 11, 'Unknown', 16.1, 14.99),
  (2017, 12, 'Bronx', 15.98, 3.58),
  (2017, 12, 'Brooklyn', 16.0, 14.78),
  (2017, 12, 'EWR', 95.92, 88.94),
  (2017, 12, 'Manhattan', 14.34, 14.67),
  (2017, 12, 'Queens', 33.79, 15.17),
  (2017, 12, 'Staten Island', 38.86, 19.88),
  (2017, 12, 'Unknown', 15.84, 14.51),
  (2018, 1, 'Bronx', 15.97, 3.65),
  (2018, 1, 'Brooklyn', 15.81, 12.41),
  (2018, 1, 'EWR', 90.12, 89.57),
  (2018, 1, 'Manhattan', 13.51, 15.62),
  (2018, 1, 'Queens', 34.75, 13.12),
  (2018, 1, 'Staten Island', 32.0, 8.09),
  (2018, 1, 'Unknown', 15.21, 15.24),
  (2018, 2, 'Bronx', 16.16, 3.42),
  (2018, 2, 'Brooklyn', 15.95, 11.96),
  (2018, 2, 'EWR', 88.13, 45.62),
  (2018, 2, 'Manhattan', 13.64, 15.44),
  (2018, 2, 'Queens', 34.45, 14.13),
  (2018, 2, 'Staten Island', 34.35, 5.45),
  (2018, 2, 'Unknown', 15.06, 15.48),
  (2018, 3, 'Bronx', 19.02, 45.08),
  (2018, 3, 'Brooklyn', 16.87, 14.94),
  (2018, 3, 'EWR', 90.42, 49.63),
  (2018, 3, 'Manhattan', 13.99, 15.4),
  (2018, 3, 'Queens', 35.53, 14.67),
  (2018, 3, 'Staten Island', 45.13, 5086.54),
  (2018, 3, 'Unknown', 15.7, 20.41),
  (2018, 4, 'Bronx', 20.94, 3.07),
  (2018, 4, 'Brooklyn', 17.54, 11.42),
  (2018, 4, 'EWR', 89.71, 44.76),
  (2018, 4, 'Manhattan', 14.16, 15.01),
  (2018, 4, 'Queens', 36.85, 12.57),
  (2018, 4, 'Staten Island', 55.38, 7.08),
  (2018, 4, 'Unknown', 15.94, 15.17),
  (2018, 5, 'Bronx', 22.14, 3.09),
  (2018, 5, 'Brooklyn', 18.24, 12.23),
  (2018, 5, 'EWR', 88.63, 67.91),
  (2018, 5, 'Manhattan', 14.58, 14.88),
  (2018, 5, 'Queens', 37.15, 15.17),
  (2018, 5, 'Staten Island', 55.5, 5.14),
  (2018, 5, 'Unknown', 16.51, 20.59),
  (2018, 6, 'Bronx', 22.32, 3.38),
  (2018, 6, 'Brooklyn', 18.3, 11.65),
  (2018, 6, 'EWR', 94.43, 47.25),
  (2018, 6, 'Manhattan', 14.48, 15.35),
  (2018, 6, 'Queens', 37.06, 13.14),
  (2018, 6, 'Staten Island', 59.81, 15.44),
  (2018, 6, 'Unknown', 16.16, 15.44),
  (2018, 7, 'Bronx', 22.41, 3.08),
  (2018, 7, 'Brooklyn', 18.32, 11.13),
  (2018, 7, 'EWR', 91.3, 64.7),
  (2018, 7, 'Manhattan', 14.36, 14.8),
  (2018, 7, 'Queens', 36.55, 15.46),
  (2018, 7, 'Staten Island', 57.25, 6.41),
  (2018, 7, 'Unknown', 16.36, 14.64),
  (2018, 8, 'Bronx', 23.51, 3.41),
  (2018, 8, 'Brooklyn', 19.04, 10.49),
  (2018, 8, 'EWR', 90.7, 35.67),
  (2018, 8, 'Manhattan', 14.25, 14.83),
  (2018, 8, 'Queens', 37.73, 12.59),
  (2018, 8, 'Staten Island', 58.93, 2.11),
  (2018, 8, 'Unknown', 16.1, 15.81),
  (2018, 9, 'Bronx', 24.87, 7.09),
  (2018, 9, 'Brooklyn', 19.49, 10.42),
  (2018, 9, 'EWR', 88.77, 83.72),
  (2018, 9, 'Manhattan', 14.63, 15.41),
  (2018, 9, 'Queens', 37.66, 12.2),
  (2018, 9, 'Staten Island', 59.45, 13.56),
  (2018, 9, 'Unknown', 16.33, 21.19),
  (2018, 10, 'Bronx', 25.78, 77.55),
  (2018, 10, 'Brooklyn', 20.34, 10.63),
  (2018, 10, 'EWR', 91.0, 43.96),
  (2018, 10, 'Manhattan', 14.75, 15.18),
  (2018, 10, 'Queens', 38.19, 12.27),
  (2018, 10, 'Staten Island', 55.53, 11.43),
  (2018, 10, 'Unknown', 16.35, 15.23),
  (2018, 11, 'Bronx', 25.92, 2.48),
  (2018, 11, 'Brooklyn', 20.31, 9.81),
  (2018, 11, 'EWR', 95.27, 2920.42),
  (2018, 11, 'Manhattan', 14.65, 14.85),
  (2018, 11, 'Queens', 37.56, 14.02),
  (2018, 11, 'Staten Island', 57.12, 3.95),
  (2018, 11, 'Unknown', 16.16, 16.08),
  (2018, 12, 'Bronx', 27.24, 9.65),
  (2018, 12, 'Brooklyn', 20.72, 9.31),
  (2018, 12, 'EWR', 91.19, 22.76),
  (2018, 12, 'Manhattan', 14.51, 15.29),
  (2018, 12, 'Queens', 36.19, 15.54),
  (2018, 12, 'Staten Island', 53.87, 3.33),
  (2018, 12, 'Unknown', 15.97, 19.07),
  (2019, 1, 'Bronx', 27.22, 1.24),
  (2019, 1, 'Brooklyn', 21.11, 10.82),
  (2019, 1, 'EWR', 90.07, 12.65),
  (2019, 1, 'Manhattan', 13.61, 16.0),
  (2019, 1, 'Queens', 36.97, 12.23),
  (2019, 1, 'Staten Island', 59.45, 2.25),
  (2019, 1, 'Unknown', 14.84, 15.93),
  (2019, 2, 'Bronx', 27.75, 1.08),
  (2019, 2, 'Brooklyn', 22.0, 8.42),
  (2019, 2, 'EWR', 87.6, 420.67),
  (2019, 2, 'Manhattan', 16.54, 19.68),
  (2019, 2, 'Queens', 39.77, 22.53),
  (2019, 2, 'Staten Island', 59.52, 2.09),
  (2019, 2, 'Unknown', 16.4, 16.85),
  (2019, 3, 'Bronx', 27.03, 1.26),
  (2019, 3, 'Brooklyn', 21.71, 10.16),
  (2019, 3, 'EWR', 96.77, 16.08),
  (2019, 3, 'Manhattan', 17.08, 19.25),
  (2019, 3, 'Queens', 39.6, 13.75),
  (2019, 3, 'Staten Island', 61.9, 5.86),
  (2019, 3, 'Unknown', 17.54, 34.94),
  (2019, 4, 'Bronx', 28.06, 1.6),
  (2019, 4, 'Brooklyn', 21.67, 9.87),
  (2019, 4, 'EWR', 88.99, 45.37),
  (2019, 4, 'Manhattan', 17.1, 18.92),
  (2019, 4, 'Queens', 40.69, 14.95),
  (2019, 4, 'Staten Island', 58.29, 14.42),
  (2019, 4, 'Unknown', 18.28, 19.18),
  (2019, 5, 'Bronx', 31.12, 2.73),
  (2019, 5, 'Brooklyn', 22.55, 11.46),
  (2019, 5, 'EWR', 95.45, 2667.9),
  (2019, 5, 'Manhattan', 17.41, 19.24),
  (2019, 5, 'Queens', 47.3, 14.83),
  (2019, 5, 'Staten Island', 63.37, 29.42),
  (2019, 5, 'Unknown', 18.22, 18.67),
  (2019, 6, 'Bronx', 29.51, 15.5),
  (2019, 6, 'Brooklyn', 22.21, 10.78),
  (2019, 6, 'EWR', 91.29, 2584.47),
  (2019, 6, 'Manhattan', 17.55, 19.18),
  (2019, 6, 'Queens', 46.95, 15.14),
  (2019, 6, 'Staten Island', 60.72, 4.21),
  (2019, 6, 'Unknown', 18.3, 17.77),
  (2019, 7, 'Bronx', 25.86, 1.87),
  (2019, 7, 'Brooklyn', 21.02, 9.28),
  (2019, 7, 'EWR', 99.3, 57.59),
  (2019, 7, 'Manhattan', 17.14, 18.4),
  (2019, 7, 'Queens', 39.89, 13.95),
  (2019, 7, 'Staten Island', 64.33, 3.76),
  (2019, 7, 'Unknown', 18.36, 17.61),
  (2019, 8, 'Bronx', 25.88, 1.88),
  (2019, 8, 'Brooklyn', 21.33, 9.73),
  (2019, 8, 'EWR', 94.15, 3866.48),
  (2019, 8, 'Manhattan', 17.09, 19.28),
  (2019, 8, 'Queens', 40.6, 13.26),
  (2019, 8, 'Staten Island', 67.56, 15.37),
  (2019, 8, 'Unknown', 19.62, 17.44),
  (2019, 9, 'Bronx', 26.48, 2.0),
  (2019, 9, 'Brooklyn', 21.58, 9.59),
  (2019, 9, 'EWR', 94.69, 8115.94),
  (2019, 9, 'Manhattan', 17.53, 19.07),
  (2019, 9, 'Queens', 41.39, 14.79),
  (2019, 9, 'Staten Island', 66.66, 8.33),
  (2019, 9, 'Unknown', 19.91, 18.42),
  (2019, 10, 'Bronx', 27.97, 1.8),
  (2019, 10, 'Brooklyn', 22.17, 10.02),
  (2019, 10, 'EWR', 99.8, 46.02),
  (2019, 10, 'Manhattan', 17.53, 19.08),
  (2019, 10, 'Queens', 40.99, 12.22),
  (2019, 10, 'Staten Island', 65.45, 18.96),
  (2019, 10, 'Unknown', 20.08, 18.07),
  (2019, 11, 'Bronx', 27.7, 1.57),
  (2019, 11, 'Brooklyn', 21.73, 10.13),
  (2019, 11, 'EWR', 96.32, 40.51),
  (2019, 11, 'Manhattan', 17.32, 19.45),
  (2019, 11, 'Queens', 40.31, 17.93),
  (2019, 11, 'Staten Island', 59.42, 1.51),
  (2019, 11, 'Unknown', 19.51, 18.18),
  (2019, 12, 'Bronx', 27.96, 1.38),
  (2019, 12, 'Brooklyn', 22.07, 11.16),
  (2019, 12, 'EWR', 95.93, 37.88),
  (2019, 12, 'Manhattan', 17.48, 19.44),
  (2019, 12, 'Queens', 40.11, 13.0),
  (2019, 12, 'Staten Island', 62.44, 29.03),
  (2019, 12, 'Unknown', 19.68, 17.8),
  (2020, 1, 'Bronx', 27.88, 1.21),
  (2020, 1, 'Brooklyn', 22.03, 9.16),
  (2020, 1, 'EWR', 97.83, 76.01),
  (2020, 1, 'Manhattan', 16.56, 19.88),
  (2020, 1, 'Queens', 39.47, 11.97),
  (2020, 1, 'Staten Island', 62.62, 5.16),
  (2020, 1, 'Unknown', 18.99, 18.45),
  (2020, 2, 'Bronx', 27.83, 1.4),
  (2020, 2, 'Brooklyn', 21.66, 10.16),
  (2020, 2, 'EWR', 88.16, 18.84),
  (2020, 2, 'Manhattan', 16.73, 20.01),
  (2020, 2, 'Queens', 39.34, 12.42),
  (2020, 2, 'Staten Island', 65.29, 1.78),
  (2020, 2, 'Unknown', 18.97, 19.58),
  (2020, 3, 'Bronx', 22.12, 1.44),
  (2020, 3, 'Brooklyn', 19.79, 9.66),
  (2020, 3, 'EWR', 81.93, 34.67),
  (2020, 3, 'Manhattan', 16.85, 19.91),
  (2020, 3, 'Queens', 40.16, 16.83),
  (2020, 3, 'Staten Island', 68.94, 7.4),
  (2020, 3, 'Unknown', 18.43, 18.51),
  (2020, 4, 'Bronx', 25.55, 8.91),
  (2020, 4, 'Brooklyn', 24.39, 10.76),
  (2020, 4, 'EWR', 35.39, 0.0),
  (2020, 4, 'Manhattan', 15.26, 16.57),
  (2020, 4, 'Queens', 29.45, 9.41),
  (2020, 4, 'Staten Island', 77.05, 3.13),
  (2020, 4, 'Unknown', 14.69, 16.1),
  (2020, 5, 'Bronx', 27.04, 6.26),
  (2020, 5, 'Brooklyn', 26.49, 8.38),
  (2020, 5, 'EWR', 92.46, 392.07),
  (2020, 5, 'Manhattan', 17.84, 18.06),
  (2020, 5, 'Queens', 31.17, 7.87),
  (2020, 5, 'Staten Island', 74.09, 2.46),
  (2020, 5, 'Unknown', 14.49, 15.53),
  (2020, 6, 'Bronx', 32.07, 7.57),
  (2020, 6, 'Brooklyn', 30.63, 9.86),
  (2020, 6, 'EWR', 76.9, 234.32),
  (2020, 6, 'Manhattan', 16.48, 17.26),
  (2020, 6, 'Queens', 37.47, 10.57),
  (2020, 6, 'Staten Island', 78.06, 1.68),
  (2020, 6, 'Unknown', 18.75, 15.19),
  (2020, 7, 'Bronx', 34.35, 7.19),
  (2020, 7, 'Brooklyn', 33.5, 16.02),
  (2020, 7, 'EWR', 78.54, 10.58),
  (2020, 7, 'Manhattan', 16.45, 17.65),
  (2020, 7, 'Queens', 38.33, 21.02),
  (2020, 7, 'Staten Island', 80.97, 4.58),
  (2020, 7, 'Unknown', 17.51, 17.38),
  (2020, 8, 'Bronx', 34.24, 10.28),
  (2020, 8, 'Brooklyn', 31.95, 9.32),
  (2020, 8, 'EWR', 71.69, 110.8),
  (2020, 8, 'Manhattan', 16.46, 18.27),
  (2020, 8, 'Queens', 38.74, 10.44),
  (2020, 8, 'Staten Island', 80.38, 4.33),
  (2020, 8, 'Unknown', 18.7, 17.46),
  (2020, 9, 'Bronx', 30.92, 10.72),
  (2020, 9, 'Brooklyn', 28.45, 11.54),
  (2020, 9, 'EWR', 88.84, 141.33),
  (2020, 9, 'Manhattan', 16.09, 19.47),
  (2020, 9, 'Queens', 37.38, 11.35),
  (2020, 9, 'Staten Island', 83.09, 4.06),
  (2020, 9, 'Unknown', 18.35, 19.63),

In [ ]:
# D. TICKET PROMEDIO POR SERVICE_TYPE Y MES
print("ANÁLISIS D: Ticket Promedio por Service_Type y Mes")

# Ticket promedio por service_type y mes
ticket_monthly = (
    df.groupBy("year", "month", "service_type")
    .agg(F.round(F.avg("total_amount"), 2).alias("avg_ticket"))
    .orderBy("year", "month", "service_type")
)

print("TICKET PROMEDIO POR SERVICE_TYPE Y MES:")
ticket_monthly.show(50)

In [18]:
# D. TICKET PROMEDIO POR SERVICE_TYPE Y MES
print("ANÁLISIS D: Ticket Promedio por Service_Type y Mes")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    year,
    month,
    service_type,
    ROUND(AVG(total_amount), 2) AS avg_ticket
FROM analytics.obt_trips
WHERE service_type IS NOT NULL
    AND total_amount IS NOT NULL
GROUP BY year, month, service_type
ORDER BY year, month, service_type
"""
execute_snowflake_sql(query)

ANÁLISIS D: Ticket Promedio por Service_Type y Mes

([(2001, 1, 'yellow', 25.93),
  (2001, 2, 'yellow', 3.8),
  (2001, 8, 'yellow', 24.55),
  (2002, 2, 'yellow', 17.9),
  (2002, 10, 'yellow', 22.58),
  (2002, 12, 'yellow', 31.06),
  (2003, 1, 'yellow', 35.42),
  (2003, 3, 'yellow', 3.31),
  (2003, 12, 'yellow', 7.3),
  (2004, 4, 'yellow', 12.3),
  (2007, 12, 'yellow', 22.75),
  (2008, 8, 'yellow', 10.13),
  (2008, 12, 'green', 15.99),
  (2008, 12, 'yellow', 24.54),
  (2009, 1, 'green', 18.29),
  (2009, 1, 'yellow', 20.36),
  (2010, 8, 'yellow', 18.36),
  (2010, 9, 'green', 18.36),
  (2011, 1, 'yellow', 12.8),
  (2011, 2, 'yellow', 14.98),
  (2012, 9, 'green', 9.79),
  (2014, 11, 'yellow', 52.38),
  (2015, 1, 'green', 14.81),
  (2015, 1, 'yellow', 15.08),
  (2015, 2, 'green', 14.49),
  (2015, 2, 'yellow', 15.38),
  (2015, 3, 'green', 14.57),
  (2015, 3, 'yellow', 15.82),
  (2015, 4, 'green', 14.82),
  (2015, 4, 'yellow', 16.01),
  (2015, 5, 'green', 15.26),
  (2015, 5, 'yellow', 16.4),
  (2015, 6, 'green', 14.98),
  (2015, 6, 'yellow', 16.35),
  (2015, 7, 'green', 14.94),
  (2015, 7, 'yellow', 16.11),
  (2015, 8, 'green', 14.98),
  (2015, 8, 'yellow', 16.12),
  (2015, 9, 'green', 15.09),
  (2015, 9, 'yellow', 16.42),
  (2015, 10, 'green', 14.94),
  (2015, 10, 'yellow', 16.49),
  (2015, 11, 'green', 14.75),
  (2015, 11, 'yellow', 16.33),
  (2015, 12, 'green', 14.76),
  (2015, 12, 'yellow', 16.32),
  (2016, 1, 'green', 14.44),
  (2016, 1, 'yellow', 15.61),
  (2016, 2, 'green', 14.26),
  (2016, 2, 'yellow', 15.57),
  (2016, 3, 'green', 14.52),
  (2016, 3, 'yellow', 16.02),
  (2016, 4, 'green', 14.8),
  (2016, 4, 'yellow', 16.17),
  (2016, 5, 'green', 15.12),
  (2016, 5, 'yellow', 16.62),
  (2016, 6, 'green', 15.12),
  (2016, 6, 'yellow', 16.69),
  (2016, 7, 'green', 15.0),
  (2016, 7, 'yellow', 16.55),
  (2016, 8, 'green', 14.91),
  (2016, 8, 'yellow', 16.36),
  (2016, 9, 'green', 14.96),
  (2016, 9, 'yellow', 17.09),
  (2016, 10, 'green', 14.66),
  (2016, 10, 'yellow', 16.58),
  (2016, 11, 'green', 14.33),
  (2016, 11, 'yellow', 16.57),
  (2016, 12, 'green', 14.05),
  (2016, 12, 'yellow', 16.18),
  (2017, 1, 'green', 13.69),
  (2017, 1, 'yellow', 15.43),
  (2017, 2, 'green', 13.86),
  (2017, 2, 'yellow', 15.6),
  (2017, 3, 'green', 13.88),
  (2017, 3, 'yellow', 16.19),
  (2017, 4, 'green', 14.15),
  (2017, 4, 'yellow', 16.27),
  (2017, 5, 'green', 14.42),
  (2017, 5, 'yellow', 16.73),
  (2017, 6, 'green', 14.57),
  (2017, 6, 'yellow', 16.6),
  (2017, 7, 'green', 14.54),
  (2017, 7, 'yellow', 16.33),
  (2017, 8, 'green', 14.57),
  (2017, 8, 'yellow', 16.43),
  (2017, 9, 'green', 14.92),
  (2017, 9, 'yellow', 16.61),
  (2017, 10, 'green', 14.65),
  (2017, 10, 'yellow', 16.7),
  (2017, 11, 'green', 14.43),
  (2017, 11, 'yellow', 16.44),
  (2017, 12, 'green', 14.23),
  (2017, 12, 'yellow', 16.14),
  (2018, 1, 'green', 14.07),
  (2018, 1, 'yellow', 15.44),
  (2018, 2, 'green', 14.23),
  (2018, 2, 'yellow', 15.43),
  (2018, 3, 'green', 15.0),
  (2018, 3, 'yellow', 15.92),
  (2018, 4, 'green', 15.57),
  (2018, 4, 'yellow', 16.26),
  (2018, 5, 'green', 16.2),
  (2018, 5, 'yellow', 16.74),
  (2018, 6, 'green', 16.35),
  (2018, 6, 'yellow', 16.61),
  (2018, 7, 'green', 16.16),
  (2018, 7, 'yellow', 16.53),
  (2018, 8, 'green', 16.77),
  (2018, 8, 'yellow', 16.57),
  (2018, 9, 'green', 17.42),
  (2018, 9, 'yellow', 16.8),
  (2018, 10, 'green', 17.72),
  (2018, 10, 'yellow', 16.91),
  (2018, 11, 'green', 17.61),
  (2018, 11, 'yellow', 16.78),
  (2018, 12, 'green', 18.0),
  (2018, 12, 'yellow', 16.48),
  (2019, 1, 'green', 18.18),
  (2019, 1, 'yellow', 15.67),
  (2019, 2, 'green', 18.99),
  (2019, 2, 'yellow', 18.67),
  (2019, 3, 'green', 18.72),
  (2019, 3, 'yellow', 19.28),
  (2019, 4, 'green', 18.52),
  (2019, 4, 'yellow', 19.38),
  (2019, 5, 'green', 15.82),
  (2019, 5, 'yellow', 19.63),
  (2019, 6, 'green', 14.95),
  (2019, 6, 'yellow', 19.8),
  (2019, 7, 'green', 17.49),
  (2019, 7, 'yellow', 19.57),
  (2019, 8, 'green', 18.28),
  (2019, 8, 'yellow', 19.64),
  (2019, 9, 'green', 18.72),
  (2019, 9, 'yellow', 19.89),
  (2019, 10, 'green', 19.13),
  (2019, 10, 'yellow', 19.73),
  (2019, 11, 'green', 18.43),
  (2019, 11, 'yellow', 19.37),
  (2019, 12, 'green', 18.76),
  (2019, 12, 'yellow', 19.61),
  (2020, 1, 'green', 19.02),
  (2020, 1, 'yellow', 18.62),
  (2020, 2, 'green', 18.65),
  (2020, 2, 'yellow', 18.57),
  (2020, 3, 'green', 16.84),
  (2020, 3, 'yellow', 18.86),
  (2020, 4, 'green', 19.94),
  (2020, 4, 'yellow', 16.58),
  (2020, 5, 'green', 21.6),
  (2020, 5, 'yellow', 19.84),
  (2020, 6, 'green', 23.24),
  (2020, 6, 'yellow', 18.92),
  (2020, 7, 'green', 24.49),
  (2020, 7, 'yellow', 18.77),
  (2020, 8, 'green', 24.95),
  (2020, 8, 'yellow', 18.71),
  (2020, 9, 'green', 23.73),
  (2020, 9, 'yellow', 17.71),
  (2020, 10, 'green', 23.36),
  (2020, 10, 'yellow', 18.16),
  (2020, 11, 'green', 23.52),
  (2020, 11, 'yellow', 17.56),
  (2020, 12, 'green', 23.52),
  (2020, 12, 'yellow', 17.72),
  (2021, 1, 'green', 23.77),
  (2021, 1, 'yellow', 17.57),
  (2021, 2, 'green', 23.65),
  (2021, 2, 'yellow', 17.66),
  (2021, 3, 'green', 23.93),
  (2021, 3, 'yellow', 17.99),
  (2021, 4, 'green', 24.35),
  (2021, 4, 'yellow', 18.63),
  (2021, 5, 'green', 24.04),
  (2021, 5, 'yellow', 18.95),
  (2021, 6, 'green', 23.82),
  (2021, 6, 'yellow', 19.49),
  (2021, 7, 'green', 24.47),
  (2021, 7, 'yellow', 19.95),
  (2021, 8, 'green', 24.76),
  (2021, 8, 'yellow', 20.26),
  (2021, 9, 'green', 25.49),
  (2021, 9, 'yellow', 20.93),
  (2021, 10, 'green', 24.16),
  (2021, 10, 'yellow', 20.34),
  (2021, 11, 'green', 23.97),
  (2021, 11, 'yellow', 20.74),
  (2021, 12, 'green', 23.22),
  (2021, 12, 'yellow', 20.95),
  (2022, 1, 'green', 17.58),
  (2022, 1, 'yellow', 19.25),
  (2022, 2, 'green', 17.81),
  (2022, 2, 'yellow', 19.58),
  (2022, 3, 'green', 18.29),
  (2022, 3, 'yellow', 20.67),
  (2022, 4, 'green', 18.77),
  (2022, 4, 'yellow', 21.25),
  (2022, 5, 'green', 19.67),
  (2022, 5, 'yellow', 22.14),
  (2022, 6, 'green', 19.89),
  (2022, 6, 'yellow', 22.19),
  (2022, 7, 'green', 19.65),
  (2022, 7, 'yellow', 21.52),
  (2022, 8, 'green', 19.84),
  (2022, 8, 'yellow', 21.65),
  (2022, 9, 'green', 20.74),
  (2022, 9, 'yellow', 22.75),
  (2022, 10, 'green', 19.48),
  (2022, 10, 'yellow', 22.32),
  (2022, 11, 'green', 18.92),
  (2022, 11, 'yellow', 22.16),
  (2022, 12, 'green', 21.07),
  (2022, 12, 'yellow', 24.76),
  (2023, 1, 'green', 21.9),
  (2023, 1, 'yellow', 27.35),
  (2023, 2, 'green', 22.02),
  (2023, 2, 'yellow', 27.27),
  (2023, 3, 'green', 22.42),
  (2023, 3, 'yellow', 28.19),
  (2023, 4, 'green', 23.17),
  (2023, 4, 'yellow', 28.67),
  (2023, 5, 'green', 23.87),
  (2023, 5, 'yellow', 29.38),
  (2023, 6, 'green', 24.5),
  (2023, 6, 'yellow', 29.5),
  (2023, 7, 'green', 24.42),
  (2023, 7, 'yellow', 29.07),
  (2023, 8, 'green', 25.28),
  (2023, 8, 'yellow', 29.15),
  (2023, 9, 'green', 26.54),
  (2023, 9, 'yellow', 30.26),
  (2023, 10, 'green', 24.81),
  (2023, 10, 'yellow', 29.65),
  (2023, 11, 'green', 24.2),
  (2023, 11, 'yellow', 29.19),
  (2023, 12, 'green', 24.22),
  (2023, 12, 'yellow', 29.05),
  (2024, 1, 'green', 22.46),
  (2024, 1, 'yellow', 27.29),
  (2024, 2, 'green', 22.66),
  (2024, 2, 'yellow', 27.14),
  (2024, 3, 'green', 22.98),
  (2024, 3, 'yellow', 27.68),
  (2024, 4, 'green', 23.47),
  (2024, 4, 'yellow', 28.07),
  (2024, 5, 'green', 24.66),
  (2024, 5, 'yellow', 28.98),
  (2024, 6, 'green', 24.9),
  (2024, 6, 'yellow', 28.57),
  (2024, 7, 'green', 24.76),
  (2024, 7, 'yellow', 28.89),
  (2024, 8, 'green', 26.02),
  (2024, 8, 'yellow', 29.15),
  (2024, 9, 'green', 26.69),
  (2024, 9, 'yellow', 29.29),
  (2024, 10, 'green', 25.07),
  (2024, 10, 'yellow', 29.21),
  (2024, 11, 'green', 24.18),
  (2024, 11, 'yellow', 28.46),
  (2024, 12, 'green', 23.97),
  (2024, 12, 'yellow', 29.28),
  (2025, 1, 'green', 22.75),
  (2025, 1, 'yellow', 26.47),
  (2025, 2, 'green', 23.04),
  (2025, 2, 'yellow', 25.76),
  (2025, 3, 'green', 24.13),
  (2025, 3, 'yellow', 27.08),
  (2025, 4, 'green', 24.73),
  (2025, 4, 'yellow', 27.51),
  (2025, 5, 'green', 25.48),
  (2025, 5, 'yellow', 28.0),
  (2025, 6, 'green', 25.86),
  (2025, 6, 'yellow', 28.29),
  (2025, 7, 'green', 25.73),
  (2025, 7, 'yellow', 27.86),
  (2025, 8, 'green', 27.73),
  (2025, 8, 'yellow', 27.58),
  (2025, 9, 'green', 26.04),
  (2025, 9, 'yellow', 25.62),
  (2026, 2, 'yellow', 14.3),
  (2026, 6, 'yellow', 43.29),
  (2026, 12, 'yellow', 55.3),
  (2028, 12, 'yellow', 63.1),
  (2029, 5, 'yellow', 26.08),
  (2029, 11, 'yellow', 16.63),
  (2030, 11, 'green', 7.3),
  (2031, 2, 'yellow', 9.8),
  (2032, 2, 'yellow', 63.3),
  (2033, 4, 'yellow', 8.8),
  (2037, 11, 'yellow', 18.0),
  (2038, 2, 'yellow', 12.07),
  (2041, 3, 'yellow', 15.8),
  (2041, 6, 'yellow', 8.3),
  (2041, 11, 'yellow', 31.56),
  (2042, 12, 'yellow', 4.8),
  (2053, 3, 'yellow', 5.8),
  (2058, 12, 'yellow', 11.39),
  (2062, 8, 'green', 3.6),
  (2066, 12, 'yellow', 61.42),
  (2081, 6, 'green', 55.96),
  (2084, 11, 'yellow', 9.24),
  (2088, 1, 'yellow', 10.3),
  (2090, 12, 'yellow', 61.42),
  (2098, 9, 'yellow', 25.8)],
 ['YEAR', 'MONTH', 'SERVICE_TYPE', 'AVG_TICKET'])

In [ ]:
# E. VIAJES POR HORA DEL DÍA Y DÍA DE SEMANA (PICOS)
print("ANÁLISIS E: Viajes por Hora del Día y Día de Semana (Picos)")

# Viajes por hora del día y día de semana para identificar picos
hourly_daily_patterns = (
    df.groupBy("pickup_hour", "day_of_week", "is_weekend")
    .agg(F.count("*").alias("total_trips"))
    .orderBy("pickup_hour", "day_of_week")
)

print("VIAJES POR HORA DEL DÍA Y DÍA DE SEMANA (PICOS):")
hourly_daily_patterns.show(50)

In [19]:
# E. VIAJES POR HORA DEL DÍA Y DÍA DE SEMANA (PICOS)
print("ANÁLISIS E: Viajes por Hora del Día y Día de Semana (Picos)")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    pickup_hour,
    day_of_week,
    is_weekend,
    COUNT(*) AS total_trips
FROM analytics.obt_trips
WHERE pickup_hour IS NOT NULL
    AND day_of_week IS NOT NULL
    AND is_weekend IS NOT NULL
GROUP BY pickup_hour, day_of_week, is_weekend
ORDER BY pickup_hour, day_of_week;
"""
execute_snowflake_sql(query)

ANÁLISIS E: Viajes por Hora del Día y Día de Semana (Picos)

([(0, 0, False, 6482322),
  (0, 1, True, 2231648),
  (0, 2, False, 2250748),
  (0, 3, False, 2771714),
  (0, 4, False, 3274393),
  (0, 5, False, 4382436),
  (0, 6, False, 6339551),
  (1, 0, False, 5696055),
  (1, 1, True, 1326870),
  (1, 2, False, 1259670),
  (1, 3, False, 1565910),
  (1, 4, False, 1896310),
  (1, 5, False, 2780467),
  (1, 6, False, 5257342),
  (2, 0, False, 4441470),
  (2, 1, True, 849826),
  (2, 2, False, 757415),
  (2, 3, False, 948056),
  (2, 4, False, 1163793),
  (2, 5, False, 1770136),
  (2, 6, False, 4175562),
  (3, 0, False, 3417572),
  (3, 1, True, 611462),
  (3, 2, False, 510473),
  (3, 3, False, 633833),
  (3, 4, False, 777843),
  (3, 5, False, 1170632),
  (3, 6, False, 3020613),
  (4, 0, False, 2207100),
  (4, 1, True, 698586),
  (4, 2, False, 566501),
  (4, 3, False, 643814),
  (4, 4, False, 744362),
  (4, 5, False, 995251),
  (4, 6, False, 1942282),
  (5, 0, False, 1057875),
  (5, 1, True, 1128538),
  (5, 2, False, 1083916),
  (5, 3, False, 1108504),
  (5, 4, False, 1164051),
  (5, 5, False, 1232008),
  (5, 6, False, 1019756),
  (6, 0, False, 1172877),
  (6, 1, True, 2732290),
  (6, 2, False, 2899714),
  (6, 3, False, 2937920),
  (6, 4, False, 2990553),
  (6, 5, False, 2842626),
  (6, 6, False, 1367846),
  (7, 0, False, 1614215),
  (7, 1, True, 4635980),
  (7, 2, False, 5219547),
  (7, 3, False, 5347903),
  (7, 4, False, 5388532),
  (7, 5, False, 4949760),
  (7, 6, False, 2015125),
  (8, 0, False, 2403565),
  (8, 1, True, 5736560),
  (8, 2, False, 6454075),
  (8, 3, False, 6619935),
  (8, 4, False, 6608071),
  (8, 5, False, 6122648),
  (8, 6, False, 3059161),
  (9, 0, False, 3582567),
  (9, 1, True, 5577470),
  (9, 2, False, 6208305),
  (9, 3, False, 6346739),
  (9, 4, False, 6345826),
  (9, 5, False, 6002457),
  (9, 6, False, 4363772),
  (10, 0, False, 4838530),
  (10, 1, True, 5233310),
  (10, 2, False, 5768166),
  (10, 3, False, 5907269),
  (10, 4, False, 5952327),
  (10, 5, False, 5748999),
  (10, 6, False, 5298510),
  (11, 0, False, 5581282),
  (11, 1, True, 5292590),
  (11, 2, False, 5793119),
  (11, 3, False, 6015202),
  (11, 4, False, 6044355),
  (11, 5, False, 5913608),
  (11, 6, False, 5983172),
  (12, 0, False, 6114607),
  (12, 1, True, 5579815),
  (12, 2, False, 6055966),
  (12, 3, False, 6294801),
  (12, 4, False, 6337429),
  (12, 5, False, 6162226),
  (12, 6, False, 6530189),
  (13, 0, False, 6211330),
  (13, 1, True, 5673827),
  (13, 2, False, 6095766),
  (13, 3, False, 6318089),
  (13, 4, False, 6372259),
  (13, 5, False, 6202181),
  (13, 6, False, 6695909),
  (14, 0, False, 6304603),
  (14, 1, True, 6151074),
  (14, 2, False, 6579170),
  (14, 3, False, 6692258),
  (14, 4, False, 6848103),
  (14, 5, False, 6801702),
  (14, 6, False, 6598661),
  (15, 0, False, 6150461),
  (15, 1, True, 6294812),
  (15, 2, False, 6589721),
  (15, 3, False, 6654555),
  (15, 4, False, 6770130),
  (15, 5, False, 6713274),
  (15, 6, False, 6751053),
  (16, 0, False, 6044665),
  (16, 1, True, 6000646),
  (16, 2, False, 6141622),
  (16, 3, False, 6188259),
  (16, 4, False, 6246658),
  (16, 5, False, 6266779),
  (16, 6, False, 6539711),
  (17, 0, False, 6226012),
  (17, 1, True, 6799572),
  (17, 2, False, 7135472),
  (17, 3, False, 7247957),
  (17, 4, False, 7302948),
  (17, 5, False, 7317756),
  (17, 6, False, 7046323),
  (18, 0, False, 6310402),
  (18, 1, True, 7490283),
  (18, 2, False, 8140013),
  (18, 3, False, 8275548),
  (18, 4, False, 8374498),
  (18, 5, False, 8358497),
  (18, 6, False, 7662638),
  (19, 0, False, 5675248),
  (19, 1, True, 6872834),
  (19, 2, False, 7633882),
  (19, 3, False, 8008077),
  (19, 4, False, 8146983),
  (19, 5, False, 8336380),
  (19, 6, False, 7738668),
  (20, 0, False, 5138032),
  (20, 1, True, 6240112),
  (20, 2, False, 7193108),
  (20, 3, False, 7515309),
  (20, 4, False, 7737903),
  (20, 5, False, 7286535),
  (20, 6, False, 6637091),
  (21, 0, False, 4859306),
  (21, 1, True, 5947972),
  (21, 2, False, 7178793),
  (21, 3, False, 7538699),
  (21, 4, False, 7794333),
  (21, 5, False, 7135952),
  (21, 6, False, 6583426),
  (22, 0, False, 4307913),
  (22, 1, True, 5071196),
  (22, 2, False, 6310054),
  (22, 3, False, 6867493),
  (22, 4, False, 7342054),
  (22, 5, False, 7412272),
  (22, 6, False, 7100231),
  (23, 0, False, 3367868),
  (23, 1, True, 3588418),
  (23, 2, False, 4523013),
  (23, 3, False, 5164034),
  (23, 4, False, 6125209),
  (23, 5, False, 7158681),
  (23, 6, False, 7172380)],
 ['PICKUP_HOUR', 'DAY_OF_WEEK', 'IS_WEEKEND', 'TOTAL_TRIPS'])

In [ ]:
# F. P50/P90 DE TRIP_DURATION_MIN POR BOROUGH DE PICKUP
print("ANÁLISIS F: P50/P90 de Trip_Duration_Min por Borough de Pickup")

# P50/P90 de trip_duration_min por borough de pickup
duration_percentiles = (
    df.groupBy("pu_borough")
    .agg(F.round(F.expr("percentile_approx(trip_duration_min, 0.5)"), 2).alias("p50_duration"),
         F.round(F.expr("percentile_approx(trip_duration_min, 0.9)"), 2).alias("p90_duration"))
    .orderBy("pu_borough")
)

print("P50/P90 DE TRIP_DURATION_MIN POR BOROUGH DE PICKUP:")
duration_percentiles.show()

In [21]:
# F. P50/P90 DE TRIP_DURATION_MIN POR BOROUGH DE PICKUP
print("ANÁLISIS F: P50/P90 de Trip_Duration_Min por Borough de Pickup")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    pu_borough,
    APPROX_PERCENTILE(trip_duration_min, 0.5) AS p50_duration,
    APPROX_PERCENTILE(trip_duration_min, 0.9) AS p90_duration
FROM analytics.obt_trips
WHERE pu_borough IS NOT NULL
  AND trip_duration_min > 0
GROUP BY pu_borough
ORDER BY pu_borough;
"""
execute_snowflake_sql(query)

ANÁLISIS F: P50/P90 de Trip_Duration_Min por Borough de Pickup

([('Bronx', 14.0, 38.997094005331824),
  ('Brooklyn', 13.000000000000004, 33.00000000000001),
  ('EWR', 1.0, 12.687074829931971),
  ('Manhattan', 11.000000000000007, 25.00000000000002),
  ('Queens', 25.000000000000014, 54.99870663581259),
  ('Staten Island', 28.0, 72.9800420168067),
  ('Unknown', 11.000000000000005, 29.000000000000007)],
 ['PU_BOROUGH', 'P50_DURATION', 'P90_DURATION'])

In [ ]:
# G. AVG_SPEED_MPH POR FRANJA HORARIA (6–9, 17–20) Y BOROUGH
print("ANÁLISIS G: Avg_Speed_Mph por Franja Horaria (6–9, 17–20) y Borough")

# Crear franja horaria y agrupar por franja y borough
speed_by_timeframe_borough = (
    df.withColumn("franja_horaria",
                  F.when((F.col("pickup_hour") >= 6) & (F.col("pickup_hour") <= 9), "Mañana (6-9h)")
                   .when((F.col("pickup_hour") >= 17) & (F.col("pickup_hour") <= 20), "Tarde (17-20h)")
                   .otherwise("Otras horas"))
    .filter(F.col("franja_horaria") != "Otras horas")
    .groupBy("franja_horaria", "pu_borough")
    .agg(F.round(F.avg("avg_speed_mph"), 2).alias("avg_speed_mph"))
    .orderBy("franja_horaria", "pu_borough")
)

print("AVG_SPEED_MPH POR FRANJA HORARIA (6–9, 17–20) Y BOROUGH:")
speed_by_timeframe_borough.show()

In [22]:
# G. AVG_SPEED_MPH POR FRANJA HORARIA (6–9, 17–20) Y BOROUGH
print("ANÁLISIS G: Avg_Speed_Mph por Franja Horaria (6–9, 17–20) y Borough")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    CASE
        WHEN pickup_hour BETWEEN 6 AND 9 THEN 'Mañana (6-9h)'
        WHEN pickup_hour BETWEEN 17 AND 20 THEN 'Tarde (17-20h)'
    END AS franja_horaria,
    pu_borough,
    ROUND(AVG(avg_speed_mph), 2) AS avg_speed_mph
FROM analytics.obt_trips
WHERE pickup_hour IS NOT NULL
    AND pu_borough IS NOT NULL
    AND avg_speed_mph IS NOT NULL
    AND (
        (pickup_hour BETWEEN 6 AND 9) OR
        (pickup_hour BETWEEN 17 AND 20)
    )
GROUP BY
    CASE
        WHEN pickup_hour BETWEEN 6 AND 9 THEN 'Mañana (6-9h)'
        WHEN pickup_hour BETWEEN 17 AND 20 THEN 'Tarde (17-20h)'
    END,
    pu_borough
ORDER BY franja_horaria, pu_borough;
"""
execute_snowflake_sql(query)

ANÁLISIS G: Avg_Speed_Mph por Franja Horaria (6–9, 17–20) y Borough

([('Mañana (6-9h)', 'Bronx', 144.11),
  ('Mañana (6-9h)', 'Brooklyn', 50.83),
  ('Mañana (6-9h)', 'EWR', 168.75),
  ('Mañana (6-9h)', 'Manhattan', 21.21),
  ('Mañana (6-9h)', 'Queens', 36.66),
  ('Mañana (6-9h)', 'Staten Island', 58.24),
  ('Mañana (6-9h)', 'Unknown', 31.97),
  ('Tarde (17-20h)', 'Bronx', 45.33),
  ('Tarde (17-20h)', 'Brooklyn', 21.34),
  ('Tarde (17-20h)', 'EWR', 189.87),
  ('Tarde (17-20h)', 'Manhattan', 39.1),
  ('Tarde (17-20h)', 'Queens', 34.07),
  ('Tarde (17-20h)', 'Staten Island', 95.02),
  ('Tarde (17-20h)', 'Unknown', 12.13)],
 ['FRANJA_HORARIA', 'PU_BOROUGH', 'AVG_SPEED_MPH'])

In [ ]:
# H. PARTICIPACIÓN POR PAYMENT_TYPE_DESC Y SU RELACIÓN CON TIP_PCT
print("ANÁLISIS H: Participación por Payment_Type_Desc y su Relación con Tip_Pct")

# Participación por payment_type_desc y su relación con tip_pct
payment_participation_tips = (
    df.groupBy("payment_type_desc")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("tip_pct"), 2).alias("avg_tip_pct"),
         F.round(F.count("*") * 100.0 / df.count(), 2).alias("participacion_pct"))
    .orderBy(F.col("total_trips").desc())
)

print("PARTICIPACIÓN POR PAYMENT_TYPE_DESC Y SU RELACIÓN CON TIP_PCT:")
payment_participation_tips.show()

In [23]:
# H. PARTICIPACIÓN POR PAYMENT_TYPE_DESC Y SU RELACIÓN CON TIP_PCT
print("ANÁLISIS H: Participación por Payment_Type_Desc y su Relación con Tip_Pct")

# Consulta SQL directa usando conector de Snowflake
query = """
WITH total_dataset AS (
    SELECT COUNT(*) as total_records
    FROM analytics.obt_trips
    WHERE payment_type_desc IS NOT NULL
)
SELECT
    payment_type_desc,
    COUNT(*) AS total_trips,
    ROUND(AVG(tip_pct), 2) AS avg_tip_pct,
    ROUND((COUNT(*) * 100.0 / (SELECT total_records FROM total_dataset)), 2) AS participacion_pct
FROM analytics.obt_trips
WHERE payment_type_desc IS NOT NULL
    AND tip_pct IS NOT NULL
GROUP BY payment_type_desc
ORDER BY COUNT(*) DESC;
"""
execute_snowflake_sql(query)

ANÁLISIS H: Participación por Payment_Type_Desc y su Relación con Tip_Pct

([('Credit card', 567185276, 24.48, Decimal('67.31')),
  ('Cash', 252051943, 0.0, Decimal('29.91')),
  ('Flex Fare trip', 16674850, 5.62, Decimal('1.98')),
  ('No charge', 2967048, 0.05, Decimal('0.35')),
  ('Dispute', 1954872, 0.07, Decimal('0.23')),
  ('Unknown', 1808844, 4.19, Decimal('0.21'))],
 ['PAYMENT_TYPE_DESC', 'TOTAL_TRIPS', 'AVG_TIP_PCT', 'PARTICIPACION_PCT'])

In [ ]:
# I. ¿QUÉ RATE_CODE_DESC CONCENTRAN MAYOR TRIP_DISTANCE Y TOTAL_AMOUNT?
print("ANÁLISIS I: ¿Qué Rate_Code_Desc concentran mayor Trip_Distance y Total_Amount?")

# Análisis de rate_code_desc por trip_distance y total_amount
rate_code_analysis = (
    df.groupBy("rate_code_desc")
    .agg(F.round(F.avg("trip_distance"), 2).alias("avg_trip_distance"),
         F.round(F.avg("total_amount"), 2).alias("avg_total_amount"),
         F.count("*").alias("total_trips"))
    .orderBy(F.col("avg_trip_distance").desc(), F.col("avg_total_amount").desc())
)

print("¿QUÉ RATE_CODE_DESC CONCENTRAN MAYOR TRIP_DISTANCE Y TOTAL_AMOUNT?:")
rate_code_analysis.show()

In [24]:
# I. ¿QUÉ RATE_CODE_DESC CONCENTRAN MAYOR TRIP_DISTANCE Y TOTAL_AMOUNT?
print("ANÁLISIS I: ¿Qué Rate_Code_Desc concentran mayor Trip_Distance y Total_Amount?")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    rate_code_desc,
    ROUND(AVG(trip_distance), 2) AS avg_trip_distance,
    ROUND(AVG(total_amount), 2) AS avg_total_amount,
    COUNT(*) AS total_trips
FROM analytics.obt_trips
WHERE rate_code_desc IS NOT NULL
    AND trip_distance IS NOT NULL
    AND total_amount IS NOT NULL
GROUP BY rate_code_desc
ORDER BY AVG(trip_distance) DESC, AVG(total_amount) DESC;
"""
execute_snowflake_sql(query)

ANÁLISIS I: ¿Qué Rate_Code_Desc concentran mayor Trip_Distance y Total_Amount?

([('Unknown', 41.2, 26.58, 18481466),
  ('Nassau or Westchester', 29.35, 101.14, 688153),
  ('Negotiated fare', 26.98, 60.38, 3324900),
  ('Null/unknown', 24.02, 37.68, 1216003),
  ('JFK', 22.64, 71.64, 18827410),
  ('Newark', 17.39, 98.06, 1616402),
  ('Standard rate', 4.4, 16.62, 798485788),
  ('Group ride', 1.82, 28.66, 2711)],
 ['RATE_CODE_DESC', 'AVG_TRIP_DISTANCE', 'AVG_TOTAL_AMOUNT', 'TOTAL_TRIPS'])

In [ ]:
# J. MIX YELLOW VS GREEN POR MES Y BOROUGH
print("ANÁLISIS J: Mix Yellow vs Green por Mes y Borough")

# Análisis del mix de servicios yellow vs green por mes y borough de pickup
yellow_green_mix_monthly = (
    df.filter(F.col("service_type").isin(["yellow", "green"]))
    .groupBy("year", "month", "pu_borough", "service_type")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("total_amount"), 2).alias("avg_fare"))
    .withColumn("total_by_month_borough", F.sum("total_trips").over(F.Window.partitionBy("year", "month", "pu_borough")))
    .withColumn("service_mix_pct", F.round((F.col("total_trips") * 100.0 / F.col("total_by_month_borough")), 2))
    .orderBy("year", "month", "pu_borough", "service_type")
)

print("MIX YELLOW VS GREEN POR MES Y BOROUGH:")
yellow_green_mix_monthly.show(50)

In [25]:
# J. MIX YELLOW VS GREEN POR MES Y BOROUGH
print("ANÁLISIS J: Mix Yellow vs Green por Mes y Borough")

# Consulta SQL directa usando conector de Snowflake
query = """
WITH service_counts AS (
    SELECT
        year,
        month,
        pu_borough,
        service_type,
        COUNT(*) as total_trips,
        ROUND(AVG(total_amount), 2) as avg_fare
    FROM analytics.obt_trips
    WHERE service_type IN ('yellow', 'green')
        AND pu_borough IS NOT NULL
    GROUP BY year, month, pu_borough, service_type
),
monthly_totals AS (
    SELECT
        year,
        month,
        pu_borough,
        SUM(total_trips) as total_by_month_borough
    FROM service_counts
    GROUP BY year, month, pu_borough
)
SELECT
    sc.year,
    sc.month,
    sc.pu_borough,
    sc.service_type,
    sc.total_trips,
    sc.avg_fare,
    mt.total_by_month_borough,
    ROUND((sc.total_trips * 100.0 / mt.total_by_month_borough), 2) as service_mix_pct
FROM service_counts sc
JOIN monthly_totals mt
    ON sc.year = mt.year
    AND sc.month = mt.month
    AND sc.pu_borough = mt.pu_borough
ORDER BY sc.year, sc.month, sc.pu_borough, sc.service_type;
"""
execute_snowflake_sql(query)

ANÁLISIS J: Mix Yellow vs Green por Mes y Borough

([(2001, 1, 'Brooklyn', 'yellow', 1, 8.8, 1, Decimal('100.00')),
  (2001, 1, 'Manhattan', 'yellow', 17, 19.88, 17, Decimal('100.00')),
  (2001, 1, 'Queens', 'yellow', 5, 49.9, 5, Decimal('100.00')),
  (2001, 2, 'Queens', 'yellow', 1, 3.8, 1, Decimal('100.00')),
  (2001, 8, 'Queens', 'yellow', 1, 24.55, 1, Decimal('100.00')),
  (2002, 2, 'Manhattan', 'yellow', 11, 17.9, 11, Decimal('100.00')),
  (2002, 10, 'Brooklyn', 'yellow', 6, 28.59, 6, Decimal('100.00')),
  (2002, 10, 'Manhattan', 'yellow', 196, 18.33, 196, Decimal('100.00')),
  (2002, 10, 'Queens', 'yellow', 22, 51.39, 22, Decimal('100.00')),
  (2002, 10, 'Unknown', 'yellow', 8, 21.15, 8, Decimal('100.00')),
  (2002, 12, 'Brooklyn', 'yellow', 1, 31.3, 1, Decimal('100.00')),
  (2002, 12, 'Manhattan', 'yellow', 22, 19.39, 22, Decimal('100.00')),
  (2002, 12, 'Queens', 'yellow', 18, 48.09, 18, Decimal('100.00')),
  (2002, 12, 'Unknown', 'yellow', 2, 6.03, 2, Decimal('100.00')),
  (2003, 1, 'Manhattan', 'yellow', 18, 28.6, 18, Decimal('100.00')),
  (2003, 1, 'Queens', 'yellow', 16, 45.11, 16, Decimal('100.00')),
  (2003, 1, 'Unknown', 'yellow', 1, 3.3, 1, Decimal('100.00')),
  (2003, 3, 'Queens', 'yellow', 1, 3.31, 1, Decimal('100.00')),
  (2003, 12, 'Manhattan', 'yellow', 1, 7.3, 1, Decimal('100.00')),
  (2004, 4, 'Manhattan', 'yellow', 1, 12.3, 1, Decimal('100.00')),
  (2007, 12, 'Manhattan', 'yellow', 1, 22.75, 1, Decimal('100.00')),
  (2008, 8, 'Manhattan', 'yellow', 2, 10.13, 2, Decimal('100.00')),
  (2008, 12, 'Bronx', 'yellow', 2, 22.3, 2, Decimal('100.00')),
  (2008, 12, 'Brooklyn', 'green', 37, 20.17, 44, Decimal('84.09')),
  (2008, 12, 'Brooklyn', 'yellow', 7, 14.22, 44, Decimal('15.91')),
  (2008, 12, 'Manhattan', 'green', 26, 14.55, 585, Decimal('4.44')),
  (2008, 12, 'Manhattan', 'yellow', 559, 17.61, 585, Decimal('95.56')),
  (2008, 12, 'Queens', 'green', 25, 11.88, 175, Decimal('14.29')),
  (2008, 12, 'Queens', 'yellow', 150, 51.53, 175, Decimal('85.71')),
  (2008, 12, 'Unknown', 'green', 1, 1.9, 10, Decimal('10.00')),
  (2008, 12, 'Unknown', 'yellow', 9, 14.15, 10, Decimal('90.00')),
  (2009, 1, 'Bronx', 'green', 14, 18.99, 19, Decimal('73.68')),
  (2009, 1, 'Bronx', 'yellow', 5, 35.21, 19, Decimal('26.32')),
  (2009, 1, 'Brooklyn', 'green', 83, 17.33, 95, Decimal('87.37')),
  (2009, 1, 'Brooklyn', 'yellow', 12, 30.32, 95, Decimal('12.63')),
  (2009, 1, 'Manhattan', 'green', 65, 15.21, 1069, Decimal('6.08')),
  (2009, 1, 'Manhattan', 'yellow', 1004, 15.53, 1069, Decimal('93.92')),
  (2009, 1, 'Queens', 'green', 111, 20.72, 300, Decimal('37.00')),
  (2009, 1, 'Queens', 'yellow', 189, 44.79, 300, Decimal('63.00')),
  (2009, 1, 'Unknown', 'yellow', 15, 12.84, 15, Decimal('100.00')),
  (2010, 8, 'Manhattan', 'yellow', 1, 18.36, 1, Decimal('100.00')),
  (2010, 9, 'Bronx', 'green', 75, 22.39, 75, Decimal('100.00')),
  (2010, 9, 'Brooklyn', 'green', 29, 27.53, 29, Decimal('100.00')),
  (2010, 9, 'Manhattan', 'green', 85, 16.66, 85, Decimal('100.00')),
  (2010, 9, 'Queens', 'green', 137, 15.26, 137, Decimal('100.00')),
  (2011, 1, 'Manhattan', 'yellow', 2, 12.8, 2, Decimal('100.00')),
  (2011, 2, 'Manhattan', 'yellow', 2, 14.98, 2, Decimal('100.00')),
  (2012, 9, 'Manhattan', 'green', 3, 9.79, 3, Decimal('100.00')),
  (2014, 11, 'Manhattan', 'yellow', 1, 52.38, 1, Decimal('100.00')),
  (2015, 1, 'Bronx', 'green', 85389, 12.78, 94548, Decimal('90.31')),
  (2015, 1, 'Bronx', 'yellow', 9159, 16.02, 94548, Decimal('9.69')),
  (2015, 1, 'Brooklyn', 'green', 565234, 15.49, 792783, Decimal('71.30')),
  (2015, 1, 'Brooklyn', 'yellow', 227549, 16.2, 792783, Decimal('28.70')),
  (2015, 1, 'EWR', 'green', 14, 86.1, 390, Decimal('3.59')),
  (2015, 1, 'EWR', 'yellow', 376, 77.55, 390, Decimal('96.41')),
  (2015, 1, 'Manhattan', 'green', 424704, 15.61, 11999861, Decimal('3.54')),
  (2015,
   1,
   'Manhattan',
   'yellow',
   11575157,
   13.69,
   11999861,
   Decimal('96.46')),
  (2015, 1, 'Queens', 'green', 406409, 13.37, 1034082, Decimal('39.30')),
  (2015, 1, 'Queens', 'yellow', 627673, 40.15, 1034082, Decimal('60.70')),
  (2015, 1, 'Staten Island', 'green', 186, 28.03, 355, Decimal('52.39')),
  (2015, 1, 'Staten Island', 'yellow', 169, 41.47, 355, Decimal('47.61')),
  (2015, 1, 'Unknown', 'green', 1523, 23.32, 228078, Decimal('0.67')),
  (2015, 1, 'Unknown', 'yellow', 226555, 14.76, 228078, Decimal('99.33')),
  (2015, 2, 'Bronx', 'green', 115848, 12.95, 126882, Decimal('91.30')),
  (2015, 2, 'Bronx', 'yellow', 11034, 15.8, 126882, Decimal('8.70')),
  (2015, 2, 'Brooklyn', 'green', 567172, 16.06, 827913, Decimal('68.51')),
  (2015, 2, 'Brooklyn', 'yellow', 260741, 16.46, 827913, Decimal('31.49')),
  (2015, 2, 'EWR', 'green', 20, 90.03, 411, Decimal('4.87')),
  (2015, 2, 'EWR', 'yellow', 391, 82.17, 411, Decimal('95.13')),
  (2015, 2, 'Manhattan', 'green', 442640, 13.62, 11713174, Decimal('3.78')),
  (2015,
   2,
   'Manhattan',
   'yellow',
   11270534,
   14.01,
   11713174,
   Decimal('96.22')),
  (2015, 2, 'Queens', 'green', 422156, 13.65, 1018773, Decimal('41.44')),
  (2015, 2, 'Queens', 'yellow', 596617, 40.3, 1018773, Decimal('58.56')),
  (2015, 2, 'Staten Island', 'green', 248, 23.0, 377, Decimal('65.78')),
  (2015, 2, 'Staten Island', 'yellow', 129, 44.36, 377, Decimal('34.22')),
  (2015, 2, 'Unknown', 'green', 1392, 23.88, 229953, Decimal('0.61')),
  (2015, 2, 'Unknown', 'yellow', 228561, 15.21, 229953, Decimal('99.39')),
  (2015, 3, 'Bronx', 'green', 130950, 13.06, 143347, Decimal('91.35')),
  (2015, 3, 'Bronx', 'yellow', 12397, 15.92, 143347, Decimal('8.65')),
  (2015, 3, 'Brooklyn', 'green', 624492, 16.18, 908819, Decimal('68.71')),
  (2015, 3, 'Brooklyn', 'yellow', 284327, 16.7, 908819, Decimal('31.29')),
  (2015, 3, 'EWR', 'green', 12, 94.49, 444, Decimal('2.70')),
  (2015, 3, 'EWR', 'yellow', 432, 89.08, 444, Decimal('97.30')),
  (2015, 3, 'Manhattan', 'green', 479998, 13.65, 12501111, Decimal('3.84')),
  (2015,
   3,
   'Manhattan',
   'yellow',
   12021113,
   14.25,
   12501111,
   Decimal('96.16')),
  (2015, 3, 'Queens', 'green', 457329, 13.68, 1169051, Decimal('39.12')),
  (2015, 3, 'Queens', 'yellow', 711722, 41.74, 1169051, Decimal('60.88')),
  (2015, 3, 'Staten Island', 'green', 265, 28.6, 519, Decimal('51.06')),
  (2015, 3, 'Staten Island', 'yellow', 254, 26.34, 519, Decimal('48.94')),
  (2015, 3, 'Unknown', 'green', 1534, 20.66, 233690, Decimal('0.66')),
  (2015, 3, 'Unknown', 'yellow', 232156, 15.55, 233690, Decimal('99.34')),
  (2015, 4, 'Bronx', 'green', 113896, 13.61, 123585, Decimal('92.16')),
  (2015, 4, 'Bronx', 'yellow', 9689, 16.5, 123585, Decimal('7.84')),
  (2015, 4, 'Brooklyn', 'green', 610060, 16.42, 875098, Decimal('69.71')),
  (2015, 4, 'Brooklyn', 'yellow', 265038, 17.04, 875098, Decimal('30.29')),
  (2015, 4, 'EWR', 'green', 19, 68.78, 391, Decimal('4.86')),
  (2015, 4, 'EWR', 'yellow', 372, 80.27, 391, Decimal('95.14')),
  (2015, 4, 'Manhattan', 'green', 468703, 13.82, 12282384, Decimal('3.82')),
  (2015,
   4,
   'Manhattan',
   'yellow',
   11813681,
   14.43,
   12282384,
   Decimal('96.18')),
  (2015, 4, 'Queens', 'green', 443699, 13.91, 1139337, Decimal('38.94')),
  (2015, 4, 'Queens', 'yellow', 695638, 42.16, 1139337, Decimal('61.06')),
  (2015, 4, 'Staten Island', 'green', 243, 27.56, 359, Decimal('67.69')),
  (2015, 4, 'Staten Island', 'yellow', 116, 32.33, 359, Decimal('32.31')),
  (2015, 4, 'Unknown', 'green', 1448, 18.13, 204852, Decimal('0.71')),
  (2015, 4, 'Unknown', 'yellow', 203404, 15.68, 204852, Decimal('99.29')),
  (2015, 5, 'Bronx', 'green', 118726, 13.8, 129005, Decimal('92.03')),
  (2015, 5, 'Bronx', 'yellow', 10279, 17.08, 129005, Decimal('7.97')),
  (2015, 5, 'Brooklyn', 'green', 662153, 16.86, 951417, Decimal('69.60')),
  (2015, 5, 'Brooklyn', 'yellow', 289264, 17.48, 951417, Decimal('30.40')),
  (2015, 5, 'EWR', 'green', 20, 94.62, 443, Decimal('4.51')),
  (2015, 5, 'EWR', 'yellow', 423, 83.83, 443, Decimal('95.49')),
  (2015, 5, 'Manhattan', 'green', 492230, 14.27, 12329687, Decimal('3.99')),
  (2015,
   5,
   'Manhattan',
   'yellow',
   11837457,
   14.68,
   12329687,
   Decimal('96.01')),
  (2015, 5, 'Queens', 'green', 485180, 14.33, 1238336, Decimal('39.18')),
  (2015, 5, 'Queens', 'yellow', 753156, 42.74, 1238336, Decimal('60.82')),
  (2015, 5, 'Staten Island', 'green', 226, 21.77, 379, Decimal('59.63')),
  (2015, 5, 'Staten Island', 'yellow', 153, 28.92, 379, Decimal('40.37')),
  (2015, 5, 'Unknown', 'green', 1316, 22.81, 185886, Decimal('0.71')),
  (2015, 5, 'Unknown', 'yellow', 184570, 16.16, 185886, Decimal('99.29')),
  (2015, 6, 'Bronx', 'green', 104323, 13.88, 113190, Decimal('92.17')),
  (2015, 6, 'Bronx', 'yellow', 8867, 17.46, 113190, Decimal('7.83')),
  (2015, 6, 'Brooklyn', 'green', 599543, 16.55, 828242, Decimal('72.39')),
  (2015, 6, 'Brooklyn', 'yellow', 228699, 17.15, 828242, Decimal('27.61')),
  (2015, 6, 'EWR', 'green', 22, 80.13, 382, Decimal('5.76')),
  (2015, 6, 'EWR', 'yellow', 360, 86.29, 382, Decimal('94.24')),
  (2015, 6, 'Manhattan', 'green', 453607, 13.98, 11580878, Decimal('3.92')),
  (2015,
   6,
   'Manhattan',
   'yellow',
   11127271,
   14.59,
   11580878,
   Decimal('96.08')),
  (2015, 6, 'Queens', 'green', 453841, 14.07, 1171692, Decimal('38.73')),
  (2015, 6, 'Queens', 'yellow', 717851, 43.1, 1171692, Decimal('61.27')),
  (2015, 6, 'Staten Island', 'green', 199, 25.29, 319, Decimal('62.38')),
  (2015, 6, 'Staten Island', 'yellow', 120, 35.28, 319, Decimal('37.62')),
  (2015, 6, 'Unknown', 'green', 1249, 17.79, 164363, Decimal('0.76')),
  (2015, 6, 'Unknown', 'yellow', 163114, 16.07, 164363, Decimal('99.24')),
  (2015, 7, 'Bronx', 'green', 93955, 14.12, 102422, Decimal('91.73')),
  (2015, 7, 'Bronx', 'yellow', 8467, 17.2, 102422, Decimal('8.27')),
  (2015, 7, 'Brooklyn', 'green', 561357, 16.48, 763468, Decimal('73.53')),
  (2015, 7, 'Brooklyn', 'yellow', 202111, 17.19, 763468, Decimal('26.47')),
  (2015, 7, 'EWR', 'green', 21, 63.79, 387, Decimal('5.43')),
  (2015, 7, 'EWR', 'yellow', 366, 82.08, 387, Decimal('94.57')),
  (2015, 7, 'Manhattan', 'green', 429038, 13.83, 10879577, Decimal('3.94')),
  (2015,
   7,
   'Manhattan',
   'yellow',
   10450539,
   14.36,
   10879577,
   Decimal('96.06')),
  (2015, 7, 'Queens', 'green', 431843, 14.15, 1111419, Decimal('38.86')),
  (2015, 7, 'Queens', 'yellow', 679576, 42.33, 1111419, Decimal('61.14')),
  (2015, 7, 'Staten Island', 'green', 183, 22.24, 295, Decimal('62.03')),
  (2015, 7, 'Staten Island', 'yellow', 112, 45.59, 295, Decimal('37.97')),
  (2015, 7, 'Unknown', 'green', 1118, 17.23, 148223, Decimal('0.75')),
  (2015, 7, 'Unknown', 'yellow', 147105, 15.93, 148223, Decimal('99.25')),
  (2015, 8, 'Bronx', 'green', 86580, 14.46, 94937, Decimal('91.20')),
  (2015, 8, 'Bronx', 'yellow', 8357, 17.17, 94937, Decimal('8.80')),
  (2015, 8, 'Brooklyn', 'green', 582127, 16.28, 769522, Decimal('75.65')),
  (2015, 8, 'Brooklyn', 'yellow', 187395, 17.01, 769522, Decimal('24.35')),
  (2015, 8, 'EWR', 'green', 16, 63.71, 402, Decimal('3.98')),
  (2015, 8, 'EWR', 'yellow', 386, 86.54, 402, Decimal('96.02')),
  (2015, 8, 'Manhattan', 'green', 413111, 13.83, 10439147, Decimal('3.96')),
  (2015,
   8,
   'Manhattan',
   'yellow',
   10026036,
   14.26,
   10439147,
   Decimal('96.04')),
  (2015, 8, 'Queens', 'green', 424711, 14.34, 1117708, Decimal('38.00')),
  (2015, 8, 'Queens', 'yellow', 692997, 42.45, 1117708, Decimal('62.00')),
  (2015, 8, 'Staten Island', 'green', 180, 26.23, 312, Decimal('57.69')),
  (2015, 8, 'Staten Island', 'yellow', 132, 47.19, 312, Decimal('42.31')),
  (2015, 8, 'Unknown', 'green', 997, 15.34, 140932, Decimal('0.71')),
  (2015, 8, 'Unknown', 'yellow', 139935, 16.0, 140932, Decimal('99.29')),
  (2015, 9, 'Bronx', 'green', 79260, 14.24, 86855, Decimal('91.26')),
  (2015, 9, 'Bronx', 'yellow', 7595, 18.13, 86855, Decimal('8.74')),
  (2015, 9, 'Brooklyn', 'green', 562613, 16.33, 766628, Decimal('73.39')),
  (2015, 9, 'Brooklyn', 'yellow', 204015, 17.1, 766628, Decimal('26.61')),
  (2015, 9, 'EWR', 'green', 19, 82.88, 384, Decimal('4.95')),
  (2015, 9, 'EWR', 'yellow', 365, 83.05, 384, Decimal('95.05')),
  (2015, 9, 'Manhattan', 'green', 420753, 13.99, 10533377, Decimal('3.99')),
  (2015,
   9,
   'Manhattan',
   'yellow',
   10112624,
   14.55,
   10533377,
   Decimal('96.01')),
  (2015, 9, 'Queens', 'green', 407470, 14.64, 1093578, Decimal('37.26')),
  (2015, 9, 'Queens', 'yellow', 686108, 43.37, 1093578, Decimal('62.74')),
  (2015, 9, 'Staten Island', 'green', 78, 27.74, 262, Decimal('29.77')),
  (2015, 9, 'Staten Island', 'yellow', 184, 43.3, 262, Decimal('70.23')),
  (2015, 9, 'Unknown', 'green', 1156, 14.72, 138470, Decimal('0.83')),
  (2015, 9, 'Unknown', 'yellow', 137314, 16.33, 138470, Decimal('99.17')),
  (2015, 10, 'Bronx', 'green', 81164, 14.16, 88785, Decimal('91.42')),
  (2015, 10, 'Bronx', 'yellow', 7621, 18.02, 88785, Decimal('8.58')),
  (2015, 10, 'Brooklyn', 'green', 622614, 16.23, 830342, Decimal('74.98')),
  (2015, 10, 'Brooklyn', 'yellow', 207728, 17.02, 830342, Decimal('25.02')),
  (2015, 10, 'EWR', 'green', 14, 71.73, 421, Decimal('3.33')),
  (2015, 10, 'EWR', 'yellow', 407, 85.56, 421, Decimal('96.67')),
  (2015, 10, 'Manhattan', 'green', 463775, 14.08, 11599054, Decimal('4.00')),
  (2015,
   10,
   'Manhattan',
   'yellow',
   11135279,
   14.66,
   11599054,
   Decimal('96.00')),
  (2015, 10, 'Queens', 'green', 436604, 14.12, 1157987, Decimal('37.70')),
  (2015, 10, 'Queens', 'yellow', 721383, 44.19, 1157987, Decimal('62.30')),
  (2015, 10, 'Staten Island', 'green', 82, 21.45, 227, Decimal('36.12')),
  (2015, 10, 'Staten Island', 'yellow', 145, 37.07, 227, Decimal('63.88')),
  (2015, 10, 'Unknown', 'green', 1361, 14.4, 160599, Decimal('0.85')),
  (2015, 10, 'Unknown', 'yellow', 159238, 16.5, 160599, Decimal('99.15')),
  (2015, 11, 'Bronx', 'green', 73062, 13.77, 80923, Decimal('90.29')),
  (2015, 11, 'Bronx', 'yellow', 7861, 17.66, 80923, Decimal('9.71')),
  (2015, 11, 'Brooklyn', 'green', 579158, 16.1, 760928, Decimal('76.11')),
  (2015, 11, 'Brooklyn', 'yellow', 181770, 17.12, 760928, Decimal('23.89')),
  (2015, 11, 'EWR', 'green', 17, 89.89, 427, Decimal('3.98')),
  (2015, 11, 'EWR', 'yellow', 410, 85.14, 427, Decimal('96.02')),
  (2015, 11, 'Manhattan', 'green', 440474, 13.89, 10661800, Decimal('4.13')),
  (2015,
   11,
   'Manhattan',
   'yellow',
   10221326,
   14.52,
   10661800,
   Decimal('95.87')),
  (2015, 11, 'Queens', 'green', 411888, 13.88, 1078034, Decimal('38.21')),
  (2015, 11, 'Queens', 'yellow', 666146, 43.58, 1078034, Decimal('61.79')),
  (2015, 11, 'Staten Island', 'green', 134, 21.39, 260, Decimal('51.54')),
  (2015, 11, 'Staten Island', 'yellow', 126, 64.87, 260, Decimal('48.46')),
  (2015, 11, 'Unknown', 'green', 1219, 14.65, 157033, Decimal('0.78')),
  (2015, 11, 'Unknown', 'yellow', 155814, 16.18, 157033, Decimal('99.22')),
  (2015, 12, 'Bronx', 'green', 78893, 14.16, 88102, Decimal('89.55')),
  (2015, 12, 'Bronx', 'yellow', 9209, 16.44, 88102, Decimal('10.45')),
  (2015, 12, 'Brooklyn', 'green', 605286, 16.11, 788440, Decimal('76.77')),
  (2015, 12, 'Brooklyn', 'yellow', 183154, 21.3, 788440, Decimal('23.23')),
  (2015, 12, 'EWR', 'green', 19, 61.99, 491, Decimal('3.87')),
  (2015, 12, 'EWR', 'yellow', 472, 83.31, 491, Decimal('96.13')),
  (2015, 12, 'Manhattan', 'green', 453478, 13.79, 10839614, Decimal('4.18')),
  (2015,
   12,
   'Manhattan',
   'yellow',
   10386136,
   14.55,
   10839614,
   Decimal('95.82')),
  (2015, 12, 'Queens', 'green', 443383, 13.96, 1093209, Decimal('40.56')),
  (2015, 12, 'Queens', 'yellow', 649826, 42.82, 1093209, Decimal('59.44')),
  (2015, 12, 'Staten Island', 'green', 188, 30.26, 309, Decimal('60.84')),
  (2015, 12, 'Staten Island', 'yellow', 121, 83.33, 309, Decimal('39.16')),
  (2015, 12, 'Unknown', 'green', 1235, 14.92, 156013, Decimal('0.79')),
  (2015, 12, 'Unknown', 'yellow', 154778, 16.15, 156013, Decimal('99.21')),
  (2016, 1, 'Bronx', 'green', 66120, 13.96, 74690, Decimal('88.53')),
  (2016, 1, 'Bronx', 'yellow', 8570, 16.85, 74690, Decimal('11.47')),
  (2016, 1, 'Brooklyn', 'green', 562850, 15.68, 744828, Decimal('75.57')),
  (2016, 1, 'Brooklyn', 'yellow', 181978, 16.57, 744828, Decimal('24.43')),
  (2016, 1, 'EWR', 'green', 11, 80.73, 337, Decimal('3.26')),
  (2016, 1, 'EWR', 'yellow', 326, 88.72, 337, Decimal('96.74')),
  (2016, 1, 'Manhattan', 'green', 402338, 13.45, 10268024, Decimal('3.92')),
  (2016, 1, 'Manhattan', 'yellow', 9865686, 13.85, 10268024, Decimal('96.08')),
  (2016, 1, 'Queens', 'green', 387788, 13.69, 1013006, Decimal('38.28')),
  (2016, 1, 'Queens', 'yellow', 625218, 42.76, 1013006, Decimal('61.72')),
  (2016, 1, 'Staten Island', 'green', 233, 37.22, 365, Decimal('63.84')),
  (2016, 1, 'Staten Island', 'yellow', 132, 33.57, 365, Decimal('36.16')),
  (2016, 1, 'Unknown', 'green', 1332, 13.83, 159617, Decimal('0.83')),
  (2016, 1, 'Unknown', 'yellow', 158285, 15.67, 159617, Decimal('99.17')),
  (2016, 2, 'Bronx', 'green', 73586, 13.65, 82034, Decimal('89.70')),
  (2016, 2, 'Bronx', 'yellow', 8448, 16.55, 82034, Decimal('10.30')),
  (2016, 2, 'Brooklyn', 'green', 577252, 15.58, 762611, Decimal('75.69')),
  (2016, 2, 'Brooklyn', 'yellow', 185359, 16.38, 762611, Decimal('24.31')),
  (2016, 2, 'EWR', 'green', 11, 89.05, 315, Decimal('3.49')),
  (2016, 2, 'EWR', 'yellow', 304, 86.69, 315, Decimal('96.51')),
  (2016, 2, 'Manhattan', 'green', 440293, 13.29, 10798386, Decimal('4.08')),
  (2016,
   2,
   'Manhattan',
   'yellow',
   10358093,
   13.97,
   10798386,
   Decimal('95.92')),
  (2016, 2, 'Queens', 'green', 393890, 13.47, 986489, Decimal('39.93')),
  (2016, 2, 'Queens', 'yellow', 592599, 42.89, 986489, Decimal('60.07')),
  (2016, 2, 'Staten Island', 'green', 248, 38.09, 738, Decimal('33.60')),
  (2016, 2, 'Staten Island', 'yellow', 490, 18.94, 738, Decimal('66.40')),
  (2016, 2, 'Unknown', 'green', 1429, 14.21, 166549, Decimal('0.86')),
  (2016, 2, 'Unknown', 'yellow', 165120, 15.54, 166549, Decimal('99.14')),
  (2016, 3, 'Bronx', 'green', 83052, 13.65, 92883, Decimal('89.42')),
  (2016, 3, 'Bronx', 'yellow', 9831, 16.36, 92883, Decimal('10.58')),
  (2016, 3, 'Brooklyn', 'green', 595603, 15.92, 805003, Decimal('73.99')),
  (2016, 3, 'Brooklyn', 'yellow', 209400, 16.73, 805003, Decimal('26.01')),
  (2016, 3, 'EWR', 'green', 19, 59.27, 430, Decimal('4.42')),
  (2016, 3, 'EWR', 'yellow', 411, 84.87, 430, Decimal('95.58')),
  (2016, 3, 'Manhattan', 'green', 459292, 13.51, 11521737, Decimal('3.99')),
  (2016,
   3,
   'Manhattan',
   'yellow',
   11062445,
   14.31,
   11521737,
   Decimal('96.01')),
  (2016, 3, 'Queens', 'green', 411369, 13.73, 1093181, Decimal('37.63')),
  (2016, 3, 'Queens', 'yellow', 681812, 43.16, 1093181, Decimal('62.37')),
  (2016, 3, 'Staten Island', 'green', 205, 39.69, 806, Decimal('25.43')),
  (2016, 3, 'Staten Island', 'yellow', 601, 21.23, 806, Decimal('74.57')),
  (2016, 3, 'Unknown', 'green', 1346, 14.55, 170738, Decimal('0.79')),
  (2016, 3, 'Unknown', 'yellow', 169392, 15.98, 170738, Decimal('99.21')),
  (2016, 4, 'Bronx', 'green', 76434, 14.22, 85438, Decimal('89.46')),
  (2016, 4, 'Bronx', 'yellow', 9004, 17.83, 85438, Decimal('10.54')),
  (2016, 4, 'Brooklyn', 'green', 599935, 16.17, 811354, Decimal('73.94')),
  (2016, 4, 'Brooklyn', 'yellow', 211419, 16.92, 811354, Decimal('26.06')),
  (2016, 4, 'EWR', 'green', 19, 80.85, 442, Decimal('4.30')),
  (2016, 4, 'EWR', 'yellow', 423, 86.58, 442, Decimal('95.70')),
  (2016, 4, 'Manhattan', 'green', 432221, 13.7, 11246841, Decimal('3.84')),
  (2016,
   4,
   'Manhattan',
   'yellow',
   10814620,
   14.49,
   11246841,
   Decimal('96.16')),
  (2016, 4, 'Queens', 'green', 409271, 14.01, 1067767, Decimal('38.33')),
  (2016, 4, 'Queens', 'yellow', 658496, 42.98, 1067767, Decimal('61.67')),
  (2016, 4, 'Staten Island', 'green', 241, 35.6, 865, Decimal('27.86')),
  (2016, 4, 'Staten Island', 'yellow', 624, 21.35, 865, Decimal('72.14')),
  (2016, 4, 'Unknown', 'green', 1254, 14.21, 158751, Decimal('0.79')),
  (2016, 4, 'Unknown', 'yellow', 157497, 16.14, 158751, Decimal('99.21')),

In [ ]:
# K. TOP 20 FLUJOS PU→DO POR VOLUMEN Y SU TICKET PROMEDIO
print("ANÁLISIS K: Top 20 Flujos PU→DO por Volumen y su Ticket Promedio")

# Top 20 flujos pickup→dropoff por volumen y ticket promedio
top_flows_volume_ticket = (
    df.groupBy("pu_borough", "do_borough")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("total_amount"), 2).alias("avg_ticket"))
    .orderBy(F.col("total_trips").desc())
)

print("TOP 20 FLUJOS PU→DO POR VOLUMEN Y SU TICKET PROMEDIO:")
top_flows_volume_ticket.show(20)

In [26]:
# K. TOP 20 FLUJOS PU→DO POR VOLUMEN Y SU TICKET PROMEDIO
print("ANÁLISIS K: Top 20 Flujos PU→DO por Volumen y su Ticket Promedio")


# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    pu_borough,
    do_borough,
    COUNT(*) AS total_trips,
    ROUND(AVG(total_amount), 2) AS avg_ticket
FROM analytics.obt_trips
WHERE pu_borough IS NOT NULL
    AND do_borough IS NOT NULL
    AND total_amount IS NOT NULL
GROUP BY pu_borough, do_borough
ORDER BY COUNT(*) DESC
LIMIT 20;
"""
execute_snowflake_sql(query)

ANÁLISIS K: Top 20 Flujos PU→DO por Volumen y su Ticket Promedio

([('Manhattan', 'Manhattan', 668253309, 14.32),
  ('Queens', 'Manhattan', 30467838, 57.48),
  ('Queens', 'Queens', 29138764, 18.59),
  ('Manhattan', 'Queens', 25568621, 45.65),
  ('Brooklyn', 'Brooklyn', 25043478, 14.02),
  ('Manhattan', 'Brooklyn', 21535025, 30.4),
  ('Queens', 'Brooklyn', 8144013, 48.76),
  ('Unknown', 'Unknown', 7297522, 16.76),
  ('Brooklyn', 'Manhattan', 7056642, 27.18),
  ('Manhattan', 'Bronx', 5294209, 28.49),
  ('Bronx', 'Bronx', 3236524, 14.64),
  ('Brooklyn', 'Queens', 2183569, 33.36),
  ('Unknown', 'Manhattan', 1485897, 19.89),
  ('Manhattan', 'EWR', 1416351, 101.52),
  ('Bronx', 'Manhattan', 1321043, 26.05),
  ('Queens', 'Bronx', 1081359, 58.0),
  ('Manhattan', 'Unknown', 506313, 21.88),
  ('Brooklyn', 'Bronx', 189460, 61.26),
  ('Bronx', 'Queens', 187677, 49.43),
  ('Bronx', 'Brooklyn', 150062, 63.89)],
 ['PU_BOROUGH', 'DO_BOROUGH', 'TOTAL_TRIPS', 'AVG_TICKET'])

In [ ]:
# L. DISTRIBUCIÓN DE PASSENGER_COUNT Y EFECTO EN TOTAL_AMOUNT
print("ANÁLISIS L: Distribución de Passenger_Count y Efecto en Total_Amount")

# Distribución de passenger_count y su efecto en total_amount
passenger_distribution_effect = (
    df.groupBy("passenger_count")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("total_amount"), 2).alias("avg_total_amount"),
         F.round(F.count("*") * 100.0 / df.count(), 2).alias("participacion_pct"))
    .orderBy("passenger_count")
)

print("DISTRIBUCIÓN DE PASSENGER_COUNT Y EFECTO EN TOTAL_AMOUNT:")
passenger_distribution_effect.show()

In [27]:
# L. DISTRIBUCIÓN DE PASSENGER_COUNT Y EFECTO EN TOTAL_AMOUNT
print("ANÁLISIS L: Distribución de Passenger_Count y Efecto en Total_Amount")


# Consulta SQL directa usando conector de Snowflake
query = """
WITH total_dataset AS (
    SELECT COUNT(*) as total_records
    FROM analytics.obt_trips
    WHERE passenger_count IS NOT NULL
)
SELECT
    passenger_count,
    COUNT(*) AS total_trips,
    ROUND(AVG(total_amount), 2) AS avg_total_amount,
    ROUND((COUNT(*) * 100.0 / (SELECT total_records FROM total_dataset)), 2) AS participacion_pct
FROM analytics.obt_trips
WHERE passenger_count IS NOT NULL
    AND total_amount IS NOT NULL
GROUP BY passenger_count
ORDER BY passenger_count;
"""
execute_snowflake_sql(query)

ANÁLISIS L: Distribución de Passenger_Count y Efecto en Total_Amount

([(0, 5733919, 19.49, Decimal('0.70')),
  (1, 600557382, 18.13, Decimal('72.87')),
  (2, 116250233, 19.49, Decimal('14.11')),
  (3, 32262614, 18.93, Decimal('3.91')),
  (4, 15532695, 19.77, Decimal('1.88')),
  (5, 33326377, 17.04, Decimal('4.04')),
  (6, 20492805, 16.88, Decimal('2.49')),
  (7, 2091, 49.8, Decimal('0.00')),
  (8, 2097, 54.36, Decimal('0.00')),
  (9, 1147, 69.74, Decimal('0.00')),
  (32, 1, 60.35, Decimal('0.00')),
  (48, 1, 40.3, Decimal('0.00')),
  (96, 2, 12.59, Decimal('0.00')),
  (112, 1, 14.76, Decimal('0.00')),
  (192, 2, 9.15, Decimal('0.00'))],
 ['PASSENGER_COUNT', 'TOTAL_TRIPS', 'AVG_TOTAL_AMOUNT', 'PARTICIPACION_PCT'])

In [ ]:
# M. IMPACTO DE TOLLS_AMOUNT Y CONGESTION_SURCHARGE POR ZONA
print("ANÁLISIS M: Impacto de Tolls_Amount y Congestion_Surcharge por Zona")

# Impacto de tolls_amount y congestion_surcharge por zona de pickup
tolls_congestion_impact_by_zone = (
    df.groupBy("pu_zone", "pu_borough")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("tolls_amount"), 2).alias("avg_tolls_amount"),
         F.round(F.avg("congestion_surcharge"), 2).alias("avg_congestion_surcharge"),
         F.round(F.avg("total_amount"), 2).alias("avg_total_amount"))
    .orderBy(F.col("avg_tolls_amount").desc(), F.col("avg_congestion_surcharge").desc())
)

print("IMPACTO DE TOLLS_AMOUNT Y CONGESTION_SURCHARGE POR ZONA:")
tolls_congestion_impact_by_zone.show(20)

In [28]:
# M. IMPACTO DE TOLLS_AMOUNT Y CONGESTION_SURCHARGE POR ZONA
print("ANÁLISIS M: Impacto de Tolls_Amount y Congestion_Surcharge por Zona")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    pu_zone,
    pu_borough,
    COUNT(*) AS total_trips,
    ROUND(AVG(tolls_amount), 2) AS avg_tolls_amount,
    ROUND(AVG(congestion_surcharge), 2) AS avg_congestion_surcharge,
    ROUND(AVG(total_amount), 2) AS avg_total_amount
FROM analytics.obt_trips
WHERE pu_zone IS NOT NULL
    AND pu_borough IS NOT NULL
GROUP BY pu_zone, pu_borough
ORDER BY AVG(tolls_amount) DESC, AVG(congestion_surcharge) DESC
LIMIT 20;
"""
execute_snowflake_sql(query)

ANÁLISIS M: Impacto de Tolls_Amount y Congestion_Surcharge por Zona

([('Rikers Island', 'Bronx', 324, 26.34, 1.21, 53.92),
  ('Arden Heights', 'Staten Island', 2118, 14.41, 0.12, 85.74),
  ('Arrochar/Fort Wadsworth', 'Staten Island', 3963, 9.02, 0.11, 34.63),
  ('Bloomfield/Emerson Hill', 'Staten Island', 6937, 7.78, 0.04, 70.61),
  ('Charleston/Tottenville', 'Staten Island', 3749, 7.24, 0.01, 91.43),
  ("Eltingville/Annadale/Prince's Bay",
   'Staten Island',
   440,
   6.63,
   0.11,
   71.6),
  ('Rossville/Woodrow', 'Staten Island', 304, 6.2, 0.09, 83.95),
  ('South Beach/Dongan Hills', 'Staten Island', 1842, 5.78, 0.09, 49.21),
  ('Great Kills', 'Staten Island', 510, 5.31, 0.17, 59.54),
  ('Oakwood', 'Staten Island', 395, 5.19, 0.29, 55.26),
  ('Grymes Hill/Clifton', 'Staten Island', 5023, 5.11, 0.07, 44.82),
  ('Mariners Harbor', 'Staten Island', 4650, 4.96, 0.07, 49.61),
  ('New Dorp/Midland Beach', 'Staten Island', 922, 4.84, 0.21, 46.02),
  ('Westerleigh', 'Staten Island', 1435, 4.69, 0.26, 47.27),
  ('Newark Airport', 'EWR', 30065, 4.6, 0.06, 92.07),
  ('Freshkills Park', 'Staten Island', 287, 4.35, 0.13, 71.44),
  ('Randalls Island', 'Manhattan', 53656, 4.25, 1.15, 47.47),
  ('Port Richmond', 'Staten Island', 1203, 4.18, 0.26, 42.6),
  ('Heartland Village/Todt Hill', 'Staten Island', 2327, 4.12, 0.27, 53.5),
  ('LaGuardia Airport', 'Queens', 20286539, 3.87, 1.55, 47.2)],
 ['PU_ZONE',
  'PU_BOROUGH',
  'TOTAL_TRIPS',
  'AVG_TOLLS_AMOUNT',
  'AVG_CONGESTION_SURCHARGE',
  'AVG_TOTAL_AMOUNT'])

In [ ]:
# N. PROPORCIÓN DE VIAJES CORTOS VS LARGOS POR BOROUGH Y ESTACIONALIDAD
print("ANÁLISIS N: Proporción de Viajes Cortos vs Largos por Borough y Estacionalidad")

# Definir categorías de viaje (corto ≤ 3 millas, largo > 3 millas) y analizar por borough y estación
trip_length_seasonality = (
    df.withColumn("trip_category",
                  F.when(F.col("trip_distance") <= 3, "Corto (≤3 mi)")
                   .otherwise("Largo (>3 mi)"))
    .withColumn("season",
                F.when(F.col("month").isin([12, 1, 2]), "Invierno")
                 .when(F.col("month").isin([3, 4, 5]), "Primavera")
                 .when(F.col("month").isin([6, 7, 8]), "Verano")
                 .otherwise("Otoño"))
    .groupBy("pu_borough", "season", "trip_category")
    .agg(F.count("*").alias("total_trips"))
    .withColumn("total_by_borough_season", F.sum("total_trips").over(F.Window.partitionBy("pu_borough", "season")))
    .withColumn("proportion_pct", F.round((F.col("total_trips") * 100.0 / F.col("total_by_borough_season")), 2))
    .orderBy("pu_borough", "season", "trip_category")
)

print("PROPORCIÓN DE VIAJES CORTOS VS LARGOS POR BOROUGH Y ESTACIONALIDAD:")
trip_length_seasonality.show(50)

In [30]:
# N. PROPORCIÓN DE VIAJES CORTOS VS LARGOS POR BOROUGH Y ESTACIONALIDAD
print("ANÁLISIS N: Proporción de Viajes Cortos vs Largos por Borough y Estacionalidad")

# Consulta SQL directa usando conector de Snowflake
query = """
WITH trips_enriched AS (
    SELECT
        pu_borough,
        CASE
            WHEN month IN (12, 1, 2) THEN 'Invierno'
            WHEN month IN (3, 4, 5) THEN 'Primavera'
            WHEN month IN (6, 7, 8) THEN 'Verano'
            ELSE 'Otoño'
        END AS season,
        CASE
            WHEN trip_distance <= 3 THEN 'Corto (≤3 mi)'
            ELSE 'Largo (>3 mi)'
        END AS trip_category
    FROM analytics.obt_trips
    WHERE pu_borough IS NOT NULL
      AND trip_distance IS NOT NULL
)

SELECT
    pu_borough,
    season,
    trip_category,
    COUNT(*) AS total_trips,
    ROUND(
        COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY pu_borough, season),
        2
    ) AS proportion_pct
FROM trips_enriched
GROUP BY pu_borough, season, trip_category
ORDER BY pu_borough, season, trip_category;

"""
execute_snowflake_sql(query)

ANÁLISIS N: Proporción de Viajes Cortos vs Largos por Borough y Estacionalidad

([('Bronx', 'Invierno', 'Corto (≤3 mi)', 689069, Decimal('54.53')),
  ('Bronx', 'Invierno', 'Largo (>3 mi)', 574594, Decimal('45.47')),
  ('Bronx', 'Otoño', 'Corto (≤3 mi)', 550997, Decimal('52.32')),
  ('Bronx', 'Otoño', 'Largo (>3 mi)', 502062, Decimal('47.68')),
  ('Bronx', 'Primavera', 'Corto (≤3 mi)', 795797, Decimal('55.32')),
  ('Bronx', 'Primavera', 'Largo (>3 mi)', 642646, Decimal('44.68')),
  ('Bronx', 'Verano', 'Corto (≤3 mi)', 630985, Decimal('52.86')),
  ('Bronx', 'Verano', 'Largo (>3 mi)', 562814, Decimal('47.14')),
  ('Brooklyn', 'Invierno', 'Corto (≤3 mi)', 5283719, Decimal('60.19')),
  ('Brooklyn', 'Invierno', 'Largo (>3 mi)', 3494415, Decimal('39.81')),
  ('Brooklyn', 'Otoño', 'Corto (≤3 mi)', 4498646, Decimal('58.36')),
  ('Brooklyn', 'Otoño', 'Largo (>3 mi)', 3210313, Decimal('41.64')),
  ('Brooklyn', 'Primavera', 'Corto (≤3 mi)', 5683658, Decimal('58.29')),
  ('Brooklyn', 'Primavera', 'Largo (>3 mi)', 4066178, Decimal('41.71')),
  ('Brooklyn', 'Verano', 'Corto (≤3 mi)', 4736120, Decimal('56.76')),
  ('Brooklyn', 'Verano', 'Largo (>3 mi)', 3607616, Decimal('43.24')),
  ('EWR', 'Invierno', 'Corto (≤3 mi)', 5929, Decimal('83.77')),
  ('EWR', 'Invierno', 'Largo (>3 mi)', 1149, Decimal('16.23')),
  ('EWR', 'Otoño', 'Corto (≤3 mi)', 6336, Decimal('83.94')),
  ('EWR', 'Otoño', 'Largo (>3 mi)', 1212, Decimal('16.06')),
  ('EWR', 'Primavera', 'Corto (≤3 mi)', 6431, Decimal('82.87')),
  ('EWR', 'Primavera', 'Largo (>3 mi)', 1329, Decimal('17.13')),
  ('EWR', 'Verano', 'Corto (≤3 mi)', 6334, Decimal('82.48')),
  ('EWR', 'Verano', 'Largo (>3 mi)', 1345, Decimal('17.52')),
  ('Manhattan', 'Invierno', 'Corto (≤3 mi)', 147165846, Decimal('79.21')),
  ('Manhattan', 'Invierno', 'Largo (>3 mi)', 38636540, Decimal('20.79')),
  ('Manhattan', 'Otoño', 'Corto (≤3 mi)', 133537463, Decimal('78.15')),
  ('Manhattan', 'Otoño', 'Largo (>3 mi)', 37343135, Decimal('21.85')),
  ('Manhattan', 'Primavera', 'Corto (≤3 mi)', 152005033, Decimal('77.95')),
  ('Manhattan', 'Primavera', 'Largo (>3 mi)', 42988245, Decimal('22.05')),
  ('Manhattan', 'Verano', 'Corto (≤3 mi)', 133007709, Decimal('77.42')),
  ('Manhattan', 'Verano', 'Largo (>3 mi)', 38798677, Decimal('22.58')),
  ('Queens', 'Invierno', 'Corto (≤3 mi)', 4862676, Decimal('28.74')),
  ('Queens', 'Invierno', 'Largo (>3 mi)', 12055520, Decimal('71.26')),
  ('Queens', 'Otoño', 'Corto (≤3 mi)', 4230781, Decimal('25.43')),
  ('Queens', 'Otoño', 'Largo (>3 mi)', 12403845, Decimal('74.57')),
  ('Queens', 'Primavera', 'Corto (≤3 mi)', 4951971, Decimal('26.54')),
  ('Queens', 'Primavera', 'Largo (>3 mi)', 13703238, Decimal('73.46')),
  ('Queens', 'Verano', 'Corto (≤3 mi)', 4428749, Decimal('24.81')),
  ('Queens', 'Verano', 'Largo (>3 mi)', 13418727, Decimal('75.19')),
  ('Staten Island', 'Invierno', 'Corto (≤3 mi)', 3434, Decimal('30.19')),
  ('Staten Island', 'Invierno', 'Largo (>3 mi)', 7939, Decimal('69.81')),
  ('Staten Island', 'Otoño', 'Corto (≤3 mi)', 3341, Decimal('30.76')),
  ('Staten Island', 'Otoño', 'Largo (>3 mi)', 7520, Decimal('69.24')),
  ('Staten Island', 'Primavera', 'Corto (≤3 mi)', 4771, Decimal('37.26')),
  ('Staten Island', 'Primavera', 'Largo (>3 mi)', 8035, Decimal('62.74')),
  ('Staten Island', 'Verano', 'Corto (≤3 mi)', 3862, Decimal('31.50')),
  ('Staten Island', 'Verano', 'Largo (>3 mi)', 8398, Decimal('68.50')),
  ('Unknown', 'Invierno', 'Corto (≤3 mi)', 1964248, Decimal('74.65')),
  ('Unknown', 'Invierno', 'Largo (>3 mi)', 667042, Decimal('25.35')),
  ('Unknown', 'Otoño', 'Corto (≤3 mi)', 1521402, Decimal('72.64')),
  ('Unknown', 'Otoño', 'Largo (>3 mi)', 573084, Decimal('27.36')),
  ('Unknown', 'Primavera', 'Corto (≤3 mi)', 1788181, Decimal('73.60')),
  ('Unknown', 'Primavera', 'Largo (>3 mi)', 641471, Decimal('26.40')),
  ('Unknown', 'Verano', 'Corto (≤3 mi)', 1391302, Decimal('72.25')),
  ('Unknown', 'Verano', 'Largo (>3 mi)', 534256, Decimal('27.75'))],
 ['PU_BOROUGH', 'SEASON', 'TRIP_CATEGORY', 'TOTAL_TRIPS', 'PROPORTION_PCT'])

In [ ]:
# O. DIFERENCIAS POR VENDOR EN AVG_SPEED_MPH Y TRIP_DURATION_MIN
print("ANÁLISIS O: Diferencias por Vendor en Avg_Speed_Mph y Trip_Duration_Min")

# Análisis de diferencias por vendor en velocidad promedio y duración de viaje
vendor_performance_comparison = (
    df.groupBy("vendor_name")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("avg_speed_mph"), 2).alias("avg_speed_mph"),
         F.round(F.avg("trip_duration_min"), 2).alias("avg_duration_min"),
         F.round(F.avg("trip_distance"), 2).alias("avg_distance"),
         F.round(F.avg("total_amount"), 2).alias("avg_total_amount"))
    .orderBy(F.col("avg_speed_mph").desc())
)

print("DIFERENCIAS POR VENDOR EN AVG_SPEED_MPH Y TRIP_DURATION_MIN:")
vendor_performance_comparison.show()

In [32]:
# O. DIFERENCIAS POR VENDOR EN AVG_SPEED_MPH Y TRIP_DURATION_MIN
print("ANÁLISIS O: Diferencias por Vendor en Avg_Speed_Mph y Trip_Duration_Min")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    vendor_name,
    COUNT(*) AS total_trips,
    ROUND(AVG(avg_speed_mph), 2) AS avg_speed_mph,
    ROUND(AVG(trip_duration_min), 2) AS avg_duration_min,
    ROUND(AVG(trip_distance), 2) AS avg_distance,
    ROUND(AVG(total_amount), 2) AS avg_total_amount
FROM analytics.obt_trips
WHERE vendor_name IS NOT NULL
GROUP BY vendor_name
ORDER BY avg_speed_mph DESC;
"""
execute_snowflake_sql(query)

ANÁLISIS O: Diferencias por Vendor en Avg_Speed_Mph y Trip_Duration_Min

([('Creative Mobile Technologies, LLC', 319950699, 42.08, 14.41, 7.88, 17.46),
  ('Curb Mobility, LLC', 521791437, 17.18, 18.7, 4.49, 19.14),
  ('Unknown', 763798, 10.69, 14.3, 2.75, 16.62),
  ('Myle Technologies Inc', 136899, 10.39, 61.73, 10.23, 46.08)],
 ['VENDOR_NAME',
  'TOTAL_TRIPS',
  'AVG_SPEED_MPH',
  'AVG_DURATION_MIN',
  'AVG_DISTANCE',
  'AVG_TOTAL_AMOUNT'])

In [ ]:
# P. RELACIÓN MÉTODO DE PAGO ↔ TIP_AMOUNT POR HORA
print("ANÁLISIS P: Relación Método de Pago ↔ Tip_Amount por Hora")

# Análisis de la relación entre método de pago y cantidad de propina por hora del día
payment_tip_hourly_relationship = (
    df.groupBy("pickup_hour", "payment_type_desc")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("tip_amount"), 2).alias("avg_tip_amount"),
         F.round(F.avg("tip_pct"), 2).alias("avg_tip_pct"),
         F.round(F.avg("total_amount"), 2).alias("avg_total_amount"))
    .orderBy("pickup_hour", F.col("avg_tip_amount").desc())
)

print("RELACIÓN MÉTODO DE PAGO ↔ TIP_AMOUNT POR HORA:")
payment_tip_hourly_relationship.show(50)

In [33]:
# P. RELACIÓN MÉTODO DE PAGO ↔ TIP_AMOUNT POR HORA
print("ANÁLISIS P: Relación Método de Pago ↔ Tip_Amount por Hora")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    pickup_hour,
    payment_type_desc,
    COUNT(*) AS total_trips,
    ROUND(AVG(tip_amount), 2) AS avg_tip_amount,
    ROUND(AVG(tip_pct), 2) AS avg_tip_pct,
    ROUND(AVG(total_amount), 2) AS avg_total_amount
FROM analytics.obt_trips
WHERE pickup_hour IS NOT NULL
    AND payment_type_desc IS NOT NULL
GROUP BY pickup_hour, payment_type_desc
ORDER BY pickup_hour, AVG(tip_amount) DESC
LIMIT 50;
"""
execute_snowflake_sql(query)

ANÁLISIS P: Relación Método de Pago ↔ Tip_Amount por Hora

([(0, 'Credit card', 18707363, 3.0, 25.53, 20.04),
  (0, 'Unknown', 11922, 1.69, 8.14, 31.85),
  (0, 'Flex Fare trip', 702500, 0.74, 3.82, 23.76),
  (0, 'Dispute', 74846, 0.01, 0.07, 22.91),
  (0, 'No charge', 118663, 0.0, 0.02, 16.88),
  (0, 'Cash', 8117518, 0.0, 0.0, 14.73),
  (1, 'Credit card', 13197112, 2.78, 26.57, 18.69),
  (1, 'Unknown', 7393, 1.59, 7.73, 36.91),
  (1, 'Flex Fare trip', 463582, 0.71, 3.66, 23.73),
  (1, 'Dispute', 56420, 0.01, 0.05, 21.48),
  (1, 'No charge', 97244, 0.0, 0.04, 23.87),
  (1, 'Cash', 5960873, 0.0, 0.0, 14.44),
  (2, 'Credit card', 9262265, 2.64, 28.22, 17.89),
  (2, 'Unknown', 5442, 1.62, 7.54, 37.98),
  (2, 'Flex Fare trip', 317820, 0.75, 3.84, 24.01),
  (2, 'Dispute', 43416, 0.01, 0.06, 20.61),
  (2, 'No charge', 81180, 0.0, 0.05, 22.46),
  (2, 'Cash', 4396135, 0.0, 0.0, 14.32),
  (3, 'Credit card', 6355523, 2.69, 27.37, 18.51),
  (3, 'Unknown', 8295, 1.21, 4.76, 41.29),
  (3, 'Flex Fare trip', 243841, 0.94, 4.09, 26.2),
  (3, 'Dispute', 35470, 0.01, 0.14, 20.76),
  (3, 'No charge', 71297, 0.0, 0.01, 16.4),
  (3, 'Cash', 3428002, 0.0, 0.0, 15.19),
  (4, 'Credit card', 4274127, 3.29, 29.5, 22.76),
  (4, 'Flex Fare trip', 272197, 1.49, 5.12, 30.86),
  (4, 'Unknown', 21322, 1.06, 4.18, 38.98),
  (4, 'Dispute', 30372, 0.01, 0.03, 22.06),
  (4, 'No charge', 66069, 0.0, 0.02, 17.28),
  (4, 'Cash', 3133809, 0.0, 0.0, 15.97),
  (5, 'Credit card', 4626784, 3.76, 27.47, 25.91),
  (5, 'Flex Fare trip', 258972, 1.7, 5.84, 31.45),
  (5, 'Unknown', 31530, 0.92, 3.1, 39.18),
  (5, 'Dispute', 22799, 0.01, 0.02, 25.12),
  (5, 'No charge', 50707, 0.0, 0.01, 36.6),
  (5, 'Cash', 2803856, 0.0, 0.0, 15.91),
  (6, 'Credit card', 11136825, 2.95, 23.43, 20.37),
  (6, 'Flex Fare trip', 448226, 1.33, 5.52, 28.87),
  (6, 'Unknown', 59664, 0.78, 2.79, 39.89),
  (6, 'Dispute', 32793, 0.01, 0.04, 23.34),
  (6, 'No charge', 68067, 0.0, 0.03, 23.91),
  (6, 'Cash', 5198251, 0.0, 0.0, 13.65),
  (7, 'Credit card', 20504832, 2.7, 23.09, 18.33),
  (7, 'Flex Fare trip', 689745, 1.27, 6.15, 26.99),
  (7, 'Unknown', 97341, 0.84, 3.41, 35.59),
  (7, 'Dispute', 43741, 0.01, 0.04, 21.65),
  (7, 'No charge', 81178, 0.01, 0.04, 16.28),
  (7, 'Cash', 7754225, 0.0, 0.0, 13.3),
  (8, 'Credit card', 26557783, 2.71, 22.88, 18.22),
  (8, 'Flex Fare trip', 857819, 1.29, 6.36, 26.46)],
 ['PICKUP_HOUR',
  'PAYMENT_TYPE_DESC',
  'TOTAL_TRIPS',
  'AVG_TIP_AMOUNT',
  'AVG_TIP_PCT',
  'AVG_TOTAL_AMOUNT'])

In [ ]:
# Q. ZONAS CON PERCENTIL 99 DE DURACIÓN/DISTANCIA FUERA DE RANGO (POSIBLE CONGESTIÓN/EVENTOS)
print("ANÁLISIS Q: Zonas con Percentil 99 de Duración/Distancia fuera de Rango (Posible Congestión/Eventos)")

# Identificar zonas con P99 extremos que podrían indicar congestión severa o eventos especiales
zones_p99_outliers = (
    df.groupBy("pu_zone", "pu_borough")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.expr("percentile_approx(trip_duration_min, 0.99)"), 2).alias("p99_duration"),
         F.round(F.expr("percentile_approx(trip_distance, 0.99)"), 2).alias("p99_distance"),
         F.round(F.avg("trip_duration_min"), 2).alias("avg_duration"),
         F.round(F.avg("trip_distance"), 2).alias("avg_distance"),
         F.round(F.avg("avg_speed_mph"), 2).alias("avg_speed"))
    .withColumn("duration_outlier_ratio", F.round(F.col("p99_duration") / F.col("avg_duration"), 2))
    .withColumn("distance_outlier_ratio", F.round(F.col("p99_distance") / F.col("avg_distance"), 2))
    .filter((F.col("duration_outlier_ratio") > 5) | (F.col("distance_outlier_ratio") > 4) | (F.col("p99_duration") > 120))
    .orderBy(F.col("duration_outlier_ratio").desc(), F.col("distance_outlier_ratio").desc())
)

print("ZONAS CON PERCENTIL 99 DE DURACIÓN/DISTANCIA FUERA DE RANGO:")
zones_p99_outliers.show(20)

In [35]:
# Q. ZONAS CON PERCENTIL 99 DE DURACIÓN/DISTANCIA FUERA DE RANGO (POSIBLE CONGESTIÓN/EVENTOS)
print("ANÁLISIS Q: Zonas con Percentil 99 de Duración/Distancia fuera de Rango (Posible Congestión/Eventos)")

# Consulta SQL directa usando conector de Snowflake
query = """
WITH zone_metrics AS (
    SELECT
        pu_zone,
        pu_borough,
        COUNT(*) AS total_trips,
        APPROX_PERCENTILE(trip_duration_min, 0.99) AS p99_duration,
        APPROX_PERCENTILE(trip_distance, 0.99) AS p99_distance,
        ROUND(AVG(trip_duration_min), 2) AS avg_duration,
        ROUND(AVG(trip_distance), 2) AS avg_distance,
        ROUND(AVG(avg_speed_mph), 2) AS avg_speed
    FROM analytics.obt_trips
    WHERE pu_zone IS NOT NULL
      AND pu_borough IS NOT NULL
      AND trip_duration_min > 0
      AND trip_distance > 0
    GROUP BY pu_zone, pu_borough
)
SELECT
    pu_zone,
    pu_borough,
    total_trips,
    ROUND(p99_duration, 2) AS p99_duration,
    ROUND(p99_distance, 2) AS p99_distance,
    avg_duration,
    avg_distance,
    avg_speed,
    ROUND(p99_duration / NULLIF(avg_duration, 0), 2) AS duration_outlier_ratio,
    ROUND(p99_distance / NULLIF(avg_distance, 0), 2) AS distance_outlier_ratio
FROM zone_metrics
WHERE (p99_duration / NULLIF(avg_duration, 0) > 5)
   OR (p99_distance / NULLIF(avg_distance, 0) > 4)
   OR (p99_duration > 120)
ORDER BY duration_outlier_ratio DESC, distance_outlier_ratio DESC
LIMIT 20;
"""
execute_snowflake_sql(query)

ANÁLISIS Q: Zonas con Percentil 99 de Duración/Distancia fuera de Rango (Posible Congestión/Eventos)

([('Bronx Park',
   'Bronx',
   31358,
   246.23,
   22.19,
   32.37,
   14.62,
   38.16,
   7.61,
   1.52),
  ('Newark Airport',
   'EWR',
   11893,
   97.48,
   37.26,
   15.26,
   7.28,
   181.79,
   6.39,
   5.12),
  ('Rossville/Woodrow',
   'Staten Island',
   250,
   327.87,
   47.08,
   53.7,
   22.84,
   58.59,
   6.11,
   2.06),
  ('West Brighton',
   'Staten Island',
   1375,
   155.94,
   42.03,
   26.97,
   7.85,
   19.41,
   5.78,
   5.35),
  ('Coney Island',
   'Brooklyn',
   175552,
   180.02,
   30.15,
   39.88,
   29.17,
   73.75,
   4.51,
   1.03),
  ('Broad Channel',
   'Queens',
   686,
   126.9,
   31.51,
   28.84,
   9.63,
   22.08,
   4.4,
   3.27),
  ('Saint George/New Brighton',
   'Staten Island',
   4756,
   133.94,
   35.19,
   31.27,
   70.21,
   1509.52,
   4.28,
   0.5),
  ('Marine Park/Floyd Bennett Field',
   'Brooklyn',
   5874,
   132.0,
   50.2,
   30.92,
   9.85,
   23.58,
   4.27,
   5.1),
  ('Brighton Beach',
   'Brooklyn',
   57716,
   122.39,
   30.08,
   31.28,
   25.27,
   67.68,
   3.91,
   1.19),
  ('Mariners Harbor',
   'Staten Island',
   4422,
   170.96,
   36.65,
   43.8,
   14.02,
   24.38,
   3.9,
   2.61),
  ('Highbridge Park',
   'Manhattan',
   15059,
   87.2,
   23.77,
   23.02,
   5.22,
   19.09,
   3.79,
   4.55),
  ('Green-Wood Cemetery',
   'Brooklyn',
   5311,
   69.78,
   14.84,
   18.72,
   2.94,
   13.39,
   3.73,
   5.05),
  ("Governor's Island/Ellis Island/Liberty Island",
   'Manhattan',
   1018,
   64.83,
   19.98,
   17.91,
   4.16,
   13.46,
   3.62,
   4.8),
  ('East Harlem South',
   'Manhattan',
   8827657,
   52.88,
   16.15,
   15.17,
   3.71,
   18.77,
   3.49,
   4.35),
  ('Garment District',
   'Manhattan',
   14495485,
   55.0,
   16.82,
   16.0,
   3.21,
   12.43,
   3.44,
   5.24),
  ('Midtown North',
   'Manhattan',
   20772619,
   55.99,
   17.56,
   16.35,
   3.39,
   13.52,
   3.42,
   5.18),
  ('Westerleigh',
   'Staten Island',
   1284,
   114.17,
   49.9,
   33.35,
   10.46,
   25.86,
   3.42,
   4.77),
  ('Astoria Park',
   'Queens',
   10838,
   65.16,
   26.75,
   19.25,
   4.83,
   17.46,
   3.38,
   5.54),
  ('UN/Turtle Bay South',
   'Manhattan',
   10122593,
   51.83,
   16.61,
   15.42,
   3.14,
   14.1,
   3.36,
   5.29),
  ('Morningside Heights',
   'Manhattan',
   6439791,
   54.36,
   18.26,
   16.5,
   4.51,
   20.36,
   3.29,
   4.05)],
 ['PU_ZONE',
  'PU_BOROUGH',
  'TOTAL_TRIPS',
  'P99_DURATION',
  'P99_DISTANCE',
  'AVG_DURATION',
  'AVG_DISTANCE',
  'AVG_SPEED',
  'DURATION_OUTLIER_RATIO',
  'DISTANCE_OUTLIER_RATIO'])

In [ ]:
# R. YIELD POR MILLA (TOTAL_AMOUNT/TRIP_DISTANCE) POR BOROUGH Y HORA
print("ANÁLISIS R: Yield por Milla (Total_Amount/Trip_Distance) por Borough y Hora")

# Análisis del yield por milla (rentabilidad por distancia) por borough y hora del día
yield_per_mile_by_borough_hour = (
    df.filter(F.col("trip_distance") > 0)  # Evitar divisiones por cero
    .groupBy("pu_borough", "pickup_hour")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg(F.col("total_amount") / F.col("trip_distance")), 2).alias("yield_per_mile"),
         F.round(F.avg("total_amount"), 2).alias("avg_total_amount"),
         F.round(F.avg("trip_distance"), 2).alias("avg_trip_distance"),
         F.round(F.avg("tip_pct"), 2).alias("avg_tip_pct"))
    .orderBy("pu_borough", F.col("yield_per_mile").desc())
)

print("YIELD POR MILLA (TOTAL_AMOUNT/TRIP_DISTANCE) POR BOROUGH Y HORA:")
yield_per_mile_by_borough_hour.show(50)

In [36]:
# R. YIELD POR MILLA (TOTAL_AMOUNT/TRIP_DISTANCE) POR BOROUGH Y HORA
print("ANÁLISIS R: Yield por Milla (Total_Amount/Trip_Distance) por Borough y Hora")

# Consulta SQL directa usando conector de Snowflake
query = """
SELECT
    pu_borough,
    pickup_hour,
    COUNT(*) AS total_trips,
    ROUND(AVG(total_amount / trip_distance), 2) AS yield_per_mile,
    ROUND(AVG(total_amount), 2) AS avg_total_amount,
    ROUND(AVG(trip_distance), 2) AS avg_trip_distance,
    ROUND(AVG(tip_pct), 2) AS avg_tip_pct
FROM analytics.obt_trips
WHERE trip_distance > 0
    AND pu_borough IS NOT NULL
    AND pickup_hour IS NOT NULL
GROUP BY pu_borough, pickup_hour
ORDER BY pu_borough, AVG(total_amount / trip_distance) DESC
LIMIT 50;
"""
execute_snowflake_sql(query)

ANÁLISIS R: Yield por Milla (Total_Amount/Trip_Distance) por Borough y Hora

([('Bronx', 17, 279380, 14.46, 19.47, 12.53, 3.48),
  ('Bronx', 16, 273155, 13.57, 20.72, 15.39, 11.39),
  ('Bronx', 18, 254147, 13.27, 18.3, 14.1, 3.67),
  ('Bronx', 19, 215654, 11.75, 18.12, 13.54, 4.24),
  ('Bronx', 3, 58314, 10.91, 19.51, 12.31, 4.01),
  ('Bronx', 1, 95182, 10.7, 16.18, 5.93, 4.65),
  ('Bronx', 2, 67760, 10.1, 16.7, 14.86, 4.17),
  ('Bronx', 20, 191334, 9.4, 18.42, 12.78, 3.94),
  ('Bronx', 15, 279090, 9.31, 20.36, 20.36, 4.18),
  ('Bronx', 0, 129138, 9.29, 16.61, 5.55, 6.75),
  ('Bronx', 22, 174568, 8.99, 19.3, 15.4, 4.69),
  ('Bronx', 14, 271785, 8.97, 20.67, 24.39, 2.91),
  ('Bronx', 23, 161506, 8.92, 18.38, 10.78, 4.33),
  ('Bronx', 4, 72353, 8.88, 23.61, 71.7, 3.2),
  ('Bronx', 5, 87979, 8.82, 28.53, 68.84, 11.14),
  ('Bronx', 21, 182857, 8.78, 19.04, 15.52, 4.43),
  ('Bronx', 13, 251270, 8.76, 21.03, 25.56, 2.98),
  ('Bronx', 10, 256123, 8.71, 21.49, 35.72, 3.0),
  ('Bronx', 11, 245566, 8.67, 21.55, 28.39, 2.94),
  ('Bronx', 9, 284597, 8.53, 21.25, 31.05, 3.89),
  ('Bronx', 8, 306652, 8.5, 21.06, 40.8, 2.94),
  ('Bronx', 12, 250673, 8.47, 21.18, 23.92, 10.18),
  ('Bronx', 7, 246930, 7.73, 23.98, 60.15, 2.53),
  ('Bronx', 6, 149083, 7.71, 29.63, 58.01, 2.3),
  ('Brooklyn', 17, 1685963, 13.46, 18.11, 6.68, 11.46),
  ('Brooklyn', 16, 1466940, 13.01, 18.98, 8.74, 10.46),
  ('Brooklyn', 18, 1980839, 12.8, 16.81, 5.42, 12.65),
  ('Brooklyn', 19, 2008369, 10.72, 16.06, 5.46, 13.43),
  ('Brooklyn', 15, 1421661, 8.81, 18.74, 9.02, 9.68),
  ('Brooklyn', 12, 1216599, 8.6, 19.42, 10.37, 9.75),
  ('Brooklyn', 14, 1336337, 8.56, 19.1, 13.02, 9.54),
  ('Brooklyn', 13, 1225273, 8.4, 19.41, 10.58, 9.65),
  ('Brooklyn', 11, 1186388, 8.4, 19.4, 13.92, 9.63),
  ('Brooklyn', 10, 1193555, 8.2, 19.74, 13.05, 11.04),
  ('Brooklyn', 20, 1902837, 8.11, 15.91, 5.04, 13.02),
  ('Brooklyn', 9, 1322410, 8.01, 20.6, 13.98, 11.08),
  ('Brooklyn', 21, 1969873, 7.88, 16.22, 4.81, 13.33),
  ('Brooklyn', 8, 1386506, 7.65, 21.52, 18.33, 12.09),
  ('Brooklyn', 4, 689549, 7.54, 19.16, 14.21, 12.03),
  ('Brooklyn', 22, 2153040, 7.5, 16.81, 4.88, 13.82),
  ('Brooklyn', 3, 897479, 7.46, 17.43, 4.7, 12.36),
  ('Brooklyn', 23, 2224935, 7.39, 17.08, 8.0, 13.33),
  ('Brooklyn', 2, 1186894, 7.34, 16.73, 4.33, 13.0),
  ('Brooklyn', 1, 1568486, 7.24, 16.59, 4.32, 13.07),
  ('Brooklyn', 0, 1980374, 7.22, 16.78, 12.18, 13.09),
  ('Brooklyn', 5, 446949, 7.1, 23.66, 22.14, 10.75),
  ('Brooklyn', 7, 1037591, 6.95, 22.85, 17.84, 10.91),
  ('Brooklyn', 6, 660494, 6.26, 25.14, 20.75, 11.83),
  ('EWR', 14, 1044, 973.88, 86.95, 6.36, 29.21),
  ('EWR', 7, 515, 963.38, 84.63, 7.54, 26.11)],
 ['PU_BOROUGH',
  'PICKUP_HOUR',
  'TOTAL_TRIPS',
  'YIELD_PER_MILE',
  'AVG_TOTAL_AMOUNT',
  'AVG_TRIP_DISTANCE',
  'AVG_TIP_PCT'])

In [ ]:
# S. CAMBIOS YOY EN VOLUMEN Y TICKET PROMEDIO POR SERVICE_TYPE
print("ANÁLISIS S: Cambios YoY en Volumen y Ticket Promedio por Service_Type")

# Análisis de cambios año a año en volumen de viajes y ticket promedio por tipo de servicio
yoy_volume_ticket_changes = (
    df.groupBy("year", "service_type")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("total_amount"), 2).alias("avg_ticket"),
         F.round(F.sum("total_amount"), 2).alias("total_revenue"))
    .withColumn("prev_year_trips", F.lag("total_trips").over(F.Window.partitionBy("service_type").orderBy("year")))
    .withColumn("prev_year_ticket", F.lag("avg_ticket").over(F.Window.partitionBy("service_type").orderBy("year")))
    .withColumn("volume_change_pct", F.round(((F.col("total_trips") - F.col("prev_year_trips")) / F.col("prev_year_trips")) * 100, 2))
    .withColumn("ticket_change_pct", F.round(((F.col("avg_ticket") - F.col("prev_year_ticket")) / F.col("prev_year_ticket")) * 100, 2))
    .orderBy("service_type", "year")
)

print("CAMBIOS YOY EN VOLUMEN Y TICKET PROMEDIO POR SERVICE_TYPE:")
yoy_volume_ticket_changes.show(50)

In [38]:
# S. CAMBIOS YOY EN VOLUMEN Y TICKET PROMEDIO POR SERVICE_TYPE
print("ANÁLISIS S: Cambios YoY en Volumen y Ticket Promedio por Service_Type")

# Consulta SQL directa usando conector de Snowflake
query = """
WITH yearly_metrics AS (
    SELECT
        year,
        service_type,
        COUNT(*) as total_trips,
        ROUND(AVG(total_amount), 2) as avg_ticket,
        ROUND(SUM(total_amount), 2) as total_revenue
    FROM analytics.obt_trips
    WHERE service_type IS NOT NULL
    GROUP BY year, service_type
)
SELECT
    year,
    service_type,
    total_trips,
    avg_ticket,
    total_revenue,
    LAG(total_trips) OVER (PARTITION BY service_type ORDER BY year) as prev_year_trips,
    LAG(avg_ticket) OVER (PARTITION BY service_type ORDER BY year) as prev_year_ticket,
    ROUND(((total_trips - LAG(total_trips) OVER (PARTITION BY service_type ORDER BY year)) * 100.0 /
           LAG(total_trips) OVER (PARTITION BY service_type ORDER BY year)), 2) as volume_change_pct,
    ROUND(((avg_ticket - LAG(avg_ticket) OVER (PARTITION BY service_type ORDER BY year)) * 100.0 /
           LAG(avg_ticket) OVER (PARTITION BY service_type ORDER BY year)), 2) as ticket_change_pct
FROM yearly_metrics
ORDER BY service_type, year
LIMIT 50;
"""
execute_snowflake_sql(query)

ANÁLISIS S: Cambios YoY en Volumen y Ticket Promedio por Service_Type

([(2008, 'green', 89, 15.99, 1423.51, None, None, None, None),
  (2009, 'green', 273, 18.29, 4993.17, 89, 15.99, Decimal('206.74'), 14.38),
  (2010, 'green', 326, 18.36, 5984.06, 273, 18.29, Decimal('19.41'), 0.38),
  (2012, 'green', 3, 9.79, 29.36, 326, 18.36, Decimal('-99.08'), -46.68),
  (2015,
   'green',
   18936262,
   14.87,
   281511044.17,
   3,
   9.79,
   Decimal('631208633.33'),
   51.89),
  (2016,
   'green',
   16130618,
   14.69,
   236885515.02,
   18936262,
   14.87,
   Decimal('-14.82'),
   -1.21),
  (2017,
   'green',
   11571826,
   14.3,
   165486636.29,
   16130618,
   14.69,
   Decimal('-28.26'),
   -2.65),
  (2018,
   'green',
   8781384,
   16.2,
   142215050.78,
   11571826,
   14.3,
   Decimal('-24.11'),
   13.29),
  (2019,
   'green',
   5138221,
   18.53,
   95211274.17,
   8781384,
   16.2,
   Decimal('-41.49'),
   14.38),
  (2020,
   'green',
   1703900,
   20.34,
   34655123.67,
   5138221,
   18.53,
   Decimal('-66.84'),
   9.77),
  (2021,
   'green',
   1049905,
   24.14,
   25347105.3,
   1703900,
   20.34,
   Decimal('-38.38'),
   18.68),
  (2022,
   'green',
   815923,
   19.32,
   15761659.43,
   1049905,
   24.14,
   Decimal('-22.29'),
   -19.97),
  (2023,
   'green',
   768882,
   23.92,
   18388188.37,
   815923,
   19.32,
   Decimal('-5.77'),
   23.81),
  (2024,
   'green',
   642916,
   24.3,
   15624029.29,
   768882,
   23.92,
   Decimal('-16.38'),
   1.59),
  (2025,
   'green',
   383858,
   24.93,
   9568979.31,
   642916,
   24.3,
   Decimal('-40.29'),
   2.59),
  (2030, 'green', 1, 7.3, 7.3, 383858, 24.93, Decimal('-100.00'), -70.72),
  (2062, 'green', 1, 3.6, 3.6, 1, 7.3, Decimal('0.00'), -50.68),
  (2081, 'green', 1, 55.96, 55.96, 1, 3.6, Decimal('0.00'), 1454.44),
  (2001, 'yellow', 25, 24.99, 624.66, None, None, None, None),
  (2002, 'yellow', 288, 23.67, 6815.73, 25, 24.99, Decimal('1052.00'), -5.28),
  (2003, 'yellow', 37, 33.8, 1250.47, 288, 23.67, Decimal('-87.15'), 42.8),
  (2004, 'yellow', 1, 12.3, 12.3, 37, 33.8, Decimal('-97.30'), -63.61),
  (2007, 'yellow', 1, 22.75, 22.75, 1, 12.3, Decimal('0.00'), 84.96),
  (2008, 'yellow', 729, 24.5, 17863.24, 1, 22.75, Decimal('72800.00'), 7.69),
  (2009, 'yellow', 1226, 20.36, 24958.17, 729, 24.5, Decimal('68.18'), -16.9),
  (2010, 'yellow', 1, 18.36, 18.36, 1226, 20.36, Decimal('-99.92'), -9.82),
  (2011, 'yellow', 4, 13.89, 55.56, 1, 18.36, Decimal('300.00'), -24.35),
  (2014, 'yellow', 1, 52.38, 52.38, 4, 13.89, Decimal('-75.00'), 277.11),
  (2015,
   'yellow',
   145215485,
   16.06,
   2332254884.04,
   1,
   52.38,
   Decimal('14521548400.00'),
   -69.34),
  (2016,
   'yellow',
   130387941,
   16.32,
   2128215698.38,
   145215485,
   16.06,
   Decimal('-10.21'),
   1.62),
  (2017,
   'yellow',
   112808821,
   16.29,
   1837581461.21,
   130387941,
   16.32,
   Decimal('-13.48'),
   -0.18),
  (2018,
   'yellow',
   102198903,
   16.36,
   1672441207.27,
   112808821,
   16.29,
   Decimal('-9.41'),
   0.43),
  (2019,
   'yellow',
   83849116,
   19.15,
   1605719328.74,
   102198903,
   16.36,
   Decimal('-17.95'),
   17.05),
  (2020,
   'yellow',
   24359319,
   18.45,
   449474387.7,
   83849116,
   19.15,
   Decimal('-70.95'),
   -3.66),
  (2021,
   'yellow',
   30502308,
   19.76,
   602810100.52,
   24359319,
   18.45,
   Decimal('25.22'),
   7.1),
  (2022,
   'yellow',
   39039278,
   21.76,
   849435647.99,
   30502308,
   19.76,
   Decimal('27.99'),
   10.12),
  (2023,
   'yellow',
   37666512,
   28.9,
   1088729898.42,
   39039278,
   21.76,
   Decimal('-3.52'),
   32.81),
  (2024,
   'yellow',
   40257145,
   28.53,
   1148626016.98,
   37666512,
   28.9,
   Decimal('6.88'),
   -1.28),
  (2025,
   'yellow',
   30431259,
   27.36,
   832671300.56,
   40257145,
   28.53,
   Decimal('-24.41'),
   -4.1),
  (2026,
   'yellow',
   5,
   34.09,
   170.47,
   30431259,
   27.36,
   Decimal('-100.00'),
   24.6),
  (2028, 'yellow', 1, 63.1, 63.1, 5, 34.09, Decimal('-80.00'), 85.1),
  (2029, 'yellow', 6, 21.36, 128.13, 1, 63.1, Decimal('500.00'), -66.15),
  (2031, 'yellow', 2, 9.8, 19.6, 6, 21.36, Decimal('-66.67'), -54.12),
  (2032, 'yellow', 1, 63.3, 63.3, 2, 9.8, Decimal('-50.00'), 545.92),
  (2033, 'yellow', 3, 8.8, 26.4, 1, 63.3, Decimal('200.00'), -86.1),
  (2037, 'yellow', 1, 18.0, 18.0, 3, 8.8, Decimal('-66.67'), 104.55),
  (2038, 'yellow', 4, 12.07, 48.26, 1, 18.0, Decimal('300.00'), -32.94),
  (2041, 'yellow', 3, 18.55, 55.66, 4, 12.07, Decimal('-25.00'), 53.69),
  (2042, 'yellow', 1, 4.8, 4.8, 3, 18.55, Decimal('-66.67'), -74.12),
  (2053, 'yellow', 1, 5.8, 5.8, 1, 4.8, Decimal('0.00'), 20.83)],
 ['YEAR',
  'SERVICE_TYPE',
  'TOTAL_TRIPS',
  'AVG_TICKET',
  'TOTAL_REVENUE',
  'PREV_YEAR_TRIPS',
  'PREV_YEAR_TICKET',
  'VOLUME_CHANGE_PCT',
  'TICKET_CHANGE_PCT'])

In [ ]:
# T. DÍAS CON ALTA CONGESTION_SURCHARGE - EFECTO EN TOTAL_AMOUNT VS DÍAS NORMALES
print("ANÁLISIS T: Días con Alta Congestion_Surcharge - Efecto en Total_Amount vs Días Normales")

# Análisis del efecto de la congestión en el total_amount comparando días con alta congestión vs días normales
congestion_effect_analysis = (
    df.withColumn("has_congestion", F.when(F.col("congestion_surcharge") > 0, "Con Congestión").otherwise("Sin Congestión"))
    .groupBy("pickup_date", "has_congestion")
    .agg(F.count("*").alias("total_trips"),
         F.round(F.avg("total_amount"), 2).alias("avg_total_amount"),
         F.round(F.avg("congestion_surcharge"), 2).alias("avg_congestion_surcharge"),
         F.round(F.avg("trip_duration_min"), 2).alias("avg_duration"),
         F.round(F.avg("avg_speed_mph"), 2).alias("avg_speed"))
    .withColumn("daily_trips", F.sum("total_trips").over(F.Window.partitionBy("pickup_date")))
    .withColumn("congestion_pct", F.round((F.col("total_trips") * 100.0 / F.col("daily_trips")), 2))
    .filter(F.col("has_congestion") == "Con Congestión")
    .withColumn("high_congestion_day", F.when(F.col("congestion_pct") >= 30, "Día Alta Congestión").otherwise("Día Normal"))
    .orderBy("pickup_date")
)

print("DÍAS CON ALTA CONGESTION_SURCHARGE - EFECTO EN TOTAL_AMOUNT VS DÍAS NORMALES:")
congestion_effect_analysis.show(50)

In [39]:
# T. DÍAS CON ALTA CONGESTION_SURCHARGE - EFECTO EN TOTAL_AMOUNT VS DÍAS NORMALES
print("ANÁLISIS T: Días con Alta Congestion_Surcharge - Efecto en Total_Amount vs Días Normales")

query = """
WITH daily_stats AS (
    SELECT
        pickup_date,
        CASE WHEN congestion_surcharge > 0 THEN 'Con Congestión' ELSE 'Sin Congestión' END AS has_congestion,
        COUNT(*) AS total_trips,
        ROUND(AVG(total_amount), 2) AS avg_total_amount,
        ROUND(AVG(congestion_surcharge), 2) AS avg_congestion_surcharge,
        ROUND(AVG(trip_duration_min), 2) AS avg_duration,
        ROUND(AVG(avg_speed_mph), 2) AS avg_speed
    FROM analytics.obt_trips
    WHERE pickup_date IS NOT NULL
    GROUP BY pickup_date, has_congestion
),
with_daily_totals AS (
    SELECT
        *,
        SUM(total_trips) OVER (PARTITION BY pickup_date) AS daily_trips,
        ROUND((total_trips * 100.0 / SUM(total_trips) OVER (PARTITION BY pickup_date)), 2) AS congestion_pct
    FROM daily_stats
)
SELECT
    pickup_date,
    has_congestion,
    total_trips,
    avg_total_amount,
    avg_congestion_surcharge,
    avg_duration,
    avg_speed,
    daily_trips,
    congestion_pct,
    CASE WHEN congestion_pct >= 30 THEN 'Día Alta Congestión' ELSE 'Día Normal' END AS high_congestion_day
FROM with_daily_totals
WHERE has_congestion = 'Con Congestión'
ORDER BY pickup_date
LIMIT 50;
"""
execute_snowflake_sql(query)

ANÁLISIS T: Días con Alta Congestion_Surcharge - Efecto en Total_Amount vs Días Normales

([(datetime.date(2001, 1, 1),
   'Con Congestión',
   12,
   41.63,
   2.5,
   467.67,
   5.57,
   20,
   Decimal('60.00'),
   'Día Alta Congestión'),
  (datetime.date(2002, 2, 2),
   'Con Congestión',
   11,
   17.9,
   2.5,
   241.73,
   7.65,
   11,
   Decimal('100.00'),
   'Día Alta Congestión'),
  (datetime.date(2002, 10, 21),
   'Con Congestión',
   17,
   19.01,
   2.5,
   11.65,
   13.66,
   23,
   Decimal('73.91'),
   'Día Alta Congestión'),
  (datetime.date(2002, 10, 22),
   'Con Congestión',
   36,
   18.12,
   2.5,
   13.22,
   8.84,
   43,
   Decimal('83.72'),
   'Día Alta Congestión'),
  (datetime.date(2002, 10, 23),
   'Con Congestión',
   25,
   15.15,
   2.5,
   10.32,
   11.9,
   38,
   Decimal('65.79'),
   'Día Alta Congestión'),
  (datetime.date(2002, 10, 24),
   'Con Congestión',
   24,
   18.66,
   2.5,
   12.67,
   10.64,
   31,
   Decimal('77.42'),
   'Día Alta Congestión'),
  (datetime.date(2002, 10, 25),
   'Con Congestión',
   25,
   19.38,
   2.5,
   12.08,
   8.94,
   35,
   Decimal('71.43'),
   'Día Alta Congestión'),
  (datetime.date(2002, 10, 26),
   'Con Congestión',
   14,
   15.61,
   2.5,
   8.79,
   12.92,
   21,
   Decimal('66.67'),
   'Día Alta Congestión'),
  (datetime.date(2002, 10, 27),
   'Con Congestión',
   19,
   17.96,
   2.5,
   13.89,
   12.81,
   28,
   Decimal('67.86'),
   'Día Alta Congestión'),
  (datetime.date(2002, 10, 28),
   'Con Congestión',
   6,
   10.72,
   2.5,
   7.0,
   12.13,
   15,
   Decimal('40.00'),
   'Día Alta Congestión'),
  (datetime.date(2002, 12, 31),
   'Con Congestión',
   16,
   46.18,
   2.5,
   421.13,
   13.86,
   43,
   Decimal('37.21'),
   'Día Alta Congestión'),
  (datetime.date(2003, 1, 1),
   'Con Congestión',
   10,
   34.36,
   2.5,
   329.0,
   9.13,
   33,
   Decimal('30.30'),
   'Día Alta Congestión'),
  (datetime.date(2004, 4, 4),
   'Con Congestión',
   1,
   12.3,
   2.5,
   1421.0,
   0.07,
   1,
   Decimal('100.00'),
   'Día Alta Congestión'),
  (datetime.date(2007, 12, 5),
   'Con Congestión',
   1,
   22.75,
   2.5,
   17.0,
   10.59,
   1,
   Decimal('100.00'),
   'Día Alta Congestión'),
  (datetime.date(2008, 8, 8),
   'Con Congestión',
   2,
   10.13,
   2.5,
   337.0,
   6.35,
   2,
   Decimal('100.00'),
   'Día Alta Congestión'),
  (datetime.date(2008, 12, 31),
   'Con Congestión',
   270,
   24.41,
   2.5,
   389.22,
   7.99,
   816,
   Decimal('33.09'),
   'Día Alta Congestión'),
  (datetime.date(2009, 1, 1),
   'Con Congestión',
   541,
   19.85,
   2.5,
   269.51,
   7.86,
   1494,
   Decimal('36.21'),
   'Día Alta Congestión'),
  (datetime.date(2009, 1, 2),
   'Con Congestión',
   4,
   22.25,
   2.5,
   19.5,
   10.71,
   5,
   Decimal('80.00'),
   'Día Alta Congestión'),
  (datetime.date(2010, 8, 8),
   'Con Congestión',
   1,
   18.36,
   2.5,
   1189.0,
   0.14,
   1,
   Decimal('100.00'),
   'Día Alta Congestión'),
  (datetime.date(2010, 9, 23),
   'Con Congestión',
   2,
   51.18,
   2.75,
   976.0,
   0.53,
   326,
   Decimal('0.61'),
   'Día Normal'),
  (datetime.date(2011, 1, 31),
   'Con Congestión',
   2,
   12.8,
   2.5,
   12.5,
   9.29,
   2,
   Decimal('100.00'),
   'Día Alta Congestión'),
  (datetime.date(2011, 2, 1),
   'Con Congestión',
   2,
   14.98,
   2.5,
   433.0,
   3.26,
   2,
   Decimal('100.00'),
   'Día Alta Congestión'),
  (datetime.date(2014, 11, 19),
   'Con Congestión',
   1,
   52.38,
   2.5,
   428.0,
   0.9,
   1,
   Decimal('100.00'),
   'Día Alta Congestión'),
  (datetime.date(2018, 1, 11),
   'Con Congestión',
   2,
   16.36,
   2.5,
   14.0,
   7.29,
   329576,
   Decimal('0.00'),
   'Día Normal'),
  (datetime.date(2018, 1, 12),
   'Con Congestión',
   10,
   14.55,
   2.5,
   11.3,
   9.94,
   345818,
   Decimal('0.00'),
   'Día Normal'),
  (datetime.date(2018, 9, 13),
   'Con Congestión',
   21,
   20.43,
   2.5,
   12.86,
   14.93,
   322957,
   Decimal('0.01'),
   'Día Normal'),
  (datetime.date(2019, 1, 28),
   'Con Congestión',
   1,
   2.76,
   2.75,
   11.0,
   None,
   261057,
   Decimal('0.00'),
   'Día Normal'),
  (datetime.date(2019, 1, 29),
   'Con Congestión',
   5,
   9.38,
   2.5,
   4.0,
   13.52,
   280950,
   Decimal('0.00'),
   'Día Normal'),
  (datetime.date(2019, 1, 30),
   'Con Congestión',
   27,
   15.27,
   2.5,
   11.22,
   10.65,
   297370,
   Decimal('0.01'),
   'Día Normal'),
  (datetime.date(2019, 1, 31),
   'Con Congestión',
   5,
   14.64,
   2.55,
   10.6,
   9.82,
   304949,
   Decimal('0.00'),
   'Día Normal'),
  (datetime.date(2019, 2, 1),
   'Con Congestión',
   11257,
   18.74,
   2.5,
   23.38,
   11.45,
   323361,
   Decimal('3.48'),
   'Día Normal'),
  (datetime.date(2019, 2, 2),
   'Con Congestión',
   197344,
   16.74,
   2.5,
   17.03,
   10.96,
   287962,
   Decimal('68.53'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 3),
   'Con Congestión',
   199043,
   17.52,
   2.5,
   15.37,
   13.21,
   238946,
   Decimal('83.30'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 4),
   'Con Congestión',
   212635,
   18.28,
   2.5,
   16.11,
   11.51,
   253429,
   Decimal('83.90'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 5),
   'Con Congestión',
   234063,
   18.09,
   2.5,
   16.52,
   10.89,
   273189,
   Decimal('85.68'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 6),
   'Con Congestión',
   258150,
   18.1,
   2.5,
   17.35,
   10.13,
   300532,
   Decimal('85.90'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 7),
   'Con Congestión',
   256564,
   18.58,
   2.5,
   17.77,
   10.3,
   297854,
   Decimal('86.14'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 8),
   'Con Congestión',
   268190,
   18.31,
   2.5,
   17.67,
   10.12,
   313135,
   Decimal('85.65'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 9),
   'Con Congestión',
   258581,
   17.0,
   2.5,
   16.73,
   10.87,
   298603,
   Decimal('86.60'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 10),
   'Con Congestión',
   202783,
   17.8,
   2.5,
   16.04,
   12.76,
   238507,
   Decimal('85.02'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 11),
   'Con Congestión',
   216885,
   18.25,
   2.5,
   16.41,
   11.28,
   256406,
   Decimal('84.59'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 12),
   'Con Congestión',
   220833,
   17.06,
   2.5,
   15.82,
   10.43,
   254442,
   Decimal('86.79'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 13),
   'Con Congestión',
   247648,
   18.36,
   2.5,
   17.36,
   10.33,
   289469,
   Decimal('85.55'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 14),
   'Con Congestión',
   249905,
   18.49,
   2.5,
   18.05,
   10.05,
   294303,
   Decimal('84.91'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 15),
   'Con Congestión',
   235932,
   18.68,
   2.5,
   17.91,
   10.47,
   279368,
   Decimal('84.45'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 16),
   'Con Congestión',
   222826,
   17.12,
   2.5,
   16.72,
   11.49,
   260001,
   Decimal('85.70'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 17),
   'Con Congestión',
   194363,
   17.22,
   2.5,
   15.95,
   12.49,
   228931,
   Decimal('84.90'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 18),
   'Con Congestión',
   176524,
   17.79,
   2.5,
   14.88,
   13.5,
   207217,
   Decimal('85.19'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 19),
   'Con Congestión',
   216639,
   18.57,
   2.5,
   17.34,
   10.79,
   255545,
   Decimal('84.78'),
   'Día Alta Congestión'),
  (datetime.date(2019, 2, 20),
   'Con Congestión',
   223524,
   17.7,
   2.5,
   16.64,
   10.59,
   260208,
   Decimal('85.90'),
   'Día Alta Congestión')],
 ['PICKUP_DATE',
  'HAS_CONGESTION',
  'TOTAL_TRIPS',
  'AVG_TOTAL_AMOUNT',
  'AVG_CONGESTION_SURCHARGE',
  'AVG_DURATION',
  'AVG_SPEED',
  'DAILY_TRIPS',
  'CONGESTION_PCT',
  'HIGH_CONGESTION_DAY'])